
.big_boss{
		height:1762px;
		width:1150px;  
		margin:0 auto;
		background-color:#fbfbfb;
		}
/*<!--头部开始-->*/			
 .header_left{
			width:474px;
			height:123px;
			 margin-left:75px;
			 float:left;
			 }
.header_right{	   
		width:488px;
		height:60px;	 
		float:left;
		margin-left:97px;
		margin-top:34px;
}	

.header_right li{	
		float:left;
		margin-left:7px;
		margin-top:12px;
}	
.deng_lu{
			margin-left:328px;
		margin-top:1px;
}
.deng_lu a{color:green;
}
.an_li a{	   
		color:black;
}
/*<!--头部结束-->*/	
/*<!--nav开始-->*/
.nav{
	float:left;
}
.nav_a{	
		width:1150px;
         height:50px;
		float:left;
}	
.nav_a {	
		margin-top:2px;
}	
.qi_ye{
		width:225px;
         height:41px;
		 float:left;
		 background-color:ffa72b;
		text-align:center;
}						
.qi_ye p{
		margin-top:10px;
}	
.nav_a a{
		color:white;
}					
.d_zi{
		width:225px;
         height:41px;
		 float:left;
		 background-color:gray;
		text-align:center;
		margin-left:4px;
}					
.d_zi p{
		margin-top:10px;
}	
.m_hu{
		width:225px;
         height:41px;
		 float:left;
		  background-color:gray;
		text-align:center;
		margin-left:4px;
}	
.m_hu p{
		margin-top:10px;
}					
.xi_to{
		width:225px;
         height:41px;
		 float:left;
		  background-color:gray;
		text-align:center;
		margin-left:4px;
}	
.xi_to p{
		margin-top:10px;
}					
.tuo_go{
		width:234px;
         height:41px;
		 float:left;
		  background-color:gray;
		text-align:center;
		margin-left:4px;
}	
.tuo_go p{
		margin-top:10px;
}	
.he_zuo div{
	float:left;
	margin-left:2px;
	margin-top:8px;
}
.he_zuos p{
	margin-left:30px;
}
.he_zuoa p{
	margin-left:30px;
}
.ai_fu div{
	float:left;
	margin-left:2px;
	margin-top:17px;
}
.ai_fus p{
	margin-left:30px;
}
.ai_fua p{
	margin-left:30px;
}
.ai_zi div{
	float:left;
	margin-left:2px;
	margin-top:17px;
}
.ai_zis p{
	margin-left:30px;
}
.ai_zia p{
	margin-left:30px;
}
.ye_tiao{	
		width:1150px;
         height:50px;
		text-align:center;
		margin-left:324px;
		margin-bottom:206px;
}	
.ye_tiao{	
		margin-top:25px;
}	
.ye_tiaoa{
		width:35px;
         height:34px;
		 float:left;
		 border:1px solid gray;
		text-align:center;
		margin-left:5px;
		margin-top:6px;
		
}						
.ye_tiaoa p{
		margin-top:6px;
		color:gray;
		
}	
.ye_tiaoa a{
		color:gray;
}					
.ye_tiaos{
		width:99px;
         height:34px;
		 float:left;
		 border:1px solid gray;
		text-align:center;
		margin-left:5px;
		margin-top:6px;
}						
.ye_tiaos p{
		margin-top:6px;
		color:gray;
		
}	
.ye_tiaos a{
		color:gray;
}					


/*<!--中部内容结束-->*/	
/*	<!--尾部开始-->*/			
.footer_k{
	     width:1150px;
         height:42px;
		 border:1px solid gray;
		 border-left-style:none;
		 border-right-style:none;
		 margin-top:30px;
		 line-height:37px;
		float:left;		 		 
}
.footer_k li{
	    
		 margin-bottom:5px;
		float:left;	
		margin-top:4px;	
		margin-left:15px;
}

 
.footer_k a{
	   color:#ff8f54;
      
}


.text{
		margin-top:38px;
		float:left;
		font-size:13px;
		 margin-left:5px;
			}

.text1{
		margin-top:38px;
		float:left;
		 font-size:13px;
		 margin-left:160px;
}	
.text2{	  			
		 height:54px;
		  float:left;
		  margin-left:266px;
}	  
	  
.text2 li{
	   margin-left:7px;
	   float:left;
		font-size:13px;
		margin-bottom:40px;
}	 
.fen_xiang{
	margin-top:38px;
}  
.text2 img{
	margin-top:32px;
}
 
/*<!--尾部结束-->*/	  
	  