.big_box{
	width:1340px;
	height:8200px;
	margin:auto;
	background:url(../images/back_03.png)repeat;
}
.header_box{
	width:1339px;
	height:800px;
	float:left;	
}
.ima_logo{
	width:1345px;
	height:800px;
	float:left;
}
.logo_img{
	position: absolute;
	margin-left:37px;
	margin-top:20px;
	
	position:absolute; 
	z-index:999; 
}
.zhi_zhan{
	text-align:center;
	margin-left:136px;
	margin-top:38px;
	float:left;	
	position:absolute; 
	z-index:999;
	color:white;
}
.zhi_zhan b{
		font-size:20px;
}
.wz_soye{
	margin-left:472px;
	margin-top:40px;
	float:left;
	position:absolute; 
	z-index:999; 
}
.wz_soye a{
	margin-left:28px;
	font-size:19px;
	float:left;
	color:white;
	
}
.wei_du{
	margin-left:76px;
	margin-top:710px;
	position:absolute; 
	z-index:999; 
	float:left;
	color:white;
}
.hu_wai{
	width:250px;
	height:180px;
	margin-left:741px;
	margin-top:614px;
	float:right;
	position:absolute; 
	z-index:999; 
	background-color:#AED429;
}
.hu_wai li{
	text-align:center;
	margin-top:4px;
	color:green;
}
.lian_xing{
	width:288px;
	height:120px;
	float:left;
	margin-left:991px;
	margin-top:674px;
	background-color:#FFB232;
	position:absolute; 
	z-index:999; 
}
.lian_xing li{	
		float:left;
}
.lian_xi{
	width:168px;
	height:132px;
	text-align:center;
	margin-top:7px;
}
.lian_ima img{
	width:120px;
	height:120px;
	float:left;
}
.header_top{
	width:1328px;
	height:203px;
	float:left;
}
.header_top img{width:1343px;}
.lu_xian{
	width:1270px;
	height:90px;
	float:left;
	margin-left:35px;
}
.lu_xian  img{
	margin-left:10px;
	margin-top:48px;
	}
.lu_xian p{
	position:relative;
	top:-26px;
	left:8px;
	font-family: "Microsoft YaHei"; 
	font-size: 22px;
}
/**/
/*中部内容*/
.small_box{width:1339px;
height:2400px;}
.text_zi{
	float:left;
	margin-left:80px;
	margin-top:37px;
}
.text_zi li{
	color:gray;
	letter-spacing:7px;
}
.ping_bu{
	float:left;
	width:1198px;
	height:8px;
	margin-left:73px;
	margin-top:85px;
	background:url(../images/xgray_line11.png)repeat;
}
.text_zia li{
	float:right;
}








/*中部内容结束*/

/**//**//**//**/
/**//**//**//**/





.foot_text{
	width:1339px;
	height:100px;
	float:left;
	margin-top:25px;
	background:#282828;
	
}
.foot_text li{
	font-size:13px;
	color:gray;
	margin-top:20px;
}
.foot_texts{
	float:left;
	margin-left:251px;
}
.di_zhi{
	float:left;
	margin-left:50px;
	text-align:center;
}
.foot_texta{	
	float:left;
	margin-left:35px;	
}
.foot_texte{	
	float:left;
	margin-left:35px;
}
.foot_texti{
	float:left;
	margin-left:65px;
	margin-top:25px;
}
.foot_texti li{	
	float:left;
	margin-left:6px;	
}