`<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/guestbook.css" />
    <title>文豆电子网-我的留言</title>
</head>

<body>
    <{include file='header.html'}>
    <div class="ad">
        <img src="images/ad_02.png" alt="" />
    </div>

    <div class="content">
        <div class="content-left">
            <img src="images/rope.png" alt="" class="rope" />
            <p class="title-en">News Center</p>
            <h1 class="title-zh">客户留言</h1>
            <ul class="child-menu">
                <li>
                    <a href="user_info.php">我的详细信息</a>
                </li>
				<li><a href="user_info.php">修改详细信息</a></li>
				<li><a href="guestbook.php">我的留言</a></li>
                <li class="no-border">
                    <a href="guestbook.php">客户留言</a>
                </li>
            </ul>
        </div>

        <div class="content-right">
            <!-- 内容右边标题 开始 -->
            <h1 class="title">
                <span class="float-left">我的留言</span>
                <span class="small-title">梦想的世界</span>
                <span class="title-link">
                    <a href="">主页 ></a>
                    <a href="">我的留言</a>
                </span>
            </h1>

            <!-- 文章内容 开始 -->
            <div class="article">
                <img src="images/banner.png" alt="" />
                <form action="" method="post">
                    <table>
                        <tbody>
                            <tr>
                                <td class="prop">
                                    <label>用户名</label>
                                </td>
                                <td>
                                    <input type="text" class="inpt_name" name="username" style="width:200px"></td>
                            </tr>
                            <tr>
                                <td class="prop">
                                    <label class="prop">
                                        <label>电子邮件</label>
                                    </label>
                                </td>
                                <td colspan="3">
                                    <input type="text" name="email"></td>
                            </tr>
                            <tr>
                                <td class="prop">
                                    <label>
                                        <label>主题</label>
                                    </label>
                                </td>
                                <td colspan="3">
                                    <input type="text" name="title"></td>
                            </tr>
                            <tr>
                                <td class="prop">
                                    <label>描述</label>
                                </td>
                                <td colspan="3">
                                    <textarea name="content"></textarea>
                                </td>
                            </tr>
                            <tr class="button">
                                <td colspan="4">
                                    <input type="submit" value="提交" class="inpt_submit">
                                    <input type="reset" value="重置" class="inpt_resset"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <div class="clear"></div>
<{include file='footer.html'}>
</body>
</html>