<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/article_history.css" />
    <title>公司历史</title>
</head>

<body>
   <{include file='header.html'}>
    <div class="ad">
        <img src="images/ad_02.png" alt="" />
    </div>

    <div class="content">
        <div class="content-left">
            <img src="images/rope.png" alt="" class="rope" />
            <p class="title-en">COMPANY</p>
            <h1 class="title-zh">关于我们</h1>
            <ul class="child-menu">
                <li>
                    <a href="">CEO 致词</a>
                </li>
                <li>
                    <a href="">公司历史</a>
                </li>
                <li>
                    <a href="">企业文化</a>
                </li>
                <li>
                    <a href="">组织结构</a>
                </li>
                <li>
                    <a href="">合作伙伴</a>
                </li>
                <li class="last">
                    <a href="">联系我们</a>
                </li>
            </ul>
        </div>

        <div class="content-right">
            <!-- 内容右边标题 开始 -->
            <h1 class="title">
                <span class="float-left">公司历史</span>
                <span class="small-title">梦想的世界</span>
                <span class="title-link">
                    <a href="">主页 ></a>
                    <a href="">关于我们 ></a>
                    <a href="">公司历史</a>
                </span>
            </h1>

            <!-- 文章内容 开始 -->
            <div class="article">
                <img src="images/company_history.png" alt="" class="picture" />
                <table class="history">
                    <tr class="first">
                        <td class="year">2008</td>
                        <td class="month">
                            <ul>
                                <li><span class="dot">▪</span> <b class="mon">7月</b> - <span class="desc">开始销售1000制作及</span></li>
                                <li><span class="dot">▪</span> <b class="mon">6月</b> - <span class="desc">突破10万名会员的网络</span></li>
                                <li><span class="dot">▪</span> <b class="mon">5月</b> - <span class="desc">设立1000网页</span></li>
                                <li><span class="dot">▪</span> <b class="mon">4月</b> - <span class="desc">web 20套(模板、插图等)制作</span></li>
                                <li><span class="dot">▪</span> <b class="mon">3月</b> - <span class="desc">web自身形象开发及销售</span></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="year">2007</td>
                        <td class="month">
                            <ul>
                                <li><span class="dot">▪</span> <b class="mon">7月</b> - <span class="desc">开始销售1000制作及</span></li>
                                <li><span class="dot">▪</span> <b class="mon">6月</b> - <span class="desc">突破10万名会员的网络</span></li>
                                <li><span class="dot">▪</span> <b class="mon">5月</b> - <span class="desc">设立1000网页</span></li>
                                <li><span class="dot">▪</span> <b class="mon">4月</b> - <span class="desc">web 20套(模板、插图等)制作</span></li>
                                <li><span class="dot">▪</span> <b class="mon">3月</b> - <span class="desc">web自身形象开发及销售</span></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="year">2006</td>
                        <td class="month">
                            <ul>
                                <li><span class="dot">▪</span> <b class="mon">7月</b> - <span class="desc">开始销售1000制作及</span></li>
                                <li><span class="dot">▪</span> <b class="mon">6月</b> - <span class="desc">突破10万名会员的网络</span></li>
                                <li><span class="dot">▪</span> <b class="mon">5月</b> - <span class="desc">设立1000网页</span></li>
                                <li><span class="dot">▪</span> <b class="mon">4月</b> - <span class="desc">web 20套(模板、插图等)制作</span></li>
                                <li><span class="dot">▪</span> <b class="mon">3月</b> - <span class="desc">web自身形象开发及销售</span></li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="last">
                        <td class="year">2005</td>
                        <td class="month">
                            <ul>
                                <li><span class="dot">▪</span> <b class="mon">7月</b> - <span class="desc">开始销售1000制作及</span></li>
                                <li><span class="dot">▪</span> <b class="mon">6月</b> - <span class="desc">突破10万名会员的网络</span></li>
                                <li><span class="dot">▪</span> <b class="mon">5月</b> - <span class="desc">设立1000网页</span></li>
                                <li><span class="dot">▪</span> <b class="mon">4月</b> - <span class="desc">web 20套(模板、插图等)制作</span></li>
                                <li><span class="dot">▪</span> <b class="mon">3月</b> - <span class="desc">web自身形象开发及销售</span></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="clear"></div>

    <div class="footer">
     		   <{include file='footer.html'}>
    </div>
</body>
</html>