<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/news_list.css" />
    <link rel="stylesheet" type="text/css" href="css/page.css" />
    <title>文豆电子网-新闻中心</title>
</head>

<body>
   <{include file='header.html'}>
    <div class="ad">
        <img src="images/ad_02.png" alt="" />
    </div>

    <div class="content">
        <div class="content-left">
            <img src="images/rope.png" alt="" class="rope" />
            <p class="title-en">News Center</p>
            <h1 class="title-zh">新闻中心</h1>
            <ul class="child-menu">
                <li>
                    <a href="">科技咨询</a>
                </li>
                <li class="last">
                    <a href="">行业新闻</a>
                </li>
            </ul>
        </div>

        <div class="content-right">
            <!-- 内容右边标题 开始 -->
            <h1 class="title">
                <span class="float-left">科技咨询</span>
                <span class="small-title">梦想的世界</span>
                <span class="title-link">
                    <a href="">主页 ></a>
                    <a href="">新闻 ></a>
                    <a href="">科技咨询</a>
                </span>
            </h1>

            <!-- 文章内容 开始 -->
            <div class="article">
                <img src="images/banner.png" alt="" />
                <table class="list">
                    <tr class="list-title">
                        <th width="50">编号</th>
                        <th width="330">标题</th>
                        <th width="110">作者</th>
                        <th width="119">日期</th>
                        <th class="title-last">点击数</th>
                    </tr>
                    <{foreach $new_datail as $val}>
                    <tr class="list-body">
                        <td><{$val['new_id']}></td>
                        <td><{$val['new_title']}></td>
                        <td><{$val['aubter']}></td>
                        <td><{$val['addtime']}></td>
                        <td><{$val['click']}></td>
                    </tr>
                    <{/foreach}>
                </table>
                <div class="pager" style="margin:20px auto;width:500px;text-align:center;">
                 
                <!-- <div class="page">
                    <a href="" class="prevs">&lt;&lt;</a>
                    <a href="" class="prev">&lt;</a>
                    <a href="" class="current">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href="">4</a>
                    <a href="">5</a>
                    <a href="">6</a>
                    <a href="">7</a>
                    <a href="">8</a>
                    <a href="">9</a>
                    <a href="">10</a>
                    <a href="" class="next">&gt;</a>
                    <a href="" class="nexts">&gt;&gt;</a>
                </div> -->
            </div>
        </div>
    </div>

    <div class="clear"></div>

    <div class="footer">
   		<{include file='footer.html'}>
    </div>
</body>
</html>