<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/user_info.css" />
	<script type="text/javascript" src="js/lib/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery.SuperSlide.2.1.1.js"></script>
    <title>文豆电子网-我的详细信息</title>
	<script type="text/javascript" src="js/menu.js"></script>
</head>
<body>
    <{include file='header.html'}>
    <div class="ad">
        <img src="images/ad_02.png" alt="" />
    </div>

    <div class="content">
        <div class="content-left">
            <img src="images/rope.png" alt="" class="rope" />
            <p class="title-en">User Center</p>
            <h1 class="title-zh">我的用户</h1>
            <ul class="child-menu">
                <li>
                    <a href="">我的详细信息</a>
                </li>
                <li>
                    <a href="">修改详细信息</a>
                </li>
				<li>
                    <a href="guestbook.php">我的留言</a>
                </li>
				<li><a href="guestbook.php">客户留言</a></li>
            </ul>
        </div>

        <div class="content-right">
            <!-- 内容右边标题 开始 -->
            <h1 class="title">
                <span class="float-left">我的详细信息</span>
                <span class="small-title">梦想的世界</span>
                <span class="title-link">
                    <a href="">主页 ></a>
                    <a href="">我的用户</a>
                    </span>
                </h1>

                <!-- 文章内容 开始 -->
                <div class="article">
                    <form method="post" action="" enctype="multipart/form-data">
                        <table class="info">
                            <tbody>
                                <tr>
                                    <td class="head" rowspan="7">
                                        <img src="./images/head_img_03.jpg">
                                        <label>我的头像</label>
                                    </td>
                                    <td class="prop">
                                        <label>昵称</label>
                                    </td>
                                    <td>
                                        <input type="text" name="username" value="<{$info['username']}>"></td>
                                </tr> 
                                <tr>
                                    <td class="prop">
                                        <label>性别</label>
                                    </td>
                                    <td>
                                        <div class="inpt_select sex">
                                            <select name="sex" class="sex" vlaue="<{$info['sex']}>">
                                                <option value="<{$info['sex']=2}>">女</option>
                                                <option selected="" value="<{$info['sex']=1}>">男</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="prop">
                                        <label>职业</label>
                                    </td>
                                    <td>
                                        <input type="text" name="job" value="<{$info['job']}>"></td>
                                </tr>
                                <tr>
                                    <td class="prop">
                                        <label>公司名称</label>
                                    </td>
                                    <td>
                                        <input type="text" name="company_name" value="<{$info['company_name']}>"></td>
                                </tr>
                                <tr>
                                    <td class="prop">
                                        <label>详细地址</label>
                                    </td>
                                    <td>
                                        <input type="text" name="address" value="<{$info['address']}>"></td>
                                </tr>
                                <tr>
                                    <td class="prop">
                                        <label>电子邮箱</label>
                                    </td>
                                    <td>
                                        <input type="text" name="email" value="<{$info['email']}>"></td>
                                </tr>
                                <tr>
                                    <td class="prop">
                                        <label>现居地</label>
                                    </td>
                                    <td class="address">
                                        <input type="text" name="address" id=""  value="<{$info['address']}>" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="prop head">
                                        <label>个人签名</label>
                                    </td>
                                    <td colspan="3">
                                        <textarea name="sign" value="<{$info['sign']}>"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="2">
                                     <input type="hidden" name="user_id" value="<{$info['user_id']}>">
                                        <input type="submit" name="active" src="./images/info_07.jpg" class="inpt_submit">
                                       <!--  <input type="submit" value="提交" name="active"  > --></td>

                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <img class="ill f_right" src="./images/illustration.jpg">
                </div>
            </div>
        </div>

        <div class="clear"></div>
 <{include file='footer.html'}>
        </div>
</body>
    </html>