<div class="banner">
	<div class="effect">
                <div id="slideBox" class="slideBox">
                    <div class="hd">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                    </div>
                    <div class="bd">
                        <ul>
                            <li><img src="__PUBLIC__/home/images/banner.jpg" /></li>
                            <li><img src="__PUBLIC__/home/images/lrgimg5.jpg" /></li>
                            <li><img src="__PUBLIC__/home/images/lrgimg6.jpg" /></li>
                        </ul>
                    </div>
                </div>
        </div>
</div>
<div class="content">
	<div class="lefter">
    	<div class="title">
        	<h2 class="cBlue fB">联系我们<b class="cGrey fn">Contact us</b></h2>
        </div>
        <div class="intro" style="height:167px">
        <foreach name ="us_datail" item="val"> 
            <{$val.config_name}> : <{$val.config_value}></br>
        </foreach>
        	<!-- 地址：广东省广州市广州大道北<br />
            联系人：乐可<br />
            移动电话：13619829982<br />
            固定电话：020-1234567<br />
            传真：020-1234567 -->
        </div>
        <div class="title">
        	<h2 class="cBlue fB">我的位置<b class="cGrey fn">Map</b></h2>
        </div>
        <div class="intro">
        	<img src="__PUBLIC__/home/images/map.jpg" />
        </div>
    </div>
	   <include file="index:nav"/>
    <div class="hackbox"></div>
</div>
    <include file="index:footer"/>
</body>
</html>
