<!-- __UPLOAD__ -->
<div class="banner">
	<div class="effect">
                <div id="slideBox" class="slideBox">
                    <div class="hd">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                    </div>
                    <div class="bd">
                        <ul>
                            <li><img src="__PUBLIC__/home/images/banner.jpg" /></li>
                            <li><img src="__PUBLIC__/home/images/lrgimg5.jpg" /></li>
                            <li><img src="__PUBLIC__/home/images/lrgimg6.jpg" /></li>
                        </ul>
                    </div>
                </div>
        </div>
</div>
<div class="content">
	<div class="lefter">
    	<div class="title">
        	<h2 class="cBlue fB"><{$art_info.artcat_name}><b class="cGrey fn"><{$art_info.artcat_enname}></b></h2>
        </div>
        <div class="intro">
               <p><{$art_info.article_content}></p>
        </div>
    </div>
	    <include file="index:nav"/>
    <div class="hackbox"></div>
</div>
<include file="index:footer"/>
</body>
</html>
