<div class="banner">
	<div class="effect">
                <div id="slideBox" class="slideBox">
                    <div class="hd">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>

                        </ul>
                    </div>
                    <div class="bd">
                        <ul>
                            <li><img src="__PUBLIC__/home/images/banner.jpg" /></li>
                            <li><img src="__PUBLIC__/home/images/lrgimg5.jpg" /></li>
                            <li><img src="__PUBLIC__/home/images/lrgimg6.jpg" /></li>
                        </ul>
                    </div>
                </div>
        </div>
</div>
<div class="content">
	<div class="lefter">
    	<div class="title">
        	<h2 class="cBlue fB">客户留言<b class="cGrey fn">Guestbook</b></h2>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
        <div class="intro" style="padding-top:16px">
        	<label>呢称：</label><input name="author" type="text" /><br />
			<label>内容：</label><textarea name="content" cols="" rows="" style="width:545px;height:138px"></textarea><br>
            <label>时间：</label><input name="time" type="text" value=""/><br />
            <input name="" type="submit" value="提交" class="btn_input" />
        </div>
    </form>
        
    </div>
	       <include file="index:nav"/>
    <div class="hackbox"></div>
    
    
</div>
        <include file="index:footer"/>
</body>
</html>
