<div class="banner">
	<div class="effect">
                <div id="slideBox" class="slideBox">
                    <div class="hd">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                    </div>
                    <div class="bd">
                        <ul>
                            <li><img src="__PUBLIC__/home/images/banner.jpg" /></li>
                            <li><img src="__PUBLIC__/home/images/lrgimg5.jpg" /></li>
                            <li><img src="__PUBLIC__/home/images/lrgimg6.jpg" /></li>
                        </ul>
                    </div>
                </div>
        </div>
</div>
<div class="content">
	<div class="lefter">
    	<div class="title">
        	<h2 class="cBlue fB">行业知识<b class="cGrey fn">Knowledge</b></h2>
        </div>
        <ul class="list_r" style="padding-right:40px">
       <foreach name="art_data" item="val">
        	<li><a href="#"><{$val.article_title}></a><span class="time2"><{$val.article_addtime|date='Y-m-d',###}></span></li>
        </foreach>
           
        </ul>
        <div class="blank10"></div>
        <div class="pages">
        <{$Page}>
        </div>
    </div>
	           <include file="index:nav"/>
    <div class="hackbox"></div>
    
    
</div>
            <include file="index:footer"/>
</body>
</html>
