<div class="banner">
	<div class="effect">
                <div id="slideBox" class="slideBox">
                    <div class="hd">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                    </div>
                    <div class="bd">
                        <ul>
                            <li><img src="__PUBLIC__/home/images/banner.jpg" /></li>
                            <li><img src="__PUBLIC__/home/images/lrgimg5.jpg" /></li>
                            <li><img src="__PUBLIC__/home/images/lrgimg6.jpg" /></li>
                        </ul>
                    </div>
                </div>
        </div>
</div>
<div class="content">
	<div class="lefter">
    	<div class="title">
        	<h2 class="cBlue fB">产品展示<b  class="cGrey fn">Products</b></h2>
        </div>
        <ul class="list_l">

        <foreach name="Pro_data" item="val"> 
        	<li>
                <span class="listimg">
                    <img src="__PUBLIC__/home/images/<{$val.product_pic}>" class="blank" /><a href="#"><img src="__PUBLIC__/home/images/<{$val.product_pic}>" /></a>
                </span>
                <span class="listtxt"><{$val.product_name}></span>
            </li>
        </foreach>
        </ul>
        <div class="blank10"></div>
        <div class="pages">
            <{$Page}>
        </div>
        <div class="blank6"></div>
    </div>
	       <include file="index:nav"/>
    <div class="hackbox"></div>
</div>
            <include file="index:footer"/>
</body>
</html>
