<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>已评价</title>
	<include  file="Public:Member_header"/>
<div class="nav_conter f-l  mt-15">
		<div class="nav-1">
			<b><span>我的账户</span></b>
			<ul class="nav-0">
				<li ><a href="{:U('Member/index')}">&bull;&nbsp;账户设置</a></li>
				<li ><a href="{:U('ticket')}">&bull;&nbsp;消费券</a></li>
				<li><a href="{:U('balance')}">&bull;&nbsp;我的余额</a></li>
				<li><a href="{:U('conter')}">&bull;&nbsp;安全中心</a></li>
				<li><a href="{:U('recharge')}">&bull;&nbsp;充值中心</a></li>
			</ul>
			<b><span>我的评价</span></b>
			<ul class="nav-0">
				<li class="app_title2"><a href="{:U('stayapp')}">&bull;&nbsp;待评价</a><span>6</span></li>
				<li class="bgnav-box"><a href="{:U('appraise')}">&bull;&nbsp;已评价</a><span class="f-r mr-10">&gt;</span></li>
			</ul>
		</div>
	</div>
	<div class="col-xs-pull-1 f-r col-xs-8 col-md-8 col-lg-8">
	<div class="app_content col-xs-12 col-md-12 col-lg-12 f-r mt-50 ">
			<p><img src="Test_TMPL/images/app211_r1_c1.jpg" alt=""></p>
			<ul class="conter_content f-l">
				<li>摩登玫瑰</li>
				<br>
				<li>我的总体评价：<span>满意</span></li>
			</ul>
			<ul class="conter_content_del">
				<li><img src="Test_TMPL/images/appa321_r1_c1.png" alt=""></li>
				<li><a href="#">修改</a></li>
				<li><img src="Test_TMPL/images/appa321_r1_c3.png" alt=""></li>
				<li><a href="#">删除</a></li>
			</ul>
			<p class="content_title">大佛山人才网 （0757RC.COM）佛山人才网知名品牌，佛山人才求职到.......</p>
			<div class="clear_float"></div>
			<ul class="content_img">
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
			</ul>
	</div>
	<div class="app_content col-xs-12 col-md-12 col-lg-12 f-r mt-50">
			<p><img src="Test_TMPL/images/app211_r1_c1.jpg" alt=""></p>
			<ul class="conter_content f-l">
				<li>摩登玫瑰</li>
				<br>
				<li>我的总体评价：<span>满意</span></li>
			</ul>
			<ul class="conter_content_del">
				<li><img src="Test_TMPL/images/appa321_r1_c1.png" alt=""></li>
				<li><a href="#">修改</a></li>
				<li><img src="Test_TMPL/images/appa321_r1_c3.png" alt=""></li>
				<li><a href="#">删除</a></li>
			</ul>
			<p class="content_title">大佛山人才网 （0757RC.COM）佛山人才网知名品牌，佛山人才求职到.......</p>
			<div class="clear_float"></div>
			<ul class="content_img">
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
			</ul>
	</div>
	<div class="app_content col-xs-12 col-md-12 col-lg-12 f-r mt-50">
			<p><img src="Test_TMPL/images/app211_r1_c1.jpg" alt=""></p>
			<ul class="conter_content f-l">
				<li>摩登玫瑰</li>
				<br>
				<li>我的总体评价：<span>满意</span></li>
			</ul>
			<ul class="conter_content_del">
				<li><img src="Test_TMPL/images/appa321_r1_c1.png" alt=""></li>
				<li><a href="#">修改</a></li>
				<li><img src="Test_TMPL/images/appa321_r1_c3.png" alt=""></li>
				<li><a href="#">删除</a></li>
			</ul>
			<p class="content_title">大佛山人才网 （0757RC.COM）佛山人才网知名品牌，佛山人才求职到.......</p>
			<div class="clear_float"></div>
			<ul class="content_img">
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
			</ul>
	</div>
	<div class="app_content col-xs-12 col-md-12 col-lg-12 f-r mt-50">
			<p><img src="Test_TMPL/images/app211_r1_c1.jpg" alt=""></p>
			<ul class="conter_content f-l">
				<li>摩登玫瑰</li>
				<br>
				<li>我的总体评价：<span>满意</span></li>
			</ul>
			<ul class="conter_content_del">
				<li><img src="Test_TMPL/images/appa321_r1_c1.png" alt=""></li>
				<li><a href="#">修改</a></li>
				<li><img src="Test_TMPL/images/appa321_r1_c3.png" alt=""></li>
				<li><a href="#">删除</a></li>
			</ul>
			<p class="content_title">大佛山人才网 （0757RC.COM）佛山人才网知名品牌，佛山人才求职到.......</p>
			<div class="clear_float"></div>
			<ul class="content_img">
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
				<li><img src="" alt=""></li>
			</ul>
	</div>
	</div>
		<div class="clear_float"></div>
		<div class="pages">
	        <div><a class="first" href="">首页</a> <a class="prev" href="">上一页</a> <a class="num" href="">2</a><a class="num" href="">4</span><a class="num" href="">5</a><a class="num" href="">6</a> <a class="next" href="">下一页</a> <a class="end" href="">尾页</a></div>
		</div>
	</div>
</div>
</div>
</body>
</html>