<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>消费券</title>
	<include  file="Public:Member_header"/>
<div class="nav_conter f-l mt-15">
		<div class="nav-1">
			<b><span>我的账户</span></b>
			<ul class="nav-0">
				<li ><a href="{:U('Member/index')}">&bull;&nbsp;账户设置</a></li>
				<li  class="bgnav-box"><a href="{:U('ticket')}">&bull;&nbsp;消费券</a><span class="f-r mr-10">&gt;</span></li>
				<li ><a href="{:U('balance')}">&bull;&nbsp;我的余额</a></li>
				<li ><a href="{:U('conter')}">&bull;&nbsp;安全中心</a></li>
				<li ><a href="{:U('recharge')}">&bull;&nbsp;充值中心</a></li>
			</ul>
			<b><span>我的评价</span></b>
			<ul class="nav-0">
				<li class="app_title2"><a href="{:U('stayapp')}">&bull;&nbsp;待评价</a><span>6</span></li>
				<li><a href="{:U('appraise')}">&bull;&nbsp;已评价</a></li>
			</ul>
	</div>
	</div>
	<div id="tab_demo">
	<ul class="mag_top_title-01 f-l mt-30 ml-40">
		<li><a href="javascript:void(0);">待用</a></li>
		<li><a href="javascript:void(0);">已用</a></li>
		<li><a href="javascript:void(0);">过期</a></li>
	</ul>
	</div>
	<div id="tab_demo">
<!-- 待用 -->
<div class="cont_txt tabCon mb-50 col-xs-8 ml-50" >
	<div class="nav_one">
		<ul class="cont_txt1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ul class="cont_txt2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_one">
		<ul class="cont_txt1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ul class="cont_txt2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_one">
		<ul class="cont_txt1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ul class="cont_txt2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_one">
		<ul class="cont_txt1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ul class="cont_txt2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_one">
		<ul class="cont_txt1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ul class="cont_txt2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_one">
		<ul class="cont_txt1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ul class="cont_txt2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_one">
		<ul class="cont_txt1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ul class="cont_txt2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_one">
		<ul class="cont_txt1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ul class="cont_txt2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_one">
		<ul class="cont_txt1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ul class="cont_txt2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_one">
		<ul class="cont_txt1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ul class="cont_txt2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
</div>
<!-- 已用 -->
<div class="cont_b2 tabCon mb-50"  style="display:none;">
	<div class="nav_two">
		<ul class="cont_t1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ol><img class="ti_img" src="Test_TMPL/images/Member_ticket1_r2_c2.png" alt=""></ol>
		<ul class="cont_t2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_two">
		<ul class="cont_t1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ol><img class="ti_img" src="Test_TMPL/images/Member_ticket1_r2_c2.png" alt=""></ol>
		<ul class="cont_t2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_two">
		<ul class="cont_t1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ol><img class="ti_img" src="Test_TMPL/images/Member_ticket1_r2_c2.png" alt=""></ol>
		<ul class="cont_t2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_two">
		<ul class="cont_t1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ol><img class="ti_img" src="Test_TMPL/images/Member_ticket1_r2_c2.png" alt=""></ol>
		<ul class="cont_t2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_two">
		<ul class="cont_t1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ol><img class="ti_img" src="Test_TMPL/images/Member_ticket1_r2_c2.png" alt=""></ol>
		<ul class="cont_t2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_two">
		<ul class="cont_t1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ol><img class="ti_img" src="Test_TMPL/images/Member_ticket1_r2_c2.png" alt=""></ol>
		<ul class="cont_t2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_two">
		<ul class="cont_t1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ol><img class="ti_img" src="Test_TMPL/images/Member_ticket1_r2_c2.png" alt=""></ol>
		<ul class="cont_t2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_two">
		<ul class="cont_t1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ol><img class="ti_img" src="Test_TMPL/images/Member_ticket1_r2_c2.png" alt=""></ol>
		<ul class="cont_t2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_two">
		<ul class="cont_t1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ol><img class="ti_img" src="Test_TMPL/images/Member_ticket1_r2_c2.png" alt=""></ol>
		<ul class="cont_t2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_two">
		<ul class="cont_t1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ol><img class="ti_img" src="Test_TMPL/images/Member_ticket1_r2_c2.png" alt=""></ol>
		<ul class="cont_t2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
</div>
<!--  过期-->
<div class="cont_b2 tabCon" style="display:none;" >
	<div class="nav_two">
		<ul class="cont_t1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ol><img class="ti_img" src="Test_TMPL/images/Member_ticket1_r4_c3.png" alt=""></ol>
		<ul class="cont_t2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_two">
		<ul class="cont_t1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ol><img class="ti_img" src="Test_TMPL/images/Member_ticket1_r4_c3.png" alt=""></ol>
		<ul class="cont_t2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_two">
		<ul class="cont_t1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ol><img class="ti_img" src="Test_TMPL/images/Member_ticket1_r4_c3.png" alt=""></ol>
		<ul class="cont_t2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_two">
		<ul class="cont_t1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ol><img class="ti_img" src="Test_TMPL/images/Member_ticket1_r4_c3.png" alt=""></ol>
		<ul class="cont_t2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_two">
		<ul class="cont_t1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ol><img class="ti_img" src="Test_TMPL/images/Member_ticket1_r4_c3.png" alt=""></ol>
		<ul class="cont_t2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	<div class="nav_two">
		<ul class="cont_t1">
			<li>港饮广食</li>
			<li><span>2016.8.26-2016.9.01</span></li>
		</ul>
		<ol><img class="ti_img" src="Test_TMPL/images/Member_ticket1_r4_c3.png" alt=""></ol>
		<ul class="cont_t2">
			<li>50元</li>
			<li><span>消费券</span></li>
			<li><span>满一百可用</span></li>
		</ul>
	</div>
	</div>
	</div>
	</div>
</div>
</body>
<script type="text/javascript" language="javascript"> 
$(function(){
    $.Huitab("#tab_demo .mag_top_title-01 li","#tab_demo .tabCon","mebcurrent","click","0");
    });
</script>
</html>