<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>待评价</title>
	<!--H-ui.Membermin.css只用于Member-->
	<include  file="Public:Member_header"/>
	<script type="text/javascript">
		$(function(){
			$(".hf").click(function(){	
				var focus = $(this).parents(".app_content").find("#appic");
				if(focus.css("display")=="none"){
				   focus.show();
				}
		    });
		});
		// ------------+++++++++++++++
		$(function(){
        /*
        * 鼠标点击，该元素包括该元素之前的元素获得样式,并给隐藏域input赋值
        * 鼠标移入，样式随鼠标移动
        * 鼠标移出，样式移除但被鼠标点击的该元素和之前的元素样式不变
        * 每次触发事件，移除所有样式，并重新获得样式
        * */
        var stars = $('.stars');
        var Len = stars.length;
        //遍历每个评分的容器
        for(p=0;p<Len;p++){
            //每次触发事件，清除该项父容器下所有子元素的样式所有样式
            function clearAll(obj){
                obj.parent().children('p').removeClass('on');
            }
            stars.eq(p).find('p').click(function(){
                var num = $(this).index();
                clearAll($(this));
                //当前包括前面的元素都加上样式
                $(this).addClass('on').prevAll('p').addClass('on');
                //给隐藏域input赋值
                $(this).siblings('input').val(num);
            });
            stars.eq(p).find('p').mouseover(function(){
                var num = $(this).index();
                clearAll($(this));
                //当前包括前面的元素都加上样式
                $(this).addClass('on').prevAll('p').addClass('on');
            });
            stars.eq(p).find('p').mouseout(function(){
                clearAll($(this));
                //触发点击事件后input有值
                var score = $(this).siblings('input').val();
                for(p=0;p<score;p++){
                    $(this).parent().find('p').eq(p).addClass('on');
                }
            });
        }
    })
	//======== =======
	$(function(){
    $('.conter_contentone li a').click(function(){
        $('.conter_contentone li a').removeClass('activppsta');
        $(this).addClass('activppsta');
        // $('.activppla li').removeClass('activppla');
    });
    })
	</script>
	<div class="nav_conter f-l  mt-15">
		<div class="nav-1">
			<b><span>我的账户</span></b>
			<ul class="nav-0">
				<li ><a href="{:U('Member/index')}">&bull;&nbsp;账户设置</a></li>
				<li ><a href="{:U('ticket')}">&bull;&nbsp;消费券</a></li>
				<li ><a href="{:U('balance')}">&bull;&nbsp;我的余额</a></li>
				<li ><a href="{:U('conter')}">&bull;&nbsp;安全中心</a></li>
				<li ><a href="{:U('recharge')}">&bull;&nbsp;充值中心</a></li>
			</ul>
			<b><span>我的评价</span></b>
			<ul class="nav-0">
				<li class="app_title2 bgnav-box"><a href="{:U('stayapp')}">&bull;&nbsp;待评价</a><span>6</span></li>
				<li><a href="{:U('appraise')}">&bull;&nbsp;已评价</a></li>
			</ul>
		</div>
	</div>
		<div class="app_content f-r col-xs-10 mt-30">
				<p><img src="Test_TMPL/images/app211_r1_c1.jpg" alt=""></p>
				<ul class="conter_content">
					<li>摩登玫瑰</li>
					<br>
					<li ><span>我的总体评价：</span></li>
				</ul>
				<ul class="conter_contentone">
					<li class="hf"><a href='javascript:void(0);' >差</a></li>
					<li class="hf"><a href='javascript:void(0);'  >一般</a></li>
					<li class="hf"> <a href='javascript:void(0);'  >满意</a></li>
					<li class="hf"><a href='javascript:void(0);'  >很满意</a></li>
					<li class="hf"><a href='javascript:void(0);'  >强烈推荐</a></li>
				</ul>
				<div class="clear_float"></div>
			<div style="display:none;" id="appic">
				<form action="" method="get">
					<ul class="app_5">
						<li>口味：</li>
						<li ><div class="stars ml-10 ">
						    <span></span>
							<p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <input type="text" style="display:none;" />
							</div>
						</li>
					</ul>
					<div class="clear_float"></div>
					<ul class="app_5">
						<li>服务：</li>
						<li ><div class="stars ml-10 ">
						    <span></span>
							<p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <input type="text" style="display:none;" />
							</div>
						</li>
					</ul>
					<div class="clear_float"></div>
					<ul class="app_5">
						<li>环境：</li>
						<li ><div class="stars ml-10 ">
						    <span></span>
							<p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <input type="text" style="display:none;" />
							</div>
						</li>
					</ul>
					<div class="clear_float"></div>
					<ul class="flie_img">
						<li >
				  			<span class="btn-upload ml-10 ">
				 		 <a href="javascript:void(0);" class="btn btndos radius">嗮图</a>
				 		 <input type="file" multiple name="file_0" class="input-file">
							</span>
							<nav class="flie_pic">最多上传5张图片</nav>	
						</li>
					</ul>
					<p class="bon_mot">* 请上传原创，真实，合法的图片，如果发现用户上传的图有侵权的内容，纳邦有权删除</p>
					<div class="clear_float"></div>

					<p class="mt-30 f-l ml-50 mb-50"><input class="btn buos radius" type="button" value="发表评论"></p>
					</form>
			</div>
		</div>
				<div class="app_content f-r col-xs-10 mt-30">
				<p><img src="Test_TMPL/images/app211_r1_c1.jpg" alt=""></p>
				<ul class="conter_content">
					<li>摩登玫瑰</li>
					<br>
					<li ><span>我的总体评价：</span></li>
				</ul>
				<ul class="conter_contentone">
					<li class="hf"><a href='javascript:void(0);' >差</a></li>
					<li class="hf"><a href='javascript:void(0);'  >一般</a></li>
					<li class="hf"> <a href='javascript:void(0);'  >满意</a></li>
					<li class="hf"><a href='javascript:void(0);'  >很满意</a></li>
					<li class="hf"><a href='javascript:void(0);'  >强烈推荐</a></li>
				</ul>
				<div class="clear_float"></div>
			<div style="display:none;" id="appic">
				<form action="" method="get">
					<ul class="app_5">
						<li>口味：</li>
						<li ><div class="stars ml-10 ">
						    <span></span>
							<p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <input type="text" style="display:none;" />
							</div>
						</li>
					</ul>
					<div class="clear_float"></div>
					<ul class="app_5">
						<li>服务：</li>
						<li ><div class="stars ml-10 ">
						    <span></span>
							<p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <input type="text" style="display:none;" />
							</div>
						</li>
					</ul>
					<div class="clear_float"></div>
					<ul class="app_5">
						<li>环境：</li>
						<li ><div class="stars ml-10 ">
						    <span></span>
							<p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <input type="text" style="display:none;" />
							</div>
						</li>
					</ul>
					<div class="clear_float"></div>
					<ul class="flie_img">
						<li >
				  			<span class="btn-upload ml-10 ">
				 		 <a href="javascript:void(0);" class="btn btndos radius">嗮图</a>
				 		 <input type="file" multiple name="file_0" class="input-file">
							</span>
							<nav class="flie_pic">最多上传5张图片</nav>	
						</li>
					</ul>
					<p class="bon_mot">* 请上传原创，真实，合法的图片，如果发现用户上传的图有侵权的内容，纳邦有权删除</p>
					<div class="clear_float"></div>

					<p class="mt-30 f-l ml-50 mb-50"><input class="btn buos radius" type="button" value="发表评论"></p>
					</form>
			</div>
		</div>
				<div class="app_content f-r col-xs-10 mt-30">
				<p><img src="Test_TMPL/images/app211_r1_c1.jpg" alt=""></p>
				<ul class="conter_content">
					<li>摩登玫瑰</li>
					<br>
					<li ><span>我的总体评价：</span></li>
				</ul>
				<ul class="conter_contentone">
					<li class="hf"><a href='javascript:void(0);' >差</a></li>
					<li class="hf"><a href='javascript:void(0);'  >一般</a></li>
					<li class="hf"> <a href='javascript:void(0);'  >满意</a></li>
					<li class="hf"><a href='javascript:void(0);'  >很满意</a></li>
					<li class="hf"><a href='javascript:void(0);'  >强烈推荐</a></li>
				</ul>
				<div class="clear_float"></div>
			<div style="display:none;" id="appic">
				<form action="" method="get">
					<ul class="app_5">
						<li>口味：</li>
						<li ><div class="stars ml-10 ">
						    <span></span>
							<p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <input type="text" style="display:none;" />
							</div>
						</li>
					</ul>
					<div class="clear_float"></div>
					<ul class="app_5">
						<li>服务：</li>
						<li ><div class="stars ml-10 ">
						    <span></span>
							<p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <input type="text" style="display:none;" />
							</div>
						</li>
					</ul>
					<div class="clear_float"></div>
					<ul class="app_5">
						<li>环境：</li>
						<li ><div class="stars ml-10 ">
						    <span></span>
							<p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <p>★</p>
						    <input type="text" style="display:none;" />
							</div>
						</li>
					</ul>
					<div class="clear_float"></div>
					<ul class="flie_img">
						<li >
				  			<span class="btn-upload ml-10 ">
				 		 <a href="javascript:void(0);" class="btn btndos radius">嗮图</a>
				 		 <input type="file" multiple name="file_0" class="input-file">
							</span>
							<nav class="flie_pic">最多上传5张图片</nav>	
						</li>
					</ul>
					<p class="bon_mot">* 请上传原创，真实，合法的图片，如果发现用户上传的图有侵权的内容，纳邦有权删除</p>
					<div class="clear_float"></div>

					<p class="mt-30 f-l ml-50 mb-50"><input class="btn buos radius" type="button" value="发表评论"></p>
					</form>
			</div>
		</div>

		</div>
		<div class="clear_float"></div>
		<div class="pages ">
		        <div><a class="first" href="">首页</a> <a class="prev" href="">上一页</a> <a class="num" href="">2</a><a class="num" href="">4</span><a class="num" href="">5</a><a class="num" href="">6</a> <a class="next" href="">下一页</a> <a class="end" href="">尾页</a></div>
		</div>
	</div>
	</div>
</div>
</body>
</html>