<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>我的余额</title>
	<include  file="Public:Member_header"/>
	<script type="text/javascript"  src="Test_TMPL/js/jquery_idset.js"></script>
	<div class="nav_conter f-l  mt-15">
		<div class="nav-1">
			<b><span>我的账户</span></b>
			<ul class="nav-0">
				<li ><a href="{:U('Member/index')}">&bull;&nbsp;账户设置</a></li>
				<li ><a href="{:U('ticket')}">&bull;&nbsp;消费券</a></li>
				<li  class="bgnav-box"><a href="{:U('balance')}">&bull;&nbsp;我的余额</a><span class="f-r mr-10">&gt;</span></li>
				<li ><a href="{:U('conter')}">&bull;&nbsp;安全中心</a></li>
				<li><a href="{:U('recharge')}">&bull;&nbsp;充值中心</a></li>
			</ul>
			<b><span>我的评价</span></b>
			<ul class="nav-0">
				<li class="app_title2"><a href="{:U('stayapp')}">&bull;&nbsp;待评价</a><span>6</span></li>
				<li><a href="{:U('appraise')}">&bull;&nbsp;已评价</a></li>
			</ul>
		</div>
	</div>	
<div class="mag_content  mt-30 f-r col-xs-10 col-md-10 col-lg-10 ">
	<ul class="mag_title f-l">
		<li>您当前的积分余额：</li>
		<li><span>300</span></li>
		<li><a href="Member_pay.html">充值</a></li>
	</ul>
	<ul class="seek_box col-xs-12">
		<li class="seek1">积分变动明细</li>
		<li>
			<form method="get" id="" action="">
			    <fieldset class="searchs">
			         <input type="text" class="boxs" name="s" id="s" class="inputText" placeholder="&nbsp;查询记录" x-webkit-speech>
			          <button class="btns" title="SEARCH"> </button>
			    </fieldset>
			</form>
		</li>
	</ul>
	<div class="clear_float"></div>
	<div class="center_content container-fluid f-l mt-20" id="wrap">
		<ul class="time_title container-fluid f-l">
			<li>时间</li>
			<li>类型
				<span><select name="" id="">
				<option value="">123</option>
				<option value="#">web1</option>
				<option value="#">web2</option>
				<option value="#">web3</option>
				</select>
				</span>
			</li>
			<li>变动积分</li>
			<li>余额</li>
		</ul>
		<ul class="time_title container-fluid f-l">
			<li>2016-07-01 13:13</li>
			<li>消费</li>
			<li><span>-50</span></li>
			<li>300</li>
		</ul>
		<ul class="time_title container-fluid f-l">
			<li>2016-07-01 13:13</li>
			<li>消费</li>
			<li><span>-50</span></li>
			<li>300</li>
		</ul>
		<ul class="time_title container-fluid f-l">
			<li>2016-07-01 13:13</li>
			<li>消费</li>
			<li><span>-50</span></li>
			<li>300</li>
		</ul>
		<ul class="time_title container-fluid f-l">
			<li>2016-07-01 13:13</li>
			<li>消费</li>
			<li><span>-50</span></li>
			<li>300</li>
		</ul>
		<ul class="time_title2 container-fluid f-l">
			<li>2016-07-01 13:13</li>
			<li>消费</li>
			<li><span>-50</span></li>
			<li>300</li>
		</ul>
		<ul class="time_title container-fluid f-l">
			<li>2016-07-01 13:13</li>
			<li>消费</li>
			<li><span>-50</span></li>
			<li>300</li>
		</ul>
		<ul class="time_title2 container-fluid f-l">
			<li>2016-07-01 13:13</li>
			<li>消费</li>
			<li><span>-50</span></li>
			<li>300</li>
		</ul>
		<ul class="time_title container-fluid f-l">
			<li>2016-07-01 13:13</li>
			<li>消费</li>
			<li><span>-50</span></li>
			<li>300</li>
		</ul>
		
		<ul class="time_title2 container-fluid f-l">
			<li>2016-07-01 13:13</li>
			<li>消费</li>
			<li><span>-50</span></li>
			<li>300</li>
		</ul>
		<ul class="time_title2 container-fluid f-l">
			<li>2016-07-01 13:13</li>
			<li>消费</li>
			<li><span>-50</span></li>
			<li>300</li>
		</ul>
		<ul class="time_title2 container-fluid f-l">
			<li>2016-07-01 13:13</li>
			<li>消费</li>
			<li><span>-50</span></li>
			<li>300</li>
		</ul>
		<ul class="time_title container-fluid f-l">
			<li>2016-07-01 13:13</li>
			<li>消费</li>
			<li><span>-50</span></li>
			<li>300</li>
		</ul>
		<ul class="time_title2 container-fluid f-l">
			<li>2016-07-01 13:13</li>
			<li>消费</li>
			<li><span>-50</span></li>
			<li>300</li>
		</ul>
		<ul class="time_title container-fluid f-l">
			<li>2016-07-01 13:13</li>
			<li>消费</li>
			<li><span>-50</span></li>
			<li>300</li>
		</ul>
		<ul class="time_title2 container-fluid f-l">
			<li>2016-07-01 13:13</li>
			<li>消费</li>
			<li><span>-50</span></li>
			<li>300</li>
		</ul>
		<ul class="time_title container-fluid f-l">
			<li>2016-07-01 13:13</li>
			<li>消费</li>
			<li><span>-50</span></li>
			<li>300</li>
		</ul>
		<ul class="time_title container-fluid f-l">
			<li>2016-07-01 13:13</li>
			<li>消费</li>
			<li><span>-50</span></li>
			<li>300</li>
		</ul>
    </div>
    <div id="read-more" class="f-l col-xs-offset-5"><img class="f-r mr-10 mt-15" src="Test_TMPL/images/more.png" alt=""></div>
</div>
</div>
</body>
</html>