.big_boss{width:1150px;
		height:1762px;
		 margin: auto;
		 background:#fbfbfb;
} 
.logo{
	  width:487px;
	  height:122px;
	  float:left;	 
}
.header_right{
	   
		width:492px;
		height:78px;	 
		float:left;
		margin-left:160px;
		margin-top:31px;
}	

.header_right li{	
		float:left;
		margin-left:7px;
		margin-top:12px;
}	
.deng_lu{
			margin-left:328px;
		margin-top:1px;
}
.deng_lu a{color:green;
}
.an_li a{	   
		color:black;
}		  
		  
.banner{
		width:1154px;
		height:230px;
		   float:left;
		
		}
.banner a{
		color:gray;
		margin-left:8px;
}
		
		
.clear_flont{clear:both;}			  	


.header_boss{
			width:1154px;
			height:166px;
			border:1px solid gray;

	
}




.header{
		width:273px;
		height:90px;
		border: 2px solid gray;		
		  float:left;
		  margin-top:27px;
		  margin-left:32px;
		  
		  }
.header_a{
		width:810px;
		height:165px;
		font-size:14px;
		  float:left;
		 margin-top:34px;
		 margin-left:32px
		}

.header_a a{
		color:gray;
}		
	
		
		
		
.header_c{width:207px;
		height:28px;
		  float:right;
		  margin-top:5px;}
		  
.boss_nos{
			width:1017px;
			height:147px;
			margin-top:30px;
			background-color:f2f2f2;
}	
.small_box{
			width:1018px;
			height:1050px;
			float:left;
			margin-left:76px;
			border:1px solid gray;	
}


	  
.small_logo{
		width:220px;
		height:63px;
		float:left;
		margin-top:19px;
		margin-left:1px;
		margin-left:6px;
		}		  		  
.text_right{
		width:180px;
		height:17px;
		float:right;
		margin-top:116px;}
.text_right a{
		color:27a287;
}				
.unmder{
		width:1017px;
		height:40px;
		border: 1px solid f8f8f8;
		float:left;
		background-color:f8f8f8;		
		}
.unmder ul{text-align:left;
			margin-top:11px;
}	
.unmder a{ 
		margin-left:13px;
		color:27a287;}			
.unmder_a{
		width:1017px;
		height:724px;
		float:left;
		margin-top:-1px;	
		}
.clear_flont{clear:both;

}				
.unmder_b{
		width:75px;
		height:26px;
		float:left;
		margin-left:70px;
		margin-top:12px;
		margin-bottom:17px;
}		
.unmder_left{
		width:75px;
		height:29px;
		float:right;
		margin-right:59px;
		margin-top:12px;
}		
.footer{margin-top:68px;
		width:1020px;
		height:58px;
		border:1px solid gray;	
		float:left;
		border-left-style:none;
		border-right-style:none;
		margin-bottom:14px;		
		}		
.footer a{
			margin-left:10px;
			margin-top:20px;
			color:ff8f54;
			float:left;			
}
.footer_a{
	
		width:425px;
		height:33px;
		font-size:1px;
		float:left;
		}  
.footer_c{
		width:383px;
		height:33px;
		font-size:1px;
		float:left;
			}	  	  	
.footer_b{
		width:205px;
		height:37px;
		float:left;			
		}  	  
.footer_b li{
			float:left;
			margin-left:10px;
			font-size:12px;
}
.feng_xing{
	margin-top:6px;
}	 	  