/*首页 样式*/
/*全局 S*/
.main{margin:0 auto;}
/*全局 E*/
/*轮播图 样式 S*/
.banner{width:1440px;margin:0 auto;}
.slideBox {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slideBox .hd {
    bottom: 20px;
    height: 15px;
    overflow: hidden;
    position: absolute;
    right: 50%;
    z-index: 1;
}
.slideBox .hd ul {
    float: left;
    overflow: hidden;
    list-style:none;
}
.slideBox .hd ul li {
    background: #fff none repeat scroll 0 0;
    cursor: pointer;
    float: left;
    height: 6px;
    line-height: 14px;
    margin-right: 5px;
    text-align: center;
    width: 15px;
}
.slideBox .hd ul li.on {
    background: #ccc none repeat scroll 0 0;
    color: #fff;
}
.slideBox .bd {
    height: 100%;
    position: relative;
    z-index: 0;
}
.slideBox .bd img {
    height: 459px;
    width: 100%;
}
.slideBox .bd ul {
    height: 459px;
    overflow: hidden;
    width: 100%;
}
/*轮播图 样式 E*/
/*头部公共样式*/
.an_li ul li a:hover{border-top:1px solid #010101;line-height:8px;}
.header_nav ul li i{color:#ccc;margin:0 20 0 10px;}
.header_left{
             width:474px;
            height:123px;
             margin-left:142px;
             float:left;
             }
             
.header_right{     
        width:488px;
        height:60px;     
        float:left;
        margin-left:85px;
        margin-top:27px;
        background: #fbfbfb none repeat scroll 0 0;
}
.an_li a{      
        color:black;
}   
.header_right li{   
        float:left;
        margin-left:7px;
        margin-top:12px;
}   
.deng_lu{
        margin-left:305px;
        margin-top:1px;
}
.deng_lu a{color:green;
}
.header_nav ul li a {
    color: #010101;
    padding-top: 10px;
}
.header_left{
            width:474px;
            height:123px;
             margin-left:75px;
             float:left;
             }
.header_right{     
        width:527px;
        height:60px;     
        float:left;
        margin-left:135px;
        margin-top:34px;
}   

.header_right li{   
        float:left;
        margin-left:15px;
        margin-top:12px;
}   
.deng_lu{
            margin-left:328px;
        margin-top:1px;
}
.deng_lu a{color:green;
}
.an_li ul li a {
    color: #010101;
    padding-top: 4px;
}
.an_li a{      
        color:black;
}
.an_li a:hover{border-top:1px solid #010101;line-height:8px;}
/*主体 S*/
#main_top{margin:0 auto;overflow:hidden;}
#main_middle{margin:0 auto;}
.service{float:left;width:678px;margin-left:15px;}
.news{float:left;}
#service_news_cases{background:#fff;width:1150px;margin:0 auto;}
/* 服务样式 start*/
.service ul{overflow:hidden;}
.service ul li{float:left;width:98px;list-style:none;text-align:center;margin-right:15px;}
.service ul li img{padding:0 7px;margin-bottom:30px;}
.service ul li a{font-size:12px;color:#999;}
.service_detail{margin-top:30px;}
.service_detail h2{font-size:14px;color:#333;}
.service_detail p{font-size:12px;color:#666;line-height:25px;}
.service_detail .service_state{color:#999;}
/* 服务样式 end*/
/* 新闻样式 start*/
.news{margin-left:40px;}
.news_top h2{float:left;font-size:16px;color:#333;font-weight:normal;width:115px;text-align:center;
            border:1px solid #ddd;border-bottom:none;height:25px;line-height:25px;}
.news_top p{float:left;width:255px;border-bottom:1px solid #ddd;height:27px;position:relative;}
.news_top p a{position:absolute;bottom:0;right:5px;color:#333;}
.news_top p a img{margin-left:3px;}
.news ul{margin-top:20px;}
.news ul li{height:25px;background:url(../images/news_list_bg.png) no-repeat left;padding-left:8px;list-style:none;color:#666;font-size:12px;}
.news ul li a{color:#666;font-size:12px;}
.news ul li span{float:right;}
/* 新闻样式 end*/
/*案例样式 start*/
.case_title{text-align:center;position:relative;}
.case_title a{position:absolute;top:20px;right:50px;color:#333;}
.case_title a img{margin-left:3px;}
.cases_list{overflow:hidden;}
.cases_list ul{overflow:hidden;margin-left:16px;}
.cases_list ul li{float:left;list-style:none;margin-right:20px;}

.case_pre_next{position:relative;}
.case_pre_next img {position:absolute;}
.case_pre_next .case_pre{top:80px;left:-45px;}
.case_pre_next .case_next{top:80px;right:-45px;}

/* case*/
.cont-center{ width:1140px;  position:relative;   }

.cont-center .bd ul{ overflow:hidden; zoom:1; }
.cont-center .bd ul li{ margin:0 8px; float:left; display:inline; overflow:hidden; text-align:center;  }
.cont-center .bd ul li .pic{ text-align:center;position:relative;  }
.cont-center .bd ul li .pic a img{ width:359px; height:250px; display:block; }
.cont-center .bd ul li .pic a:hover img{ border-color:#999;  }
.cont-center .bd ul li .title{ line-height:24px;   }

.picList li{ float:left; margin-right:23px; margin-top:20px;  }
.picList li .pic span a{position:relative;color:#fff;}
.picList li .pic span{color:#FFF;font-size:16px;font-weight:bold;line-height:249px;text-align:center;width:359px;height:249px;position:absolute;top:249px; left:0;background:#333;opacity:0;}
.picList .clone .pic span{color:#FFF;font-size:16px;font-weight:bold;line-height:249px;text-align:center;width:359px;height:249px;position:absolute;top:249px; left:0;background:#333;opacity:0;}
/* case*/

/*案例样式 end*/

/*about company 样式 start*/
#main_bottom{background:#e9eef2;margin:0 auto;}
.about_us{width:1150px;margin:0 auto;overflow:hidden;height:343px;}
.about_fl{float:left;}
.about_com{width:360px;position:relative;margin-right:22px;}
.select_why{padding-left:15px;}
.call_us{margin:0;}
.select_why h2,.service_point h2,.call_us h2{height:57px;line-height:57px;color:#333;font-size:18px;}
.select_why p{color:#333;font-size:12px;text-indent:2em;line-height:23px;}
.select_why p span{color:#ff6633;}
 .detail_click{position:absolute;bottom:-55px;left:143px;}

.point_img{padding-top:4px;}
.service_point_detail .detail_con{width:200px;margin-left:15px;}
.service_point_detail .detail_con h3{color:#333;font-size:14px;}
.service_point_detail .detail_con p{text-indent:3em;color:#333;font-size:12px;line-height:18px;}

.call_us .phone{overflow:hidden;}
.call_us .phone p{color:#ff7930;font-size:20px;margin:20px;}
/*about company 样式 end*/
/*主体 E*/