/*公共 样式*/

/*初始化页面 标签信息 start*/
body{font:14px '微软雅黑';background:#fbfbfb;}
body,ul,ol,dl,p,h1,h2,h3,h4,h5,h6,img{margin:0;padding:0;}
img{border:none;}
a{text-decoration:none;}
/*初始化页面 标签信息 end */

/*布局样式 start*/
#container{margin:0 auto;}
.header{width:1440px;margin:0 auto;}
.area_box{height:20px;}
/*网页头部 end*/
/*浮动清除 start*/
.clear{clear:both;}
/*浮动清除 end*/

/*网页头部 header样式 start*/
.header_box{height:128px;background: #fbfbfb none repeat scroll 0 0;}
.header{overflow:hidden;background:#fbfbfb;width:100%;}
.header_f{position:fixed;top:0;z-index:999;/*box-shadow:0 1px 1px #ccc;*/}
.header_all{width:1263px;margin:0 auto;overflow:hidden;}
.logo{float:left;}
.header_nav{float:right;margin:27px 58px;position:relative;}
.header_nav p{color:#323451;line-height:29px;height:29px;position:absolute;right:89px;}
.header_nav p a{color:#23b35c;}
.header_nav #select{float:right;}
.header_nav #select span{display:block;width:78px;height:25px;text-align:center;line-height:25px;border:1px solid #e8e8e8;
                    background:url(../images/select_bg.gif) no-repeat right center;background-position:69px;float:right;
                    margin-left:10px;}
.header_nav #select span a{color:#323451;}
.header_nav ul{padding-top:23px;overflow:hidden;}  
.header_nav ul li{float:left;list-style:none;margin-left:10px;}
.header_nav ul li a{color:#010101;padding-top:10px;}

/*网页头部 header样式 end*/

/*下拉选择 start*/
#select_nav{position:absolute;width:78px;top:24px;right:0px;
            border:1px solid #e8e8e8;background:#fbfbfb;border-top:none;z-index:999;display:none;padding:0;}

#select_nav li{float:none;text-align:center;margin:0;}
#select_nav li a{text-decoration:none;padding:0;display:block;height:20px;}
 #select_nav li a:hover{background:#ccc;text-decoration:none;border:none;}
/*下拉选择 end*/

/*底部 footer样式 start*/
.footer_nav,.copyright{width:1150px;margin:0 auto;}
.copyright{overflow:hidden;position:relative;}
.footer_nav p{color:#ff8f54;width:73px;float:left;}
.footer_nav p a{color:#ff8f54;font-size:14px;}
.footer_box_border_top{border-top:1px solid #e1e1e1;}
.footer_box_border_bottom{border-bottom:1px solid #e1e1e1;}
.copyright_area{width:600px;}
.copyright_area p{color:#333;font-size:12px;line-height:25px;}
.copyright_area p span{float:right;}
.communication_area{position:absolute;right:0;top:5px;}
.communication_area p span{color:#333;font-size:12px;position:absolute;top:8px;left:-50px;}
.footer_area{height:40px;}
/*底部 footer样式 end*/