
.big_boss{
		height:1425px;
		width:1150px;  
		margin:0 auto;
		background-color:#fbfbfb;
		}
/*<!--头部开始-->*/			
 .an_li ul li a:hover{border-top:1px solid #010101;line-height:8px;}
.header_nav ul li i{color:#ccc;margin:0 20 0 10px;}
.header_left{
			 width:474px;
			height:123px;
			 margin-left:142px;
			 float:left;
			 }
			 
.header_right{	   
		width:488px;
		height:60px;	 
		float:left;
		margin-left:30px;
		margin-top:27px;
		background: #fbfbfb none repeat scroll 0 0;
}
.an_li a{	   
		color:black;
}	
.header_right li{	
		float:left;
		margin-left:2px;
		margin-top:12px;
}	
.deng_lu{
		margin-left:305px;
		margin-top:1px;
}
.deng_lu a{color:green;
}
.header_nav ul li a {
    color: #010101;
    padding-top: 10px;
}
/*<!--头部结束-->*/	
/*<!--nav开始-->*/
.nav{
	float:left;
}
.s_ye{
	float:left;
	margin-top:10px;
	
}
.s_ye a{
	color:gray;
}
.small_box{
	width:1150;
	height:900;
	float:left;
	margin-top:20px;
}
.boxx{
	width:700px;
	height:400px;
	float:left;
	margin-top:55px;
	border:1px dashed gray;
	border-top-style:none;
	border-bottom-style:none;
	border-left-style:none;
}
.yong_hu{
	width:630;
	height:50px;
	float:left;
	border:1px solid gray;
	margin-left:42px;
	border-top-style:none;
	border-left-style:none;
	border-right-style:none;
}
.clear_float{
	clear:both;
}
.yong_hu a{
	width:150px;
	height:50px;
	float:left;	
	color:green;
	border:2px solid green;
	border-top-style:none;
	border-left-style:none;
	border-right-style:none;
}
.yong_hu p{
	text-align:center;
	margin-top:20px;
	}
.z_han{
	width:320px;
	height:52px;
	float:left;
	margin-left:97px;
	margin-top:40px;
	}
.mi_ma{
	width:320px;
	height:52px;
	float:left;
	margin-left:65px;
	margin-top:20px;
}
.zhu_c{
	width:190px;
	height:42px;
	float:left;
	margin-left:134px;
	margin-top:20px;
	background-color:#82AC58;
}
.zhu_c a{ 
	color:white;
	

}
.zhu_c p{	
	margin-top:10px;
	text-align:center;
	}
.yan_z{
	width:140px;
	height:52px;
	float:left;
	margin-left:80px;
	margin-top:20px;
}
#code{
	float:left;
	margin-top:15px;
}
#cc{
	float:left;
	margin-left:8px;
	margin-top:24px;
}
.img{
	float:left;
	margin-top:18px;
}
.img_a{
	float:left;
	margin-top:23px;
	margin-left:9px;
	color:gray;
}


.zhu_ce{
	width:1150;
	height:520px;
	float:left;
	border:1px solid gray;
	background-color:white;
}
.deng_ru{
	width:400;
	height:320px;
	float:left;
	margin-top:55px;
	margin-left:15px;	
}
.deng_ru p{
	margin-top:15px;
	
}
.li_ji{
	width:105px;
	height:40px;
	border:1px solid gray;	
	margin-top:17px;
	background-color:#EAEAEA;
}
.li_ji p{
	text-align:center;
}
.li_ji a{		
	color:black;
	
}

/*<!--中部内容结束-->*/	
/*	<!--尾部开始-->*/			
.footer_k{
	     width:1150px;
         height:42px;
		 border:1px solid gray;
		 border-left-style:none;
		 border-right-style:none;
		 margin-top:30px;
		 line-height:37px;
		float:left;		 		 
}
.footer_k li{
	    
		 margin-bottom:5px;
		float:left;	
		margin-top:4px;	
		margin-left:15px;
}

 
.footer_k a{
	   color:#ff8f54;
      
}


.text{
		margin-top:38px;
		float:left;
		font-size:13px;
		 margin-left:5px;
			}

.text1{
		margin-top:38px;
		float:left;
		 font-size:13px;
		 margin-left:160px;
}	
.text2{	  			
		 height:54px;
		  float:left;
		  margin-left:298px;
}	  
	  
.text2 li{
		margin-left:6px;
	   float:left;
		font-size:13px;
		margin-bottom:40px;
}	
.fen_xiang{
	margin-top:38px;
}  
.text2 img{
	margin-top:32px;
}  
/*<!--尾部结束-->*/	  
	  