/*user_login 页面样式*/
.an_li ul li a:hover{border-top:1px solid #010101;line-height:8px;}
.header_nav ul li i{color:#ccc;margin:0 20 0 10px;}
.header_left{
			 width:474px;
			height:123px;
			 margin-left:142px;
			 float:left;
			 }
			 
.header_right{	   
		width:488px;
		height:60px;	 
		float:left;
		margin-left:110px;
		margin-top:27px;
		background: #fbfbfb none repeat scroll 0 0;
}
.an_li a{	   
		color:black;
}	
.header_right li{	
		float:left;
		margin-left:7px;
		margin-top:12px;
}	
.deng_lu{
		margin-left:305px;
		margin-top:1px;
}
.deng_lu a{color:green;
}
.header_nav ul li a {
    color: #010101;
    padding-top: 10px;
}

/*banner 样式 start*/
.banner{margin:0 auto;width:1150px;}
/*banner 样式 end*/

/*主体样式 start */
.main{width:1150px;margin:0 auto;}
.box_15{height:15px;}
.box_20{height:20px;}
.box_30{height:30px;}
.box_40{height:40px;}
.box_100{height:100px;}
.box_300{height:300px;}
/*当前位置 start*/
.current{height:37px;line-height:37px;}
.current p{margin-left:10px;color:#666;}
.current p a{color:#666;font-size:14px;}
/*当前位置 end*/

/*用户登录 start*/
.user_login{border:1px solid #ccc;padding:65px 45px;overflow:hidden;background:#fff;}
.reg_quick{float:left;}
.login_form{width:630px;float:left;border-right:1px dashed #eaeaea;margin-right:30px;padding-right:30px;}
.login_form h2{color:#8eb870;font-size:18px;font-weight:normal;border-bottom:2px solid #eaeaea;height:35px;}
.login_form h2 span{display:block;width:130px;text-align:center;border-bottom:2px solid #70ab4f;height:35px;line-height:35px;}
.login_form p span{width:90px;display:block;text-align:right;float:left;height:38px;line-height:38px;margin-right:10px;}
.login_form p input{height:38px;width:240px;padding:0 0 0 10px;}
.login_form .login_btn input{width:190px;height:40px;background:#8eb870;border:0;font-size:16px;color:#fff;}

.reg_quick p{width:100px;height:38px;}
.reg_quick .promptly{background:#eaeaea;border:1px solid #ccc;text-align:center;line-height:38px;}
.reg_quick .promptly a{color:#6f6f6f;display:block;}
/*用户登录 end*/
/*主体样式 end */