
.big_boss{
		height:1425px;
		width:1150px;  
		margin:0 auto;
		background-color:#fbfbfb;
		}
/*<!--头部开始-->*/			
 .an_li ul li a:hover{border-top:1px solid #010101;line-height:8px;}
.header_nav ul li i{color:#ccc;margin:0 20 0 10px;}
.header_left{
			 width:474px;
			height:123px;
			 margin-left:64px;
			 float:left;
			 }
			 
.header_right{	   
		width:510px;
		height:116px;	 
		float:left;
		margin-left:30px;
		background: #fbfbfb none repeat scroll 0 0;
}
.an_li a{	   
		color:black;
}	

.an_li li{float:left;
	height:41px

}
.header_right li{	
		float:left;
		margin-left:3px;
		margin-top:27px;
}	
.deng_lu{
		width:300px;
		margin-left:332px;
		margin-top:1px;
}
.deng_lu a{color:green;
}
.header_nav ul li a {
    color: #010101;
    padding-top: 10px;
}
.z_xin{
		height:22px;
		background-color:#DBB72B;
		text-align:center;
}
.z_xin a{
	color:white;
	text-align:center;
	
}
.an_li a{	   
		color:black;
}
.an_li ul{
	margin-left: 20px;
}
/*<!--头部结束-->*/	
/*<!--nav开始-->*/
.nav{
	float:left;
}
.nav_a{	
		width:1150px;
         height:50px;
		float:left;
}	
.nav_a {	
		margin-top:2px;
}	
.so_ye{
		width:220px;
         height:46px;
		 float:left;
		text-align:center;
}						
.so_ye p{
		margin-top:10px;
}	
.nav_a a{
		color:gray;
}					
.small_box{
	width:1150px;
	height:900px;
	 float:left;		
}						
.b_dang{
	width:1150px;
	height:520px;
	 float:left;
	border:1px solid gray;		
}
.user{
	width:220px;
	height:519px;
	 float:left;
	border:1px solid gray;		
}
.user_a{
	width:220px;
	height:120px;
	float:left;
	border:1px solid gray;
	border-left-style:none;
	border-top-style:none;
	border-right-style:none;
}
.user_a p{
		text-align:center;
		margin-top:32px;
}
.user_a span{
		margin-left:15px;
}
.user_b{
	width:220px;
	height:48px;
	float:left;	
	background-color:#82AC57;	
}
.user_b {
	
	color:white;
}
.user_b p{
		width:220px;
	    height:48px;
		float:left;
		margin-left:34px;
		margin-top:15px;
}
.user_c{
	width:220px;
	height:48px;
	float:left;
	border:1px solid gray;
	border-left-style:none;
	border-right-style:none;
}
.user_c p{
		width:220px;
	    height:48px;
		float:left;
		margin-left:34px;
		margin-top:10px;
}
.user_c a{
	color:black;
}
.user_b span{
	float:right;
	margin-right:60px;
}
.xin_xi{
		width:820px;
	    height:42px;
		border:1px solid gray;
		float:left;
		margin-top:45px;
		margin-left:37px;
		border-left-style:none;
		border-top-style:none;
		border-right-style:none;		
}
.xin_xi a{		
		margin-left:21px;
}
.ji_b{
	float:left;
	margin-top:10px;
}
.ji_b a{color:black;}
.she_zhi{
		width:115px;
	    height:42px;
		float:left;
		margin-left:21px;
		background-color:#82AC57;		
}
.she_zhi p{
	margin-top:10px;
	text-align:center;
}
.she_zhi {color:white;
}
.clear_float{
	clear:both;	
}	
.z_han{
	float:left;
	margin-top:34px;
}
.z_han li{
	margin-left:80px;
	margin-top:20px;
}
.di_zhi{
	margin-left:50px;
	margin-top:20px;	
}
/*<!--中部内容结束-->*/	
/*	<!--尾部开始-->*/			
.footer_k{
	     width:1150px;
         height:42px;
		 border:1px solid gray;
		 border-left-style:none;
		 border-right-style:none;
		 margin-top:30px;
		 line-height:37px;
		float:left;		 		 
}
.footer_k li{
	    
		 margin-bottom:5px;
		float:left;	
		margin-top:4px;	
		margin-left:15px;
}
.footer_k a{
	   color:#ff8f54;     
}
.text{
		margin-top:38px;
		float:left;
		font-size:13px;
		 margin-left:5px;
			}

.text1{
		margin-top:38px;
		float:left;
		 font-size:13px;
		 margin-left:160px;
}	
.text2{	  			
		 height:54px;
		  float:left;
		  margin-left:298px;
}	  
	  
.text2 li{
		margin-left:6px;
	   float:left;
		font-size:13px;
		margin-bottom:40px;
}	  
.fen_xiang{
	margin-top:38px;
}  
.text2 img{
	margin-top:32px;
}
/*<!--尾部结束-->*/	  
	  