.content_box{width:1205px;margin:auto;margin-top:42px;height:106px;}
.logo{float:left;margin:15px 0px 0px 20px;}
.logo_center{float: left;width:100%;height:100px;}
.logo_center p{float: left;}
.logo li{float:left;margin:0px 0px 0px 8px;}
.logo img{float: left;}
.get_content{float: left;margin:8px 0px 0px 65px;}
.get_content form{}
.get_nav{float: left;}
.get_nav li{float: left;height:32px;margin:8px 0px 0px 20px;}
.get_nav a{font-size:12px;color: #666666;}
/*header导航栏*/
.pic1{width: 81px;background: white;z-index:10;border:1px solid #e5e5e5;left:-6px;position:absolute;top:39px;margin-top:11px;}
.pic1 a{float:left;margin-left:9px;line-height:35px;margin-left:9px;}
.pic3{position: absolute;width: 102px;background: white;z-index:20;border:1px solid #e5e5e5;margin-left:-27px;margin-top:11px;}
.pic3 a{float: left;margin-left:5px;line-height:35px;}
.pic4{position: absolute;width: 102px;background: white;z-index:20;border:1px solid #e5e5e5;margin-top:11px;margin-left:-27px;}
.pic4 a{float: left;margin-left:5px;line-height:35px;margin-left:9px;}
.pic5{position: absolute;background: white;z-index:20;border:1px solid #e5e5e5;margin-left:-65px;width:140px;margin-top:11px;}
.pic5 span{text-align: center;line-height:40px;border-top:1px solid #e5e5e5;width:140px;padding-top: 10px;margin-left:10px;}
.pic5 img{float: left;border:10px solid #fff;width:120px;}
.pic2{position: absolute;width: 261px;background: white;z-index:20;border:1px solid #e5e5e5;margin-left: -186px;margin-top:11px;}
.pic2 a{float: left;line-height:35px;text-align: center;margin-left:9px;}
.pic2 p{margin-left:56px;border: 11px solid #fff;float: left; }
.pic6{position: absolute;background: white;z-index:-1;border:1px solid #e5e5e5;margin-left:-15px;width:140px;}
.pic6 span{text-align: center;line-height:40px;border-top:1px solid #e5e5e5;width:140px;padding-top: 10px;margin-left:10px;}
.colo-l{height:40px;display:block;width: 65px;padding-left:13px;margin-left:-15px;z-index:99;}
.pic6 img{float: left;border:10px solid #fff;}
.pic_ho img{width:85px;height:52;border:10px solid #fff;float: left;}
.pic_ho{width:260px;}
.pic_ho li{float: left;width:138px;line-height:25px;margin-top:8px;}
.pic_ho span{font-size:14px;color: #e34b00;margin-left:15px;}
.Hui_img{background:url(../images/more.png)no-repeat;width: 10px;height:10px;display:block;margin-top:18px;margin-right:5px;}
.Hui_ico{background:url(../images/index_03.png)no-repeat;width:1px;height:20px;display:block;margin-top:12px;margin-right: -3px;}
/*header*/
.header_box{border-bottom:1px solid #e5e5e5;height:40px;}
.header_top1 i{float:right;margin-left:10px;margin-right: 10px;}
.header_top1 li{float:left;font-size:12px;color:#666666;height:38px;border:1px solid #fff;z-index:999;line-height:40px;}
.header_top1 a{color:#666666;}
.header_top2 ol{float:right;font-size:12px;color:#666666;width:74px;height:28px;border:1px solid #fff;z-index:999;line-height:39px;float: left;}
.header_top2 a{color:#666666;display:block;z-index:999;position: relative;padding-left:8px;margin-right: -3px;}
.dropDown.hover .dropDown_A{border-top:1px solid #e5e5e5;border-right:1px solid #e5e5e5; border-bottom:1px solid #fff;background:#ffffff;border-left:1px solid #e5e5e5;}
.dropDown.open .dropDown_A{transition-duration:0s ;transition-property:all;_background-position:0 0;transform: rotate(0deg)}
.cl-pic{margin-top:13px;}
.citybox{border:1px solid #f2f2f2;border-top:none;}
.citybox li{float:left;width:10%;text-align: center;line-height:35px;color:#666666;font-size:12px;}
/**/
.nav_topone{border-top:2px solid #eb1100;border-bottom :1px solid  #e5e5e5; height:40px;line-height: 40px;}
.nav_top p{float: left;width:200px;height:40px;background-color:#eb1100;}
.nav_top img{text-align:center;line-height:40px;margin-left:18px;}
.nav_top p a{color:white;font-size:16px;font-weight:700;}
.nav_top li{float:left;width:108px;text-align: center;font-size:15px;}
.nav_top a{color: #666666;font-size:16px;font-weight:700;}
.food_nav{border-bottom:1px solid #dddddd;height:50px;}
.food_navone{height:50px;}
.food_nav li{float:left;font-size:12px;margin-right:5px;}
.food_navone a{color:#666666;}
.food_navone span{color:#e34b00;}
.ban_right{width:690px;}
.nav_left{border: 1px solid #f6f6f6;border-bottom-style:none;}
.nav_left li{color: #323232;width:180px;float:left;}
.nav_left a{color: #323232;display:block;}
.nav_left li{border-bottom: 1px solid #f6f6f6;height:80px;}
.nav_left li:hover{border-right:1px solid white;}
.nav_left li img{float: left;margin: 25px 0px 0px 0px;}
.nav_center{border:1px solid #f6f6f6;}
.nav_centerone{height:290px;}
.banner_right{float:right;margin-top:62px;}
.header_top2 a{color:#666666;display:block;}
.nav_topt{background: #f6f6f6 none repeat scroll 0 0;height: 80px;width: 100%;font-weight:700;font-size:18px;}
.nav_left{border: 1px solid #f6f6f6;border-bottom-style:none;}
.nav_left li{color: #323232;width:180px;float:left;}
.nav_left a{color: #323232;display:block;}
.nav_left li{border-bottom: 1px solid #f6f6f6;height:80px;}
.nav_left li:hover{border-right:1px solid white;}
.nav_left li img{float: left;margin: 25px 0px 0px 0px;}
.nav_center{border:1px solid #f6f6f6;}
.nav_centerone{height:290px;}
/*header*/
.logo{float:left;margin:15px 0px 0px 20px;}
.logo_center p{float: left;}
.logo li{float:left;margin:0px 0px 0px 8px;}
.logo img{float: left;}
.get_content{float: left;margin:8px 0px 0px 65px;}
.get_nav{float: left;}
.get_nav li{float: left;height:32px;margin:8px 0px 0px 20px;}
.get_nav a{font-size:12px;color: #666666;}
/**/
.nav_title1{height:54px;border-bottom:5px solid #f2f2f2;float: left;}
.nav_title1 li{float: left;line-height:68px;font-weight:700;font-size:16px;}
.nav_title1 span{width:6px;float: left;height:24px;background:#ea1100;margin:23px 15px 0px 10px; }
.conter_cont li{float: left;margin-top:20px;color:#666666;font-size:14px;}
.conter_content1{width:31%;border:1px solid #f2f2f2;margin-right:25px;}
.conter_content1 img{float:left;margin:28px 36px 0px 30px;}
.conter_contenttwo li{color:#666666;font-size:12px;}
.conter_contenttwo{float: left;line-height:21px;margin-top:32px;color:#666666;}
.conter_content3 span{font-size:16px;color:#666666;}
.conter_cont3 span{color:#5a73fe;font-size:12px;}
.currentss a{background:#767c89;color:white;}
/*搜索框开始*/
fieldset.search {padding: 0px;border: none;width:100%;background-color: #eb1100;border:1px solid #eb1100;}
.search input, .search button {border: none;float: left;}
.search input.box{height: 40px;width: 87%; margin-right: 0px;padding-right: 0px;margin: 1px;font-size: 12px;padding-left: 5px;}
.search input.box:focus {background: white ;outline: none;font-size: 12px;}
.search button.btn {border: none;width: 71px; height: 36px;margin: 0px auto;margin: 1px;color: white;background: url('../images/index77_03.png') no-repeat top right;}
/*搜索框结束*/
@charset "utf-8";
*{margin:0;padding: 0;list-style: none;}
a{-webkit-transition:all 0.2s linear;-mos-transition:all 0.2s linear;-mz-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;}
a:hover{-webkit-transition:all 0.2s linear;-mos-transition:all 0.2s linear;-mz-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;}
#catid1{display:none;}
#category-2015 #allsort{width:198px;height: 412px;position:absolute;left: 0px;top:-1px;border:1px solid #ddd;background-color: #fff;float:left;z-index:99;}
#category-2015 #allsort .item{width:198px;height: 80px;float: left;}
#category-2015 #allsort .item span{height: 28px;line-height: 28px;width:198px;z-index: 30;border-top:none;}
#category-2015 #allsort .item span h3{width:189px;padding-left:10px;position:absolute;font-size:14px;font-weight: 700;color: #333;height:91px;}
#category-2015 #allsort .item span h3 a{color: #333;text-decoration: none; line-height:92px;display:block;font-weight: 700;}
#category-2015 #allsort .item span h3 img{margin-right:10px;}
#category-2015 #allsort .item span h3 a:hover{color: #eb1100;font-weight: 700;font-size:14px;}
#category-2015 #allsort .item .i-mc{display:none;width:400px;height:412px;background:#fff;border:1px solid #ddd;position: absolute;left: 198px;top:0;z-index: 25;border-top:none;}
#category-2015 #allsort .on h3{border:solid #ddd;border-width:1px 0;background: #fff;z-index:40;}
#category-2015.on #allsort{display:block;} 
#category-2015.on #allsort .on .i-mc{display: block;}
#navitems-2015{height: 40px;}
#navitems-2015 li{float: left;}
#navitems-2015 li a{display:inline-block;padding:0 30px;height: 40px;line-height: 40px;color: #fff;text-decoration: none;}
#navitems-2015 li a:hover{color: #fff;background: #a40000;font-weight: 700;}
.pic_ite span{border-top:1px solid #ddd;width:198px;}
.i-mc a{width:100px;float:left;margin-left:20px;font-size:12px;color:#666666;line-height:35px;}
.i-mc a:hover{color:#eb1100;}
.i-mc p{width:370px;float:left;font-size:16px;color:#eb1100;border:15px solid #fff;font-weight: 700;}
.actives{border:1px solid #eb1100;}
/*搜索框开始*/
.searchs { margin: auto;padding: 0px;border: none;width: 560px;background-color: #767c89;border:1px solid #767c89;}
.searchs input, .searchs button { border: none;float: left;}
.searchs input.boxs {height:28px;width: 508px;margin-right: 0px;padding-right: 0px;margin: 1px; padding-left: 5px;font-size: 12px;}
.searchs input.boxs:focus {background: white ; outline: none;}
.searchs .btns {border: none;width: 32px;height: 30px;margin: 0px auto;color: white;margin-left:10px;background: url('../images/form2_03.png') no-repeat 0 1px;}
/*搜索框结束*/
.content_box{width:1205px;margin:auto;margin-top:42px;height:106px;}
.logo{float:left;margin:15px 0px 0px 20px;}
.logo_center{float: left;width:100%;height:100px;}
.logo_center p{float: left;}
.logo li{float:left;margin:0px 0px 0px 8px;}
.logo img{float: left;}
.get_content{float: left;margin:8px 0px 0px 65px;}
.get_content form{}
.get_nav{float: left;}
.get_nav li{float: left;height:32px;margin:8px 0px 0px 20px;}
.get_nav a{font-size:12px;color: #666666;}
/**/
.echo_top{;margin-left:10px;color:#666666;font-size:14px;text-indent:2em;}
.s_yibox{border-bottom:5px solid #f6f6f6;height:60px;}
.s_yicont{width:8px;height:20px;background:#eb1100;margin-top:30px;}
.s_yibox li{float: left;margin-left:12px;line-height:80px;font-size:16px;font-weight:700;}
.bg_box li{margin-top:14px;text-indent:2em;color:#666666;font-size:14px;line-height:22px;}
/**/
.page {margin: 0px auto; text-align: center;width: 200px;height:50px;}
.currents {border: 1px solid #e34b00;width: auto;padding: 3px 7px 3px 7px;color: white;text-align: center;margin-right: 3px;text-decoration: none;display: inline;vertical-align: middle;background: #e34b00;}
.page a {border: 1px solid #f2f2f2;width: auto;padding: 3px 7px 3px 7px;color: #666666;text-align: center;margin-right: 8px;text-decoration: none; display: inline;vertical-align: middle;}
/**/
.content_box{width:1205px;margin:auto;margin-top:42px;height:106px;}
.logo{float:left;margin:15px 0px 0px 20px;}
.logo_center{float: left;width:100%;height:100px;}
.logo_center p{float: left;}
.logo li{float:left;margin:0px 0px 0px 8px;font-weight:700;}
.logo img{float: left;}
.get_content{float: left;margin:8px 0px 0px 65px;}
.get_content form{}
.get_nav{float: left;}
.get_nav li{float: left;height:32px;margin:8px 0px 0px 20px;}
.get_nav a{font-size:12px;color: #666666;}
/**/
.nav_cont{border:1px solid #f2f2f2;border-right:none;margin-bottom: 39px;}
.nav_cont li{width:33.2%;height:53px;text-align:center;border-right:1px solid #f2f2f2;line-height:53px;float: left;}
.nav_cont a{font-size:14px;display:block;font-weight:700;}
.nav_title{float:left;width:1205px;height:84px;border-bottom:5px solid #f2f2f2;}
.nav_title li{float: left;line-height:125px;}
.nav_title span{width:6px;float: left;height:24px;background:#ea1100;margin:51px 15px 0px 10px; }
.db_title{margin-top: 20px;}
.db_title1 img{float: left;}
.db_title1 li{float: left;margin-left:10px;line-height:29px;font-size:14px;color:#333333;font-weight:700;}
.db_titlecon{border: 1px solid #f2f2f2;background:#f6f6f6;height:52px;margin-top:10px;}
.db_titlecon li{float:left;margin-left:50px;text-align: center;line-height:52px;color:#666666;font-size:12px;}
.db_titlecon{color:#5a73fe;}
.db_title2 img{float: left;}
.db_title2 li{float: left;margin-left:10px;line-height:29px;font-size:14px;color:#333333;font-weight:700;}
.db_title3 img{float: left;}
.db_title3 li{line-height:29px;font-size:14px;color:#333333;color:#eb1100;font-weight:700;}
 .db_ti5 span{float:right;}   
.db_cont{background:#f6f6f6;border:1px solid #f2f2f2;height:36px;}
.db_cont li{font-size:12px;color:#666666;line-height:36px;}
.psot_cont{border:1px solid #f2f2f2;border-bottom:none;}
.psot_cont li{float: left;font-size:12px;color:#666666;line-height:32px;}
.psot_cont1{border-right:1px solid #f2f2f2;}
.psot_cont2{border-right:1px solid #f2f2f2;}
.psot_contbot{border:1px solid #f2f2f2;}
.psot_contbot li{font-size:12px;color:#666666;line-height:32px;}
.post_sty{font-size:12px;color:#666666;line-height:25px;}
.post_sty span{color:#eb1100;font-weight:700;}
.post_style{font-size:12px;color:#666666;line-height:25px;}
.post_style span{color:#eb1100;font-weight:700;}
.inp_sty li{float:left;width:140px;height:40px;text-align: center;line-height:40px;}
.inp_sty1{background:#eb1100;border-right:1px  solid #c32215;border-left:1px  solid #c32215;  border-bottom:1px solid #591210;border-top:1px  solid #c32215;}
.inp_sty2{background:#6579e6;border-bottom:1px solid #591210;border-top:1px  solid #8a7ac0;border-left:1px  solid #8a7ac0;border-right:1px  solid #8a7ac0;margin-left: 20px;}
.inp_sty a{color:#fff;font-weight:700;}
.conter_content2{float: left;line-height:21px;color:#666666;font-size:16px;margin-top:32px;}
.conter_content2 a{color:#999999;font-size:13px;}
.conter_content2 span{color:#5a73fe;font-size:13px;}
/*footer*/
.footer_box{border-top:2px solid #dddddd;margin-top:40px;}
.footer_nav{font-size:12px;}
.footer_title{margin-bottom:10px;}
.footer_title a{color:black;font-size:16px;font-weight:600;}
.footer_nav li a{ color:#666666;line-height:25px;font-weight:600;}
.footer_conter{border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;float: left;font-weight:600;}
.footer_conter p{text-align: center;}
.scan li{text-align:center;font-size:12px;}
.touch_phone span{font-size:12px; color:#666666;}
.touch_phone{font-weight:600;}
.firm_urlbox{height:120px;background-color:#e5e5e5;border-top:#e5e5e5;}
.firm_url{text-align:center; }
.firm_urlmin{padding-top:40px;font-size:12px; color:#666666;font-weight:600;}
.pho-pic{width:30px;height:30px;}
 .open-pic{border:15px solid #fff;width:135px;margin-left: 17px;}
.bg-box-02{border:1px solid #e5e5e5;width:140px;height:140px;float:left;z-index:98;position:absolute;display:none;right:183px;margin-top:18px;}
.bg-box-02 img{float:left;margin-top:0px;margin-left:0px;}