/*header导航栏*/
.pic1{width: 81px;background: white;z-index:10;border:1px solid #e5e5e5;left:-6px;position:absolute;top:39px;margin-top:11px;}
.pic1 a{float:left;margin-left:9px;line-height:35px;margin-left:9px;}
.pic3{position: absolute;width: 102px;background: white;z-index:20;border:1px solid #e5e5e5;margin-left:-27px;margin-top:11px;}
.pic3 a{float: left;margin-left:5px;line-height:35px;}
.pic4{position: absolute;width: 102px;background: white;z-index:20;border:1px solid #e5e5e5;margin-top:11px;margin-left:-27px;}
.pic4 a{float: left;margin-left:5px;line-height:35px;margin-left:9px;}
.pic5{position: absolute;background: white;z-index:20;border:1px solid #e5e5e5;margin-left:-65px;width:140px;margin-top:11px;}
.pic5 span{text-align: center;line-height:40px;border-top:1px solid #e5e5e5;width:140px;padding-top: 10px;margin-left:10px;}
.pic5 img{float: left;border:10px solid #fff;width:120px;}
.pic2{position: absolute;width: 261px;background: white;z-index:20;border:1px solid #e5e5e5;margin-left: -187px;margin-top:11px;}
.pic2 a{float: left;line-height:35px;text-align: center;margin-left:9px;}
.pic2 p{margin-left:56px;border: 11px solid #fff;float: left; }
.pic6{position: absolute;background: white;z-index:-1;border:1px solid #e5e5e5;margin-left:-15px;width:140px;}
.pic6 span{text-align: center;line-height:40px;border-top:1px solid #e5e5e5;width:140px;padding-top: 10px;margin-left:10px;}
.colo-l{height:40px;display:block;width: 65px;padding-left:13px;margin-left:-15px;z-index:99;}
.pic6 img{float: left;border:10px solid #fff;}
.pic_ho img{width:85px;height:52;border:10px solid #fff;float: left;}
.pic_ho{width:260px;}
.pic_ho li{float: left;width:138px;line-height:25px;margin-top:8px;}
.pic_ho span{font-size:14px;color: #e34b00;margin-left:15px;}
.Hui_img{background:url(../images/more.png)no-repeat;width: 10px;height:10px;display:block;margin-top:18px;margin-right:5px;}
.Hui_ico{background:url(../images/index_03.png)no-repeat;width:1px;height:20px;display:block;margin-top:12px;margin-right: -3px;}
/*header*/
.header_box{border-bottom:1px solid #e5e5e5;height:40px;}
.header_top1 i{float:right;margin-left:10px;margin-right: 10px;}
.header_top1 li{float:left;font-size:12px;color:#666666;height:38px;border:1px solid #fff;z-index:999;line-height:40px;}
.header_top1 a{color:#666666;}
.header_top2 ol{float:right;font-size:12px;color:#666666;width:74px;height:28px;border:1px solid #fff;z-index:999;line-height:39px;float: left;}
.header_top2 a{color:#666666;display:block;z-index:999;position: relative;padding-left:8px; margin-right: -3px;}
.dropDown.hover .dropDown_A{border-top:1px solid #e5e5e5;border-right:1px solid #e5e5e5; border-bottom:1px solid #fff;background:#ffffff;border-left:1px solid #e5e5e5;}
.dropDown.open .dropDown_A{transition-duration:0s ;transition-property:all;_background-position:0 0;transform: rotate(0deg)}
.cl-pic{margin-top:13px;}/*header*/
.logo{float:left;margin:15px 0px 0px 20px;}
.logo_center p{float: left;}
.logo li{float:left;margin:0px 0px 0px 8px;}
.logo img{float: left;}
.get_content{float: left;margin:8px 0px 0px 65px;}
.get_nav{float: left;}
.get_nav li{float: left;height:32px;margin:8px 0px 0px 20px;}
.get_nav a{font-size:12px;color: #666666;}
/**/
/**/
.nav_topone{border-top:2px solid #eb1100;border-bottom :1px solid  #e5e5e5; height:40px;line-height: 40px;}
.nav_top p{float: left;width:200px;height:40px;background-color:#eb1100;}
.nav_top img{text-align:center;line-height:40px;margin-left:18px;}
.nav_top p a{color:white;font-size:16px;font-weight:700;}
.nav_top li{float:left;width:108px;text-align: center;font-size:15px;}
.nav_top a{color: #666666;font-size:16px;font-weight:700;}
.food_nav{border-bottom:1px solid #dddddd;height:50px;}
.food_navone{height:50px;}
.food_nav li{float:left;font-size:12px;margin-right:5px;}
.food_navone a{color:#666666;}
.food_navone span{color:#e34b00;}
.ban_right{width:690px;}
/**/
.banner_right{float:right;margin-top:62px;}
/**/
.new_title{height:52px;border:1px solid #f2f2f2;}
.new_title li{width:49.8%;line-height:52px;border-left:1px solid #f2f2f2;float: left;text-align: center;}
.new_title a{color:#666666;display:block;font-weight:700;}
.new_cont{line-height:28px;color:#666666;font-size:12px;border-bottom:1px solid #f2f2f2;}
.new_cont p img{float:left;width:300px;height:196px;}
.newscont_title{font-size:16px;color:#000000;font-weight:700;}
.news_ter img{margin-right:8px;}
.news_ter span{color:#eb1100;}
/*搜索框开始*/
fieldset.search {padding: 0px;border: none;width:100%;background-color: #eb1100;border:1px solid #eb1100;}
.search input, .search button {border: none;float: left;}
.search input.box {height: 40px;width: 87%; margin-right: 0px;padding-right: 0px;margin: 1px;font-size: 12px;padding-left:5px;}
.search input.box:focus {background: white ;outline: none;font-size: 12px;}
.search button.btn {border: none;width: 71px; height: 36px;margin: 0px auto;margin: 1px;color: white;background: url('../images/index77_03.png') no-repeat top right;}
/*搜索框结束*/
/*nav-left*/
@charset "utf-8";
*{margin:0;padding: 0;list-style: none;}
a{-webkit-transition:all 0.2s linear;-mos-transition:all 0.2s linear;-mz-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;}
a:hover{-webkit-transition:all 0.2s linear;-mos-transition:all 0.2s linear;-mz-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;}
#catid1{display:none;}
#category-2015 #allsort{width:198px;height: 412px;position:absolute;left: 0px;top:-1px;border:1px solid #ddd;background-color: #fff;float:left;z-index:99;}
#category-2015 #allsort .item{width:198px;height: 80px;float: left;}
#category-2015 #allsort .item span{height: 28px;line-height: 28px;width:198px;z-index: 30;border-top:none;}
#category-2015 #allsort .item span h3{width:189px;padding-left:10px;position:absolute;font-size:14px;font-weight: 700;color: #333;height:91px;}
#category-2015 #allsort .item span h3 a{color: #333;text-decoration: none; line-height:92px;display:block;font-weight: 700;}
#category-2015 #allsort .item span h3 img{margin-right:10px;}
#category-2015 #allsort .item span h3 a:hover{color: #eb1100;font-weight: 700;}
#category-2015 #allsort .item .i-mc{display:none;width:400px;height:412px;background:#fff;border:1px solid #ddd;position: absolute;left: 198px;top:0;z-index: 25;border-top:none;}
#category-2015 #allsort .on h3{border:solid #ddd;border-width:1px 0;background: #fff;z-index:40;}
#category-2015.on #allsort{display:block;} 
#category-2015.on #allsort .on .i-mc{display: block;}
#navitems-2015{height: 40px;}
#navitems-2015 li{float: left;}
#navitems-2015 li a{display:inline-block;padding:0 30px;height: 40px;line-height: 40px;color: #fff;text-decoration: none;}
#navitems-2015 li a:hover{color: #fff;background: #a40000;};
.pic_ite span{border-top:1px solid #ddd;width:198px;}
.i-mc a{width:100px;float:left;margin-left:20px;font-size:12px;color:#666666;line-height:35px;}
.i-mc a:hover{color:#eb1100;}
.i-mc p{width:370px;float:left;font-size:16px;color:#eb1100;border:15px solid #fff;font-weight: 700;}
.actives{border:1px solid #eb1100;}
/*消费评价  ------------*/
.chocolat-open{overflow: hidden;background:#f6f6f6;width: 540px;}
.chocolat-overlay{display:none;opacity: 0.8;}
.chocolat-wrapper{height:400px;width:540px;z-index:16;color: #fff;}
.chocolat-content{width:0px;height:0px;}
.chocolat-content .chocolat-img{position:absolute;width:400px;height:400px;left:78px;}
.chocolat-wrapper .chocolat-left{position:absolute;left:15px;width:70px;height:70px;cursor:pointer;background:url(../images/ad_ctr.png)no-repeat;z-index: 17;display: none;top:280px;}
.chocolat-wrapper .chocolat-right{position:absolute;left:480px;width:70px;height:70px;top:280px;cursor:pointer;background:url(../images/ad_ctr.png)no-repeat  50% 100%;z-index: 17;display: none;}
.chocolat-wrapper .chocolat-right.active{display: block;}
.chocolat-wrapper .chocolat-left.active{display: block;}
.chocolat-wrapper .chocolat-close{width:28px;height:28px;left: 440px;top: 160px;cursor:pointer;position: absolute;top:54;left:260;background:url(../images/deling_03.png) 50% 50% no-repeat;}
.chocolat-wrapper .chocolat-bottom{display:none;}
.chocolat-wrapper .chocolat-set-title{display: inline-block;padding-right: 15px;line-height: 1;border-right: 1px solid rgba(255, 255, 255, 0.3);}
.chocolat-wrapper .chocolat-pagination{float: right;display: inline-block;border-right: 1px solid rgba(255, 255, 255, 0.2);}
.chocolat-wrapper .chocolat-description{display: inline-block;float: left;}
/* container mode*/
.chocolat-in-container .chocolat-wrapper,.chocolat-in-container .chocolat-content,.chocolat-in-container .chocolat-overlay{position: none;}
.chocolat-in-container{ position: none;}
.pick_ing{width:100px;height:100px;}
/*form_pb 部分页码*/
.pages {padding: 20px 0 0 240px;margin: 0px auto;text-align: center;float: left; width: 500px;}
.pages a {border: 1px solid #f2f2f2;width: auto;padding: 0px 5px 0px 4px;color: #666666;text-align: center;margin-right: 3px;text-decoration: none;display: inline;vertical-align: middle;}
.pages p {width: auto;padding: 3px 7px 3px 7px;color: #666666;text-align: center;margin-right: 3px;text-decoration: none;display: inline;vertical-align: middle;}
.current {width: auto;padding: 3px 7px 3px 7px;color: #eb1100;text-align: center;margin-right: 3px;text-decoration: none;display: inline;vertical-align: middle;}
/*form_pb 部分页码*/
.page {padding: 56px 0 32px 0px;margin: 0px auto;text-align: center;margin-right: 25px;}
.page a {border: 1px solid #f2f2f2;width: auto;padding: 3px 7px 3px 7px; color: #666666;text-align: center;text-decoration: none;display: inline;vertical-align: middle;}
.page p { width: auto;color: #666666;text-align: center;text-decoration: none;display: inline;vertical-align: middle;}
.currents { width: auto;color: #eb1100;padding: 3px 7px 3px 7px;text-align: center;text-decoration: none;display: inline;vertical-align: middle;border:1px solid #eb1100;}
/**/
.currentss{background-color: #767c89;color:white;}
.currentss a{color:white;font-weight:700;}
.logo{margin:15px 0px 0px 20px;}
.logo_center{width:100%;}
.logo_center p{float: left;}
.logo li{float:left;margin:0px 0px 0px 8px;}
.logo img{float: left;}
.get_content{float: left;margin:8px 0px 0px 65px;}
.get_nav{float: left;}
.get_nav li{float: left;height:32px;margin:8px 0px 0px 20px;}
.get_nav a{font-size:12px;color: #666666;}
.food_nav li{float:left;margin-top:17px;font-size:12px;}
.food_navone a{color:#666666;}
.food_navone span{color:#e34b00;}
.food_nav{border-bottom:1px solid #dddddd;height:50px;}
.food_navone{height:50px;}
.food_nav li{float:left;font-size:12px;margin-right:5px;}
.food_navone a{color:#666666;}
.food_navone span{color:#e34b00;}
.new_cont1{color:#666666;font-size:12px;}
.new_cont1 p img{float:left;width:540px;height: 330px;}
.newscont_title1{font-size:16px;color:#000000;line-height:88px;font-weight:700;}
.data_box{float: left;width:200px;height:88px;text-align: center;background:#eb1100;font-size:18px;color:white;line-height:20px;}
.data_box ol{margin-top: 25px;text-indent:-1em;}
.data_box span{color:white;font-size:12px;}
.news_ter1{border-bottom:1px solid #f2f2f2;border-top:1px solid #f2f2f2;}
.news_conter{height:88px;border-top:1px solid #f2f2f2;}
.box_bott{border-bottom:1px solid #f2f2f2;height:88px;}
.news_conbox{background:#f6f6f6;font-size:18px;color:#000000;}
.news_conbox ol{margin-top: 25px;text-indent:-1em;}
.news_conbox span{color:#000000;font-size:12px;}
.news_conbox{height:88px;text-align: center;background:#f6f6f6;font-size:16px;color:#000000;line-height:20px;font-weight:700;}
.news_conbox ol{margin-top: 25px;text-indent:-1em;}
.news_conbox span{color:#000000;font-size:12px;}
.news_title{line-height:50px;color:#000000;font-size:16px;font-weight:700;}
.news_title1{color:#666666;font-size:12px;}
.Hui-iconfont{display:block;}
/*footer*/
.footer_box{border-top:2px solid #dddddd;margin-top:40px;}
.footer_nav{font-size:12px;}
.footer_title{margin-bottom:10px;}
.footer_title a{color:black;font-size:16px;font-weight:600;}
.footer_nav li a{ color:#666666;line-height:25px;font-weight:600;}
.footer_conter{border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;float: left;font-weight:600;}
.footer_conter p{text-align: center;}
.scan li{text-align:center;font-size:12px;}
.touch_phone span{font-size:12px; color:#666666;}
.touch_phone{font-weight:600;}
.firm_urlbox{height:120px;background-color:#e5e5e5;border-top:#e5e5e5;}
.firm_url{text-align:center; }
.firm_urlmin{padding-top:40px;font-size:12px; color:#666666;font-weight:600;}
/*news22*/
.content_box{width:1205px;margin:auto;margin-top:42px;height:106px;}
.logo{float:left;margin:15px 0px 0px 20px;}
.logo_center{float: left;width:100%;height:100px;}
.logo_center p{float: left;}
.logo li{float:left;margin:0px 0px 0px 8px;font-weight:700;}
.logo img{float: left;}
.get_content{float: left;margin:8px 0px 0px 65px;}
.get_nav{float: left;}
.get_nav li{float: left;height:32px;margin:8px 0px 0px 20px;}
.get_nav a{font-size:12px;color: #666666;}
/**/
.new_date{background: #faf7f7;height:165px;}
.bx_da{line-height:25px;border-top:64px solid #faf7f7;}
.new_date1{font-size:16px;color:#000000;font-weight:700;}
.new_date1 span{color:#666666;font-size:12px;}
.new_date2{font-size:9px;font-weight:700;}
.new_date2 span{color:#000000;font-size:29px;}
.news_content li{text-indent:2em;font-size:12px;border-top:20px solid white;line-height:25px;color:#666666;}
.news_img{width:100px;height:100%;}
.pho-pic{width:30px;height:30px;}
 .open-pic{border:15px solid #fff;width:135px;margin-left: 17px;}
/**/