.lo-go{line-height:160px;}
.lo-go img{float: left;margin-right:33px;padding-top:48px;}
.lo-go span{float:left;font-size:23px;font-weight:500;color:#333333;}
.head-title li{float:left;line-height:160px;width:110px;}
.head-title a{color:#666666;font-weight:500;font-size: 16px;}
.head-title img{margin-right:10px;margin-left:10px;}
.bg-pic img{width:100%;height:520px;}
.bg-pic p{position:absolute;z-index:99px;color:#fff;font-size:21px;float:left;top:350px;}
.bg-pic span{font-size:38px;font-weight:500;float:left;}
.cont-title{font-size:12px;font-weight:500;color:#666;}
.cont-title span{font-size:20px;font-weight:700;color:#333;}
.conter-1{padding-top:60px;}
.conter-2{padding-top:60px;}
.conter-2 li{font-size:12px;font-weight:500;color:#666;}
.conter-2 span{font-size:16px;font-weight:700;color:#333;}
.sub a{background:#e94d4d;color:#fff;font-size:16px;font-weight:700;width:240px;height:50px;line-height:50px;display:block;}
.footer{border-top:1px solid #e5e5e5;}
.footer span{color:#5a73fe;}
.footer li{float:left;font-size:12px;font-weight: 700;color:#666666;}
.footer a{float:left;font-size:12px;font-weight: 700;color:#666666;}
.copy {font-size:12px;font-weight: 700;color:#666666;}
.footer ol{float:left;}
.footer img{float:left;margin-right:20px;margin-left:20px;margin-top:3px;}
/* ++++shops_case*/
.bg-pic-2 img{width:100%;height:520px;}
.bg-pic-2 p{position:absolute;z-index:99px;color:#e3bc99;font-size:21px;float:left;top:350px;}
.bg-pic-2 span{font-size:38px;font-weight:500;float:left;}
.conter-shll ul{border-bottom:1px solid #e5e5e5;float:left;}
.conter-shll{border-top:1px solid #e5e5e5;float:left;}
.conter-shll img{text-align: center;}
.conter-shll li{float:left;width:33%;line-height:120px;}
.right-box{border-right:1px solid #e5e5e5;float:left;height:100%;}
.conter-contitle{border:1px solid #e5e5e5;}
.conter-contitle-01{border-bottom:1px solid #e5e5e5;float:left;width:100%;}
.conter-contitle-01 li{float: left;line-height:50px;margin-left:20px;font-size:12px;font-weight: 700;color:#666666;padding-right:10px;}
.conter-contitle-01 ol{float: left;line-height:50px;font-size:12px;font-weight: 700;color:#666666;padding-left:10px;}
.conter-contitle-01 img{float:left;margin-right:8px;margin-top:19px;}
.conter-contitle-01 span{font-size:10px;font-weight:700;color:#999999;}
.pic-box{background:#fff;width:260px;height:160px;float: left;margin-top:15px;margin-bottom:15px;margin-left:10px;}
.pic-box img{margin-left:55px;margin-top:45px;float:left;}
.conter-contitle-02{color:#767c89;line-height:35px;font-size:12px ;font-weight:500;background:#f6f6f6;margin-top:15px;}
/*shops-ment++++*/
.ment-box{border:1px solid #e5e5e5 ;float:left;width:100%;border-bottom:none;}
.ment-conter-1{border-bottom:1px solid #e5e5e5;float:left;width:100%;background:#f6f6f6;}
.ment-conter-1 li{border-right:1px solid #e5e5e5;line-height:50px;float:left;margin-left:15px;padding-right:15px;}
.ment-conter-1 a{font-size:12px;font-weight:700;color:#666666;display:block;}
.ment-conter-2 {border-bottom:1px solid #e5e5e5;float:left;width:100%;background:#fff;}
.ment-conter-2 a{font-size:12px;font-weight:700;color:#666666;display:block;}
.ment-conter-2 li{line-height:50px;float:left;margin-left:15px;padding-right:15px;}
.ment-conter-3 li{line-height:50px;padding-left:10px;padding-right:15px;line-height:50px;border-bottom:1px solid #e5e5e5;}
.ment-conter-3{float:left;width:100%;}
.ment-conter-3 a{font-size:14px;font-weight:500;padding-left:20px;color:#333333;}
.fk-ment{border:1px solid #e5e5e5; width:100%;float:left;color:#666666;height: 150px;font-size:16px;font-weight:500;line-height:30px;}
.fk-ment-1{border-right:1px solid #e5e5e5;float: left;height: 150px;}
.fk-ment li{margin-top:42px;float: left;}
.fk-ment-2 span{color:#666666;font-size:12px;font-weight:500;}
.fk-ment a{color:#fff;font-size:14px;font-weight:700;width:100px;height:28px;line-height:28px;text-align:center;background:#e94d4d;display:block;}
/*shops-login*/
.log-pic-01 img{margin-top:65px;}
.box-login-pic{background:#f6eada;height:520px;}
.login-inp{width:340px;border:1px solid #e5e5e5;background:#fbf5ed;height:450px;margin-top:33px;margin-left:145px;}
.login-inp ul{padding-left:18px;font-size:11px;font-weight:500;color:#666666;}
.login-inp a{font-size:11px;font-weight:700;color:#5a73fe; }
.ty-inp{width:290px; height:38px;border:1px solid #e5e5e5;}
.login-inp input{padding-left:7px;font-size:14px;font-weight:500;}
.ty-inp-01{width:120px; height:40px;border:1px solid #e5e5e5;margin-right:3px;}
.login-inp span{color:#5a73fe; }
.login-inp ol{font-size:14px;font-weight:700;}
.sub-inof input{font-size:16px;font-weight:700;color:#fff;width:300px;height:40px;background:#e94d4d;border:none;}
.sub-inof-1 input{font-size:16px;font-weight:700;color:#fff;width:240px;height:40px;background:#e94d4d;border:none;}
/*add--user*/
.zhu-to ul{font-size:12px;font-weight:700;color:#666666;line-height:38px;}
.ment-go{background:#f6f6f6;padding-bottom:60px;}
.title-ment1{line-height:108px;border-bottom:1px solid #b2b2b2;font-size:20px;font-weight:700;}
.ment-goo1 a{color:#666666;}
.ment-goo1 li{float: left;}
.ment-goo1 ul{line-height:50px;border-bottom:1px solid #b2b2b2;font-size:13px;font-weight:500;}
.ment-goo1 span{font-size:17px;font-weight:700;color:#666666;margin-right:70px;margin-left:10px;}
.title-mag2{line-height:100px;font-size:20px;font-weight:700;}
.mag1-cont input{float:left;width:88%;height:50px;padding-left:7px;margin-bottom:20px;color:#333;font-weight:500;font-size:16px;}
.mag-title{font-size:16px;font-weight:700;color:#666666;line-height:35px;float: left;border-bottom:2px solid #666666;padding-right:20px;}
.mag1-cinp{float:left;width:50%;height:50px;padding-left:7px;margin-bottom:20px;color:#333;font-weight:500;font-size:16px;}
.mag1-cinp2{float:left;width:35%;height:50px;padding-left:7px;margin-bottom:20px;color:#333;font-weight:500;font-size:16px;}
.inp-on{width:49.8%;height:50px;color:#333;font-weight:500;font-size:15px;padding-left:10px;line-height:50px;margin-bottom:20px;border:1px solid #e5e5e5;color:#666666;}
.inp-on input{margin-right:15px;margin-left:12px;}
.mag1-cont-1 textarea{border: 1px solid #e5e5e5;color: #666666;height:320px;padding-top:5px;padding-left:7px;width: 50%;}
.btn-proc{background:#e94d4d;color:#fff;font-weight:700;font-size:14px;height:30px;margin-top:10px;margin-left:8px;}
.btn-pary{background:#e94d4d;color:#fff;font-weight:700;font-size:14px;}
.nav-col nav{color:#e94d4d;font-weight:500;font-size:14px;}
.nav-col nav a{color:#5a73fe;font-weight:700;font-size:14px;}
.map{width:300px;height:300px;float:left;border:1px solid #e5e5e5;}
.anchorBL span{display:none;}
.so-on{width:90%;}
.shop_on{background:#fff;border-top:1px solid #b2b2b2;color:#666666;}
.shop_on span{font-weight:700;font-size:20px;}
/*筛选*/
.selectts{position:relative;margin:0 10px 0px 10px ;}
.selectts dt{height:32px;display:inline-block;border:1px solid #d2ccc4;background:#fcfcfb url(../images/more.png) no-repeat 68px 15px;line-height:34px;font-weight:bold;padding-left:10px;cursor:pointer;width:64px;padding-right:12px;white-space:nowrap;overflow:ellipsis;overflow:hidden;position:relative;z-index:99;color:#666666;margin-top:9px;}
.selectts dd{position:absolute;left:0;top:42px;border:1px solid #d2ccc4;background:#fff;display:none;z-index:99;}
.selectts dd ol{padding:4px;width:78px;max-height:100px;overflow:auto;}
.selectts dd ol li a{line-height:28px;display:block;padding:0 8px;color:#666666;}
.selectts dd ol li a:hover{background:#f5f5f5;}
/**/
/*筛选2*/
.selects{position:relative;margin:0 0px;}
.selects dt{height:32px;display:inline-block;border:1px solid #d2ccc4;background:#fcfcfb url(../images/more.png) no-repeat 68px 15px;line-height:34px;font-weight:bold;padding-left:10px;cursor:pointer;width:64px;padding-right:12px;white-space:nowrap;overflow:ellipsis;overflow:hidden;position:relative;z-index:99;color:#666666;z-index:99;margin-top:9px;margin-left:9px; }
.selects dd{position:absolute;left:9px;top:42px;border:1px solid #d2ccc4;background:#fff;display:none;z-index:99;}
.selects dd ol{padding:4px;width:78px;max-height:100px;overflow:auto;}
.selects dd ol li a{line-height:28px;display:block;padding:0 8px;color:#666666;}
.selects dd ol li a:hover{background:#f5f5f5;}
/*筛选3*/
.select{position:relative;margin:0 0px;}
.select dt{height:32px;display:inline-block;border:1px solid #d2ccc4;background:#fcfcfb url(../images/more.png) no-repeat 68px 15px;line-height:34px;font-weight:bold;padding-left:10px;cursor:pointer;width:64px;padding-right:12px;white-space:nowrap;overflow:ellipsis;overflow:hidden;position:relative;z-index:99;color:#666666;z-index:99;margin-top:9px;margin-left:9px; }
.select dd{position:absolute;right:25px;top:42px;border:1px solid #d2ccc4;background:#fff;display:none;z-index:99;}
.select dd ol{padding:4px;width:78px;max-height:100px;overflow:auto;}
.select dd ol li a{line-height:28px;display:block;padding:0 8px;color:#666666;}
.select dd ol li a:hover{background:#f5f5f5;}
/**/
.iradio-red{margin-top:12px;margin-left:4px;}
.btnss{background:#f6f6f6;color:#666666;}
.mappi{color:#666666;font-size:16px;font-weight:500;}
.layui-layer-btn{float:left; }
.mappic-box{width:250px;height:440px;background:#f6f6f6;margin-top:60px;margin-right:20px;line-height:35px;}
.mappic-box ul{margin-left:15px;margin-top:15px;}
.sat-ment-boc1{border-bottom:2px solid #d2d2d2; }
textarea {border: 1px solid #d2d2d2;color: #666666;height: 170px;padding-top: 10px;text-indent: 1em;width: 950px;}
.sat-ment-boc{color:#666666;font-weight:500;font-size:12px;line-height:28px;}
.sat-ment a{display:block;padding:10px  13px 10px 13px;border-radius:3px;}
.sat-ment li{background:#f6f6f6;display:block;}
.sat-ment li{float:left;margin-right:10px;}
.activesr{background:#e94d4d ;color:#ffffff;}
.shop_on1{background:#d2d2d2;padding-left:25px;}
.shop_on1 li{border:none;color:#e94d4d ;font-size:14px;font-weight:500;}
.ad-bg{height:850px;z-index: 20;background:#e5e5e5;color:#666666;}
.add-bg1{border:1px solid #e5e5e5;background:#fff;z-index:99;margin-top: 50px;}
.add-title{border-bottom:3px solid #e5e5e5;line-height:55px;font-size:12px;}
.add-title span a{float:right;color:#e94d4d;}
.ion-rig li input{width:500px ;height:50px;font-size:14px;}
.ion-rig li{margin-top:20px;float: right;font-size:14px;}
.ion-rig ol span{width:507px;height:50px;border:1px solid #e5e5e5; float: right;}
.yanz-bg{width:350px;height:32px;border:none;}
.yanz-bg2{width:130px;height:30px;border:none;color:#fff;background:#e94d4d;}
.ion-rig font input{width:240px;height:50px;color:#fff;background:#e94d4d;border:none;margin-left:220px;font-size:14px;}
.big-bg{width:600px;float: right;margin-right:320px;}
.big-bg1{width:600px;float: right;margin-right:430px;}
.big-bg nav{color:#e94d4d;font-size:12px;}
.bg-roe{margin-left:70px;}
.bg-roe2{margin-left:62px;}
.bg-roe1{margin-left:78px;}
.big-bg1 a{width:240px;height:50px;color:#fff;background:#e94d4d;font-size:14px;display: block;line-height:50px;text-align:center;margin-top: 30px;margin-bottom:60px;}
.col-lu{margin-bottom:100px;}
.play-ho{background:#f6f6f6;width:100%;border:1px solid #e5e5e5;font-size:14px;}
.play-ho li{float:left;width:120px;text-align:center;border-right:1px solid #e5e5e5;}
.play-ho a{color:#666;}
.play-ho span{color:#666;background:#fff;display:block;border-top:2px solid #e94d4d; }
.progres,.progress-bar,.sr-only{height:2px; font-size:0;line-height:0}
.progres{overflow:hidden;width:1137px;}
.progress-bar{width:100%;background-color:#e5e5e5}
.sr-only{display:inline-block; background-color:#e94d4d;}
.ion-rig1 li{margin-top:20px;font-size:14px; line-height:45px;}
.ion-rig1 li img{margin-right:10px;}
.ion-po1{width:500px;height:50px;}
.ion-po2{width:380px;height:50px;}
.ionp-pi nav input{width:240px;height:50px;color:#fff;background:#e94d4d;border:none;font-size:14px;font-weight:700;margin-bottom:265px;}
.ionp-pi ol span{width:507px;height:50px;border:1px solid #e5e5e5; float: right;}