<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<title>意见反馈</title>
	<style>
		.lanren{display:none;}
	</style>
	<include  file="Public:Public_jscss"/>
	<script type="text/javascript" src="Test_TMPL/js/shop_get.js"></script>
</head>
<body>
<include  file="Public:index_header"/>
	<div class="clear_float"></div>
		<div class="nav_topone-03">
		<ul class="nav_top-03">
			<li>意见反馈</li>
		</ul>
	</div>
	<div class="big_box container-fluid">
		<div class="left_box mt-20 f-l">
		<ul class="left_top">
			<li><a href="help_consult.html">意见反馈</a></li>
			<li><a href="help_bug.html">漏洞提交</a></li>
		</ul>
		<ul  class="left_bott">
			<li><img src="Test_TMPL/images/mei1.jpg"></li>
			<li>如有疑问，请拨打本公司的客户服务电话</li>
			<li>0757-28338383</li>
		</ul>
		<ul  class="left_bott">
			<li><img src="Test_TMPL/images/help2_03.png"></li>
			<li>我们为您准备了一些疑问的解决方案，或</li>
			<li>许你可以在帮助中心找到想要的答案</li>
		</ul>
	</div>
	<div class="right_cont f-r">
			<ul class="title_right mt-20">
				<li>意见反馈</li>
			</ul>
			<ul  class="right_content">
			</ul>
		<div class="">
			<ul class="title_right2"> 
				<li>反馈类型</li>
			</ul>
			<form action="" method="">
				<ul class="go_cont">
					<li><input type="checkbox" value="">账号问题</li>
					<li><input type="checkbox" value="">搜索问题</li>
					<li><input type="checkbox" value="">邮件订阅问题</li>
					<li><input type="checkbox" value="">其他</li>
				</ul>
				<ul class="textbox ">
					<li><textarea name="" id="" placeholder="请请填写留言内容" ></textarea></li>
					<li><img src="Test_TMPL/images/iconpic-error.png" alt=""><span>请填写您对我们的建议</span></li>
					<li><input  class="txtcon" type="text" placeholder="请填写联系方式"></li>
					<li><input class="sub" type="submit" value="提交内容"></li>
				</ul>
			</form>
		</div>
	</div>
</div>
</div>
<!-- 尾部 -->
<div class="clear_float"></div>
<include  file="Public:index_footer"/>
</body>
<script type="text/javascript" src="Test_TMPL/js/layer/2.1/layer.js"></script>
</html>