<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="X-UA-Compatible" content="IE=8"/>
	<title>产品展示</title>
	<style>
		.lanren{display:none;}
	</style>
	<include  file="Public:Public_jscss"/>
	<script type="text/javascript" src="Test_TMPL/js/shop_get.js"></script>
	<link rel="stylesheet" type="text/css" href="Test_TMPL/js/shaixuan/css/list.css"/>
	<link rel="stylesheet" type="text/css" href="Test_TMPL/js/shaixuan/css/manhuaDate.1.0.css"/>
	<!--日期控件，JS库版本不能过高否则tab会失效-->
	<script type="text/javascript" src="Test_TMPL/js/shaixuan/js/datejs.js"></script>
	<script type="text/javascript">
		$(function (){
			$("input.mh_date").datejs({					       
				Event : "click",//可选				       
				Left : 0,//弹出时间停靠的左边位置
				Top : -16,//弹出时间停靠的顶部边位置
				fuhao : "-",//日期连接符默认为-
				isTime : false,//是否开启时间值默认为false
				beginY : 2016,//年份的开始默认为1949
				endY :2079//年份的结束默认为2049
			});
		});
		</script>
	<script type="text/javascript">
       		$(document).ready(function(e) {
                $("#selectList").find(".more").toggle(function(){
					$(this).addClass("more_bg");
					$(".more-none").show()
            },function(){
				$(this).removeClass("more_bg");
				$(".more-none").hide()
				});
			});
	</script>
	<script type="text/javascript">
	    	$(document).ready(function(){
				var taboy_box=$(".lefttable-list");
				taboy_box.children("tbody").find("tr:gt(2)").hide(); 
				$(".leftbox-morea").toggle(function(){
					$(this).parent().prev().find("tr").show();
					$(this).addClass("more-i")
				},function(){
					$(this).removeClass("more-i");
					$(this).parent().prev().children("tbody").find("tr:gt(2)").hide(); 
				}
				);
			});
	</script>
</head>
<body >
<include  file="Public:index_header"/>
<div class="clear_float"></div>
<div class="screen-term mt-30">
<div class="selectNumberScreen">
<div id="selectList" class="screenBox screenBackground">
  <div class="list-screen">
    <div class="screen-top" style="position:relative;"><span>目的地<input id="txtadress" type="text"/></span><span>入住时间<input type="text" class="mh_date" readonly="true" /></span><span>退房时间<input type="text" class="mh_date" readonly="true" /></span><span>酒店名称<input type="text" class="ju-name" /></span>
    <input type="submit" class="btn btn-pro" value="搜索"></span></div>
    <div style="padding:10px 30px 10px 0px;">
    <div class="screen-address" >
      <div class="list-tab">
        <div id="demo1" class="clearfix">
          <div class="jiud-name" >酒店位置</div>
          <div class="ui-tab-container" id="tab_demo">
            <ul class="clearfix hotlfix ui-tab-list ">
              <li class="ui-tab-active">景点</li>
              <li>交通枢纽</li>
              <li>地铁周边</li>
              <li>行政区</li>
            </ul>
              <div class="ui-tab-content clearfix tabCon">
                	<ul class="clearfix ui-tab-list2">
                      <li class="ui-tab-active">景点</li>
                      <li>交通枢纽</li>
                    </ul>
                    <div class="ui-tab-bd">
      			<div class="ui-tab-content2 clearfix tabCon2"><p>
                  <dl class="listIndex" attr="terminal_brand_s">
                    <dt style="display:none;">酒店位置</dt>
                    <dd data-more=true>
                      <label><a href="javascript:;" values2="" values1="" attrval="不限">不限</a></label>
                      <label>
                        <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                        <a href="javascript:;" values2="" values1="">客栈</a></label>
                      <label>
                        <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                        <a href="javascript:;" values2="" values1="" >精品酒店</a> </label>
                      <label>
                        <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                        <a href="javascript:;" values2="" values1="">情侣酒店</a> </label>
                      <label>
                        <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                        <a href="javascript:;" values2="" values1="" >园林庭院</a></label>
                       </dd> 
                  </dl>
                </div>
                 </div>
                    <div class="ui-tab-content2 clearfix tabCon2" style="display:none;">
                    <dl class="listIndex" attr="terminal_brand_s">
                    <dt style="display:none;">酒店位置</dt>
                    <dd data-more=true>
                      <label><a href="javascript:;" values2="" values1="" attrval="不限">不限</a></label>
                      <label>
                        <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                        <a href="javascript:;" values2="" values1="" >客栈</a></label>
                      <label>
                        <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                        <a href="javascript:;" values2="" values1="">精品酒店</a> </label>
                      <label>
                        <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                        <a href="javascript:;" values2="" values1="" >情侣酒店</a> </label>
                      <label>
                        <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                        <a href="javascript:;" values2="" values1="" >园林庭院</a></label>
                       </dd> 
                  </dl>
                    </div>
                </div>
              <div class="ui-tab-content clearfix tabCon" >
                <dl class="listIndex" attr="terminal_brand_s">
                    <dt style="display:none;">酒店位置</dt>
                    <dd data-more=true>
                      <label><a href="javascript:;" values2="" values1="" attrval="不限">不限</a></label>
                      <label>
                        <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                        <a href="javascript:;" values2="" values1="" >客栈</a></label>
                      <label>
                        <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                        <a href="javascript:;" values2="" values1="">精品酒店</a> </label>
                      <label>
                        <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                        <a href="javascript:;" values2="" values1="" >情侣酒店</a> </label>
                      <label>
                        <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                        <a href="javascript:;" values2="" values1="" >园林庭院</a></label>
                       </dd> 
                  </dl>
              </div>
              <div class="ui-tab-content clearfix tabCon" >
               <dl class="listIndex" attr="terminal_brand_s">
                    <dt style="display:none;">酒店位置</dt>
                    <dd data-more=true>
                      <label><a href="javascript:;" values2="" values1="" attrval="不限">不限</a></label>
                      <label>
                        <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                        <a href="javascript:;" values2="" values1="" >客栈</a></label>
                      <label>
                        <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                        <a href="javascript:;" values2="" values1="" >精品酒店</a> </label>
                      <label>
                        <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                        <a href="javascript:;" values2="" values1="" >情侣酒店</a> </label>
                      <label>
                        <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                        <a href="javascript:;" values2="" values1="" >园林庭院</a></label>
                       </dd> 
                  </dl>
              </div>
              <div class="ui-tab-content clearfix tabCon" >
               <dl class="listIndex" attr="terminal_brand_s">
                    <dt style="display:none;">酒店位置</dt>
                    <dd data-more=true>
                      <label><a href="javascript:;" values2="" values1="" >不限</a></label>
                      <label>
                        <input name="checkbox2" type="checkbox" value="" />
                        <a href="javascript:;" values2="" values1="" attrval="小米">客栈</a></label>
                      <label>
                        <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                        <a href="javascript:;" values2="" values1="" >精品酒店</a> </label>
                      <label>
                        <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                        <a href="javascript:;" values2="" values1="" >情侣酒店</a> </label>
                      <label>
                        <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                        <a href="javascript:;" values2="" values1="" >园林庭院</a></label>
                       </dd> 
                  </dl>
              </div>
            </div>
         </div>
        </div>
      </div>
    </div>
      <dl class="listIndex" attr="价格范围">
        <dt >酒店价格</dt>
        <dd>
          <label><a href="javascript:;" values2="" values1="" attrval="不限">不限</a></label>
          <label>
            <input name="radio2" type="radio" value="" />
            <a href="javascript:;" values2="99" values1="1" >100元以下</a></label>
          <label>
            <input name="radio2" type="radio" value="" />
            <a href="javascript:;" values2="300" values1="100" >100-300元 </a></label>
          <label>
            <input name="radio2" type="radio" value="" />
            <a href="javascript:;" values2="600" values1="300" >300-600元</a></label>
          <label>
            <input name="radio2" type="radio" value="" />
            <a href="javascript:;" values2="1500" values1="600" >600-1500元</a></label>
         
          <div class="custom"><span>自定义</span>&nbsp;
            <input name="" type="text" id="custext1"/>
            &nbsp;-&nbsp;
            <input name="" type="text" id="custext2" />
            <input name="" type="button" id="cusbtn" value="确定"  onClick="testContent('custext1')" />
          </div>
        </dd>
          </dl>
          <dl class="listIndex" attr="terminal_brand_s">
            <dt >主题风格</dt>
            <dd data-more=true>
              <label><a href="javascript:;" values2="" values1="" attrval="不限">不限</a></label>
              <label>
                <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                <a href="javascript:;" values2="" values1="" >客栈</a></label>
              <label>
                <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                <a href="javascript:;" values2="" values1="" >精品酒店</a> </label>
              <label>
                <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                <a href="javascript:;" values2="" values1="" >情侣酒店</a> </label>
              <label>
                <input name="checkbox2" type="checkbox" value="" autocomplete="off"/>
                <a href="javascript:;" values2="" values1="" >园林庭院</a></label>
                <span class="more"><em class="open"></em>更多</span>
               </dd> 
          </dl>
          <dl class="listIndex more-none" attr="terminal_brand_s"  style="display:none;border:none">
            <dt style='visibility:hidden'>主题风格</dt>
            <dd >
              <label style='visibility:hidden'><a href="javascript:;" values2="" values1="" attrval="不限">不限</a></label>
              <form action="" method="get"> 
                  <label><input name="checkbox2" type="checkbox" value="" /><a href="javascript:;" values2="" values1="" >精品酒店2</a></label>
                  <label><input name="checkbox2" type="checkbox" value="" /><a href="javascript:;" values2="" values1="" >精品酒店3</a> </label> 
                  <label><input name="checkbox2" type="checkbox" value="" /><a href="javascript:;" values2="" values1="" >精品酒店4</a> </label>  
            </form> 
          </dl>
        </div>
      </div>   
    </div>
    <div class="hasBeenSelected clearfix"><span id="time-num"><font>208</font>家酒店</span>
          <div style="float:right;" class="eliminateCriteria">清空所有条件</div>
          <dl>
            <dt>符合条件：</dt>
            <dd style="DISPLAY: none" class=clearDd>
              <div class=clearList></div>
          </dl>
        </div>
  	</div>
		<div class="clear_float"></div>
		<div class="select_box mt-20 container-fluid" >
			<ul class="select_leftbox container-fluid" id="selhot">
				<li class="select_title"><a href="##">默认</a></li>
				<li><a href="##">积分<img src="Test_TMPL/images/xuan2.png" alt=""></a></li>
				<li><a href="##">好评<img src="Test_TMPL/images/xuan1.png" alt=""></a></li>
				<li><a href="##">发布时间<img src="Test_TMPL/images/xuan1.png" alt=""></a></li>
				<li><a href="##">人数<img src="Test_TMPL/images/more.png" alt=""></a></li>
				<li><a href="##">人均消费<img src="Test_TMPL/images/more.png" alt=""></a></li>
				<a href="##"><input type="checkbox">&nbsp;优惠券</a>
			</ul>
		</div>
		<div class="clear_float"></div>
		 <div class="client_content" id="div3" >
			<div class="f-r"  style="width:310px;height:310px;border:#ccc solid 1px;font-size:16px;font-weight:700" id="map"></div> 
		</div>
		
		<div class="con_content02 f-l">
			<div class="content_boxbot-03">
				<img class="ho_img" src="Test_TMPL/images/calss2_03.png" alt="">
				<ul class="hotl_content">
					<li class="hoti_ti"><span>1</span>顺福旅馆</li>
					<li class="hoti_ti2">顺德区容桂镇富华路167号（105国道旁）</li>
					<li><img src="Test_TMPL/images/ping1.png" alt=""><span class="ho_col">(13)</span></li>
				</ul>
				<ul class="hotl_right">
					<li><b>15%积分</b></li>
				</ul>
				<ul class="hotl_img">
					<li><img src="Test_TMPL/images/pb10.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb11.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb12.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb13.png" alt=""></li>
				</ul>
			</div>
		</div>
		<div class="con_content02 f-l ">
			<div class="content_boxbot-03">
				<img class="ho_img" src="Test_TMPL/images/calss2_03.png" alt="">
				<ul class="hotl_content">
					<li class="hoti_ti"><span>1</span>顺福旅馆</li>
					<li class="hoti_ti2">顺德区容桂镇富华路167号（105国道旁）</li>
					<li><img src="Test_TMPL/images/ping1.png" alt=""><span class="ho_col">(13)</span></li>
				</ul>
				<ul class="hotl_right">
					<li><b>15%积分</b></li>
				</ul>
				<ul class="hotl_img">
					<li><img src="Test_TMPL/images/pb10.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb11.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb12.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb13.png" alt=""></li>
				</ul>
			</div>
		</div>	
		<div class="con_content02 f-l">
			<div class="content_boxbot-03">
				<img class="ho_img" src="Test_TMPL/images/calss2_03.png" alt="">
				<ul class="hotl_content">
					<li class="hoti_ti"><span>1</span>顺福旅馆</li>
					<li class="hoti_ti2">顺德区容桂镇富华路167号（105国道旁）</li>
					<li><img src="Test_TMPL/images/ping1.png" alt=""><span class="ho_col">(13)</span></li>
				</ul>
				<ul class="hotl_right">
					<li><b>15%积分</b></li>
				</ul>
				<ul class="hotl_img">
					<li><img src="Test_TMPL/images/pb10.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb11.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb12.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb13.png" alt=""></li>
				</ul>
			</div>
		</div>	
		<div class="con_content02 f-l">
			<div class="content_boxbot-03">
				<img class="ho_img" src="Test_TMPL/images/calss2_03.png" alt="">
				<ul class="hotl_content">
					<li class="hoti_ti"><span>1</span>顺福旅馆</li>
					<li class="hoti_ti2">顺德区容桂镇富华路167号（105国道旁）</li>
					<li><img src="Test_TMPL/images/ping1.png" alt=""><span class="ho_col">(13)</span></li>
				</ul>
				<ul class="hotl_right">
					<li><b>15%积分</b></li>
				</ul>
				<ul class="hotl_img">
					<li><img src="Test_TMPL/images/pb10.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb11.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb12.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb13.png" alt=""></li>
				</ul>
			</div>
		</div>	
		<div class="con_content02 f-l">
			<div class="content_boxbot-03">
				<img class="ho_img" src="Test_TMPL/images/calss2_03.png" alt="">
				<ul class="hotl_content">
					<li class="hoti_ti"><span>1</span>顺福旅馆</li>
					<li class="hoti_ti2">顺德区容桂镇富华路167号（105国道旁）</li>
					<li><img src="Test_TMPL/images/ping1.png" alt=""><span class="ho_col">(13)</span></li>
				</ul>
				<ul class="hotl_right">
					<li><b>15%积分</b></li>
				</ul>
				<ul class="hotl_img">
					<li><img src="Test_TMPL/images/pb10.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb11.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb12.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb13.png" alt=""></li>
				</ul>
			</div>
		</div>	
		<div class="con_content02 f-l">
			<div class="content_boxbot-03">
				<img class="ho_img" src="Test_TMPL/images/calss2_03.png" alt="">
				<ul class="hotl_content">
					<li class="hoti_ti"><span>1</span>顺福旅馆</li>
					<li class="hoti_ti2">顺德区容桂镇富华路167号（105国道旁）</li>
					<li><img src="Test_TMPL/images/ping1.png" alt=""><span class="ho_col">(13)</span></li>
				</ul>
				<ul class="hotl_right">
					<li><b>15%积分</b></li>
				</ul>
				<ul class="hotl_img">
					<li><img src="Test_TMPL/images/pb10.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb11.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb12.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb13.png" alt=""></li>
				</ul>
			</div>
		</div>	
		<div class="con_content02 f-l">
			<div class="content_boxbot-03">
				<img class="ho_img" src="Test_TMPL/images/calss2_03.png" alt="">
				<ul class="hotl_content">
					<li class="hoti_ti"><span>1</span>顺福旅馆</li>
					<li class="hoti_ti2">顺德区容桂镇富华路167号（105国道旁）</li>
					<li><img src="Test_TMPL/images/ping1.png" alt=""><span class="ho_col">(13)</span></li>
				</ul>
				<ul class="hotl_right">
					<li><b>15%积分</b></li>
				</ul>
				<ul class="hotl_img">
					<li><img src="Test_TMPL/images/pb10.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb11.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb12.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb13.png" alt=""></li>
				</ul>
			</div>
		</div>	
		<div class="con_content02 f-l">
			<div class="content_boxbot-03">
				<img class="ho_img" src="Test_TMPL/images/calss2_03.png" alt="">
				<ul class="hotl_content">
					<li class="hoti_ti"><span>1</span>顺福旅馆</li>
					<li class="hoti_ti2">顺德区容桂镇富华路167号（105国道旁）</li>
					<li><img src="Test_TMPL/images/ping1.png" alt=""><span class="ho_col">(13)</span></li>
				</ul>
				<ul class="hotl_right">
					<li><b>15%积分</b></li>
				</ul>
				<ul class="hotl_img">
					<li><img src="Test_TMPL/images/pb10.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb11.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb12.png" alt=""></li>
					<li><img src="Test_TMPL/images/pb13.png" alt=""></li>
				</ul>
			</div>
		</div>	
	<!-- 地图 -->
	
		<div class="clear_float"></div>
			<div class="page">
				 <span class="currents">1</span>
				 <a class="num" href="##">2</a>
				 <a class="num" href="##">3</a> 
				 <a class="next" href="##">下一页</a>
			</div> 
		</div>
	</div>
<div class="clear_float"></div>
	<include  file="Public:index_footer"/>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.2&ak=8YLug7T5QfNHtHC8uBlZQyUfsNSUBxC2"></script>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
      createMap();//创建地图
      setMapEvent();//设置地图事件
      addMapControl();//向地图添加控件
      addMapOverlay();//向地图添加覆盖物
    }
    function createMap(){ 
      map = new BMap.Map("map"); 
      map.centerAndZoom(new BMap.Point(113.112544,22.962337),18);
    }
    function setMapEvent(){
      map.enableScrollWheelZoom();
      map.enableKeyboard();
      map.enableDragging();
      map.enableDoubleClickZoom()
    }
    function addClickHandler(target,window){
      target.addEventListener("click",function(){
        target.openInfoWindow(window);
      });
    }
    function addMapOverlay(){
      var markers = [
        {content:"666666666666",title:"纳邦人力资源服务",imageOffset: {width:0,height:3},position:{lat:22.961963,lng:113.112373}}
      ];
      for(var index = 0; index < markers.length; index++ ){
        var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
        var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/Test_TMPL/images/icon.png/",new BMap.Size(20,25),{
          imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
        })});
        var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
        var opts = {
          width: 100,
          title: markers[index].title,
          enableMessage: false
        };
        var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
        marker.setLabel(label);
        addClickHandler(marker,infoWindow);
        map.addOverlay(marker);
      };
    }
    //向地图添加控件
    function addMapControl(){
      var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
      scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
      map.addControl(scaleControl);
      var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
      map.addControl(navControl);
      var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:false});
      map.addControl(overviewControl);
    }
    var map;
      initMap();
</script>
<script type="text/javascript" src="Test_TMPL/js/layer/2.1/layer.js"></script>
<script type="text/javascript" src="Test_TMPL/js/shaixuan/js/shaixuan.js"></script> 
<script type="text/javascript" src="Test_TMPL/js/H-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="Test_TMPL/js/shaixuan/js/shaixuan.js"></script> 
<script type="text/javascript">
	// ===============
	$(function(){
	    $.Huitab("#tab_demo .hotlfix li","#tab_demo .tabCon","hotlcurrent","click","0");
	    });
	$(function(){
	    $.Huitab("#tab_demo .ui-tab-list2 li","#tab_demo .tabCon2","hotlcurrent","click","0");
	    });

	function testContent(obj){
	if(document.getElementById(obj).value.length==0){
		alert('不能为空!');
		
		}
	}
	$(function(){
	    $('#selhot  li a').click(function(){
	        $('#selhot  li a').removeClass('activ-home');
	        $(this).addClass('activ-home');
	        // $('.cplb_nrsub li').removeClass('activesr');
	    });
	    })
    	//----只能放在当前页面
		    window.onscroll=function(){ 
		    var t=document.documentElement.scrollTop||document.body.scrollTop; 
		    var map2=document.getElementById("div3"); 
		    if(t>=700){ 
		        map2.className = "div3_1";
		    }else{
		        map2.className = "mt-20 f-r";
		    } 
		}
	
</script>
</body>
</html>