<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>首页</title>
	<include  file="Public:Public_jscss"/>
	<script type="text/javascript">
	$(document).ready(function(){
		
		var lb = $("#limit-buy"),
			lb_cur = 1,
			lbp_w = lb.find(".products").width();
			lb_timer = null;
		t = 1;
		function showLimitBuyProducts(){
			if(lb_cur < 1){
				lb_cur = 4;
			} else if(lb_cur > 4){
				lb_cur = 1;
			}
			$("#J-lbcp").html(lb_cur);
			var products = $("#limit-buy .products").hide().eq(lb_cur-1).show(),
				ta = products.find("textarea");
				
			if(ta.length){
				products.html(ta.val());
			}
		}
		lb_timer = setInterval(function(){
			lb_cur++;
			showLimitBuyProducts();
		}, 6000);
		
		$("#J-lbn .prev, #J-lb .btn-prev").click(function(){
			lb_cur--;
			showLimitBuyProducts();
		});
		$("#J-lbn .next, #J-lb .btn-next").click(function(){
			lb_cur++;
			showLimitBuyProducts();
		});
		$("#J-lb").hover(function(){
				clearInterval(lb_timer);
				lb_timer = null;
				$("#J-lb .btn-prev, #J-lb .btn-next").show();
			}, function(){
				lb_timer = setInterval(function(){
					lb_cur++;
					showLimitBuyProducts();
				}, 6000);
				$("#J-lb .btn-prev, #J-lb .btn-next").hide();
		});
		
	});
</script>
 <!-- nav_center -->
<script type="text/javascript">
$(document).ready(function(){
	
	var lb = $("#limit-bus"),
		lb_cur = 1,
		lbp_w = lb.find(".productss").width();
		lb_timer = null;
	t = 1;
	function showLimitBuyProducts(){
		if(lb_cur < 1){
			lb_cur = 5;
		} else if(lb_cur > 5){
			lb_cur = 1;
		}
		$("#Jd-iop").html(lb_cur);
		var productss = $("#limit-bus .productss").hide().eq(lb_cur-1).show(),
			ta = productss.find("textarea");
		if(ta.length){
			productss.html(ta.val());
		}
	}
	lb_timer = setInterval(function(){
		lb_cur++;
		showLimitBuyProducts();
	}, 3000);
	
	$("#J-lbns .prev, #J-lbs .btn-prevvs").click(function(){
		lb_cur--;
		showLimitBuyProducts();
	});
	$("#J-lbns .nextvs, #J-lbs .btn-nextvs").click(function(){
		lb_cur++;
		showLimitBuyProducts();
	});
	$("#J-lbs").hover(function(){
			clearInterval(lb_timer);
			lb_timer = null;
			$("#J-lbs .btn-prevvs, #J-lbs .btn-nextvs").show();
		}, function(){
			lb_timer = setInterval(function(){
				lb_cur++;
				showLimitBuyProducts();
			}, 3000);
			$("#J-lbs .btn-prevvs, #J-lbs .btn-nextvs").hide();
	});
});
</script> 
</head>
<body>
<include  file="Public:Index_header"/>
<div class="col-xs-8 col-md-8 col-lg-8">
<div class="nav_center">
	<div class="limit-box1" id="J-lbs">
		<a href="javascript:void(0);" class="btn-prevvs"></a>
		<div class="limit-bus-bd" id="limit-bus">
			<div class="productss">
				<ul class="nav_centerone">
					<li><img src="Test_TMPL/images/indexnav_03.png" alt=""></li>
					<ol>四季京味烤鸭店<nav>提供免费w11111ifi</nav></ol>
					<ol><span>积分10%</span></ol>
				</ul>
				<ul class="nav_centertwo">
					<li><img src="Test_TMPL/images/indexsnav_03.png" alt=""></li>
					<ol>四季京味烤鸭店<nav>提供免费wi111fi</nav></ol>
					<ol><span>积分10%</span></ol>
				</ul>
			</div>
			<div class="productss">
				<ul class="nav_centerone">
					<li><img src="Test_TMPL/images/indexnav_03.png" alt=""></li>
					<ol>四季京味烤鸭店<nav>提供免费wi2222222fi</nav></ol>
					<ol><span>积分10%</span></ol>
				</ul>
				<ul class="nav_centertwo">
					<li><img src="Test_TMPL/images/indexsnav_03.png" alt=""></li>
					<ol>四季京味烤鸭店<nav>提供免费wi222222fi</nav></ol>
					<ol><span>积分10%</span></ol>
				</ul>
			</div>
			<div class="productss">
				<ul class="nav_centerone">
					<li><img src="Test_TMPL/images/indexnav_03.png" alt=""></li>
					<ol>四季京味烤鸭店<nav>提供免费w33333ifi</nav></ol>
					<ol><span>积分10%</span></ol>
				</ul>
				<ul class="nav_centertwo">
					<li><img src="Test_TMPL/images/indexsnav_03.png" alt=""></li>
					<ol>四季京味烤鸭店<nav>提供免费w3333ifi</nav></ol>
					<ol><span>积分10%</span></ol>
				</ul>
			</div>
			<div class="productss">
				<ul class="nav_centerone">
					<li><img src="Test_TMPL/images/indexnav_03.png" alt=""></li>
					<ol>四季京味烤鸭店<nav>提供免费wif4444i</nav></ol>
					<ol><span>积分10%</span></ol>
				</ul>
				<ul class="nav_centertwo">
					<li><img src="Test_TMPL/images/indexsnav_03.png" alt=""></li>
					<ol>四季京味烤鸭店<nav>提供免费wif444i</nav></ol>
					<ol><span>积分10%</span></ol>
				</ul>
			</div>
			<div class="productss">
				<ul class="nav_centerone">
					<li><img src="Test_TMPL/images/indexnav_03.png" alt=""></li>
					<ol>四季京味烤鸭店<nav>提供免费wif5555i</nav></ol>
					<ol><span>积分10%</span></ol>
				</ul>
				<ul class="nav_centertwo">
					<li><img src="Test_TMPL/images/indexsnav_03.png" alt=""></li>
					<ol>四季京味烤鸭店<nav>提供免费wif555i</nav></ol>
					<ol><span>积分10%</span></ol>
				</ul>
			</div>
		</div>
	<a href="javascript:void(0);" class="btn-nextvs"><div class="pos-no"><span id="Jd-iop">1</span>/5</div></a>
</div>
	<div class="clear_float"></div>
	<div id="tab_demo" class="HuiTab">
		<ul class="title_conter tabBar f-l ">
			<li><a href="javascript:void(0);" >热门商家</a></li>
			<li><a href="javascript:void(0);" >全部区域</a></li>
			<li><a href="javascript:void(0);" >热门商圈</a></li>
		</ul>
		<ul class="title_content col-xs-12 col-md-12 col-lg-12">
			<ul style="display:block;" class="tabCon">
				<li>越秀区</li>
				<li>天河区</li>
				<li>番禺区</li>
				<li>海珠区</li>
				<li>白云区</li>
				<li>荔湾去</li>
				<li>黄埔区</li>
				<li>增城区</li>
				<li>花都区</li>
				<li>从化市</li>
				<li><select  name="" id="">
				<option value="#">更多</option>
				<option value="#">更多</option>
				<option value="#">更多</option>
				<option value="#">更多</option>
				</select></li>
			</ul>
			<ul  style="display:none;" class="tabCon">
				<li>22222</li>
				<li>22222</li>
				<li>22222</li>
				<li>22222</li>
				<li>22222</li>
				<li>22222</li>
				<li><select  name="" id="">
				<option value="#">更多</option>
				<option value="#">更多</option>
				<option value="#">更多</option>
				</select></li>
			</ul>
			<ul style="display:none;" class="tabCon">
				<li>666</li>
				<li>6666</li>
				<li>6666</li>
				<li>6666</li>
				<li>6666</li>
				<li>6666</li>
				<li>
					<select  name="" id="">
					<option value="#">更多</option>
					<option value="#">更多</option>
					<option value="#">更多</option>
					</select>
				</li>
			</ul>
			
		</ul>
	</div>
	</div>
</div>
<div class="nav_right">
		<ul class="nav_right1 col-xs-2 col-md-2 col-lg-2">
			<li class="nav_right1"><img class="img_phone1" src="Test_TMPL/images/juan1.jpg" alt=""></li>
		</ul>
		 <ul class="nav_right2 col-xs-2 col-md-2 col-lg-2">
			<li class="nav_right2" ><img class="img_phone1" src="Test_TMPL/images/juan2.jpg" alt=""></li>
		</ul>
		<ul class="nav_right3 col-xs-2 col-md-2 col-lg-2">
			<li class="nav_right3"><a href="javascript:void(0)" ><img class="img_phone3" src="Test_TMPL/images/juan3.png" alt="">
				<ol class="phone_nxt f-r text-c" onmouseover="nxShow(1)" onMouseOut="nxIng()">
					手机客户端<br>
					<span class="text-c mt-10">扫码下载</span></a>
				</ol>
				<div class="bg-box-01" id="Ing1" >
				      <i class="ewi-box"></i>
					<img  src="Test_TMPL/images/login1_r3_c5.jpg" alt="">
			  	</div>
			</li> 
		</ul>
</div>
<div class="clear_float"></div>
<!-- 店面开始 -->
	<ul class="food_box">
		<li class="food_title mb-5"><img src="Test_TMPL/images/hot.png" alt=""><span>每天发现新鲜好店</span></li>
	</ul>
	<div class="rew">
	<div class="limit-box" id="J-lb">
	<a href="javascript:void(0);" class="btn-prev"></a>
	<div class="limit-buy-bd" id="limit-buy">
		<div class="products">
			<ul  class="hot_content f-l mr-10">
				<li><a href="#"><img  src="Test_TMPL/images/hotimg.jpg" alt=""></a></li>
				<li><a href="#">【沙面】The Frypan</a><br><span>积分10%</span>	</li>
			</ul>
			<ul  class="hot_content f-l mr-10">
				<li><a href="#"><img  src="Test_TMPL/images/hotimg.jpg" alt=""></a></li>
				<li><a href="#">【沙面】The Frypan</a><br><span>积分10%</span>	</li>
			</ul>
			<ul  class="hot_content f-l mr-10">
				<li><a href="#"><img  src="Test_TMPL/images/hotimg.jpg" alt=""></a></li>
				<li><a href="#">【沙面】The Frypan</a><br><span>积分10%</span>	</li>
			</ul>
			<ul  class="hot_content f-l mr-10">
				<li><a href="#"><img  src="Test_TMPL/images/hotimg.jpg" alt=""></a></li>
				<li><a href="#">【沙面】The Frypan</a><br><span>积分10%</span>	</li>
			</ul>
			<ul  class="hot_content f-l mr-10">
				<li><a href="#"><img  src="Test_TMPL/images/hotimg.jpg" alt=""></a></li>
				<li><a href="#">【沙面】The Frypan</a><br><span>积分10%</span>	</li>
			</ul>
		</div>
		<div class="products">
			<ul  class="hot_content f-l mr-10">
				<li><a href="#"><img  src="Test_TMPL/images/hotimg.jpg" alt=""></a></li>
				<li><a href="#">【沙面】The Fry1111pan</a><br><span>积分10%</span>	</li>
			</ul>
			<ul  class="hot_content f-l mr-10">
				<li><a href="#"><img  src="Test_TMPL/images/hotimg.jpg" alt=""></a></li>
				<li><a href="#">【沙面】The Fryp11111an</a><br><span>积分10%</span>	</li>
			</ul>
			<ul  class="hot_content f-l mr-10">
				<li><a href="#"><img  src="Test_TMPL/images/hotimg.jpg" alt=""></a></li>
				<li><a href="#">【沙面】The Fryp11111an</a><br><span>积分10%</span>	</li>
			</ul>
			<ul  class="hot_content f-l mr-10">
				<li><a href="#"><img  src="Test_TMPL/images/hotimg.jpg" alt=""></a></li>
				<li><a href="#">【沙面】The Fryp111an</a><br><span>积分10%</span>	</li>
			</ul>
			<ul  class="hot_content f-l mr-10">
				<li><a href="#"><img  src="Test_TMPL/images/hotimg.jpg" alt=""></a></li>
				<li><a href="#">【沙面】The Fryp1111an</a><br><span>积分10%</span>	</li>
			</ul>
		</div>
		<div class="products">
				<ul  class="hot_content f-l mr-10">
					<li><a href="#"><img  src="Test_TMPL/images/hotimg.jpg" alt=""></a></li>
					<li><a href="#">【沙面】The Fry2222pan</a><br><span>积分10%</span>	</li>
				</ul>
				<ul  class="hot_content f-l mr-10">
					<li><a href="#"><img  src="Test_TMPL/images/hotimg.jpg" alt=""></a></li>
					<li><a href="#">【沙面】The Fryp2222an</a><br><span>积分10%</span>	</li>
				</ul>
				<ul  class="hot_content f-l mr-10">
					<li><a href="#"><img  src="Test_TMPL/images/hotimg.jpg" alt=""></a></li>
					<li><a href="#">【沙面】The Fry2222pan</a><br><span>积分10%</span>	</li>
				</ul>
				<ul  class="hot_content f-l mr-10">
					<li><a href="#"><img  src="Test_TMPL/images/hotimg.jpg" alt=""></a></li>
					<li><a href="#">【沙面】The Fry2222pan</a><br><span>积分10%</span>	</li>
				</ul>
				<ul  class="hot_content f-l mr-10">
					<li><a href="#"><img  src="Test_TMPL/images/hotimg.jpg" alt=""></a></li>
					<li><a href="#">【沙面】The Fry2222pan</a><br><span>积分10%</span>	</li>
				</ul>
			</div>
			<div class="products">
				<ul  class="hot_content f-l mr-10">
					<li><a href="#"><img  src="Test_TMPL/images/hotimg.jpg" alt=""></a></li>
					<li><a href="#">【沙面】The Fry3333pan</a><br><span>积分10%</span>	</li>
				</ul>
				<ul  class="hot_content f-l mr-10">
					<li><a href="#"><img  src="Test_TMPL/images/hotimg.jpg" alt=""></a></li>
					<li><a href="#">【沙面】The Fry3333pan</a><br><span>积分10%</span>	</li>
				</ul>
				<ul  class="hot_content f-l mr-10">
					<li><a href="#"><img  src="Test_TMPL/images/hotimg.jpg" alt=""></a></li>
					<li><a href="#">【沙面】The Fry3333pan</a><br><span>积分10%</span>	</li>
				</ul>
				<ul  class="hot_content f-l mr-10">
					<li><a href="#"><img  src="Test_TMPL/images/hotimg.jpg" alt=""></a></li>
					<li><a href="#">【沙面】The Fry3333pan</a><br><span>积分10%</span>	</li>
				</ul>
				<ul  class="hot_content f-l mr-10">
					<li><a href="#"><img  src="Test_TMPL/images/hotimg.jpg" alt=""></a></li>
					<li><a href="#">【沙面】The Fry3333pan</a><br><span>积分10%</span>	</li>
				</ul>
			</div>
		</div>
		<a href="javascript:void(0);" class="btn-next"><div class="pos-no"><span id="J-lbcp">1</span>/4</div></a>
	</div>
<!-- 店面结束 -->
<div class="clear_float"></div>
<!-- 美食开始 -->
	<ul class="food_box">
		<li class="food_title"><img src="Test_TMPL/images/list1.png" alt=""><span>美食</span></li>
		<li class="food_titleright mt-40 mt-40"><a href="##">查看更多推荐</a><img src="Test_TMPL/images/more.png" alt=""></li>
	</ul>
<div class="clear_float"></div>
<div class="rew">
	<div class="por_food f-l ">
		<ul>
			<li class="por_box"><a href="#"><img src="Test_TMPL/images/proimg.jpg" alt="美食"></a></li>
			<li class="pro_title"><a href="#">【云中牧歌】渔歌岁月 <br><span>积分10%</span></a></li>
			<li class="pro_img"><img src="Test_TMPL/images/ping1.png" alt=""></li>
		</ul>
	</div>
	<div class="por_food f-l">
		<ul>
			<li class="por_box"><a href="#"><img src="Test_TMPL/images/proimg.jpg" alt="美食"></a></li>
			<li class="pro_title"><a href="#">【云中牧歌】渔歌岁月 <br><span>积分10%</span></a></li>
			<li class="pro_img"><img src="Test_TMPL/images/ping1.png" alt=""></li>
		</ul>
	</div>
	<div class="por_food f-l">
		<ul>
			<li class="por_box"><a href="#"><img src="Test_TMPL/images/proimg.jpg" alt="美食"></a></li>
			<li class="pro_title"><a href="#">【云中牧歌】渔歌岁月 <br><span>积分10%</span></a></li>
			<li class="pro_img"><img src="Test_TMPL/images/ping1.png" alt=""></li>
		</ul>
	</div>
	<div class="por_food f-l">
		<ul>
			<li class="por_box"><a href="#"><img src="Test_TMPL/images/proimg.jpg" alt="美食"></a></li>
			<li class="pro_title"><a href="#">【云中牧歌】渔歌岁月 <br><span>积分10%</span></a></li>
			<li class="pro_img"><img src="Test_TMPL/images/ping1.png" alt=""></li>
		</ul>
	</div>
</div>
<div class="clear_float"></div>
<div class="more"><p><a href="">点击查看更多美食</a>&nbsp;&gt;</p></div>
<div class="clear_float"></div>
<!-- 美食结束 -->
<!--酒店开始  -->
<ul class="food_box">
		<li class="food_title"><img src="Test_TMPL/images/list2.png" alt=""><span>酒店</span></li>
		<li class="food_titleright mt-40"><a href="##">查看更多推荐</a><img src="Test_TMPL/images/more.png" alt=""></li>
	</ul>
<div class="clear_float"></div>
<div class="rew">
	<div class="por_food f-l">
		<ul>
			<li class="por_box"><a href="#"><img src="Test_TMPL/images/proimg.jpg" alt="美食"></a></li>
			<li class="pro_title"><a href="#">【云中牧歌】渔歌岁月 <br><span>积分10%</span></a></li>
			<li class="pro_img"><img src="Test_TMPL/images/ping1.png" alt=""></li>
		</ul>
	</div>
	<div class="por_food f-l">
		<ul>
			<li class="por_box"><a href="#"><img src="Test_TMPL/images/proimg.jpg" alt="美食"></a></li>
			<li class="pro_title"><a href="#">【云中牧歌】渔歌岁月 <br><span>积分10%</span></a></li>
			<li class="pro_img"><img src="Test_TMPL/images/ping1.png" alt=""></li>
		</ul>
	</div>
	<div class="por_food f-l">
		<ul>
			<li class="por_box"><a href="#"><img src="Test_TMPL/images/proimg.jpg" alt="美食"></a></li>
			<li class="pro_title"><a href="#">【云中牧歌】渔歌岁月 <br><span>积分10%</span></a></li>
			<li class="pro_img"><img src="Test_TMPL/images/ping1.png" alt=""></li>
		</ul>
	</div>
	<div class="por_food f-l">
		<ul>
			<li class="por_box"><a href="#"><img src="Test_TMPL/images/proimg.jpg" alt="美食"></a></li>
			<li class="pro_title"><a href="#">【云中牧歌】渔歌岁月 <br><span>积分10%</span></a></li>
			<li class="pro_img"><img src="Test_TMPL/images/ping1.png" alt=""></li>
		</ul>
	</div>
</div>
<div class="clear_float"></div>
<div class="more"><p><a href="">点击查看更多酒店</a>&nbsp;&gt;</p></div>
<div class="clear_float"></div>
<!--酒店结束-->
<!--休闲娱乐开始  -->
<ul class="food_box">
		<li class="food_title"><img src="Test_TMPL/images/list3.png" alt=""><span>休闲娱乐</span></li>
		<li class="food_titleright mt-40"><a href="##">查看更多推荐</a><img src="Test_TMPL/images/more.png" alt=""></li>
	</ul>
<div class="clear_float"></div>	
<div class=" rew">
	<div class="por_food f-l">
		<ul>
			<li class="por_box"><a href="#"><img src="Test_TMPL/images/proimg.jpg" alt="美食"></a></li>
			<li class="pro_title"><a href="#">【云中牧歌】渔歌岁月 <br><span>积分10%</span></a></li>
			<li class="pro_img"><img src="Test_TMPL/images/ping1.png" alt=""></li>
		</ul>
	</div>
	<div class="por_food f-l">
		<ul>
			<li class="por_box"><a href="#"><img src="Test_TMPL/images/proimg.jpg" alt="美食"></a></li>
			<li class="pro_title"><a href="#">【云中牧歌】渔歌岁月 <br><span>积分10%</span></a></li>
			<li class="pro_img"><img src="Test_TMPL/images/ping1.png" alt=""></li>
		</ul>
	</div>
	<div class="por_food f-l">
		<ul>
			<li class="por_box"><a href="#"><img src="Test_TMPL/images/proimg.jpg" alt="美食"></a></li>
			<li class="pro_title"><a href="#">【云中牧歌】渔歌岁月 <br><span>积分10%</span></a></li>
			<li class="pro_img"><img src="Test_TMPL/images/ping1.png" alt=""></li>
		</ul>
	</div>
	<div class="por_food f-l">
		<ul>
			<li class="por_box"><a href="#"><img src="Test_TMPL/images/proimg.jpg" alt="美食"></a></li>
			<li class="pro_title"><a href="#">【云中牧歌】渔歌岁月 <br><span>积分10%</span></a></li>
			<li class="pro_img"><img src="Test_TMPL/images/ping1.png" alt=""></li>
		</ul>
	</div>
</div>
<div class="clear_float"></div>
<div class="more"><p><a href="">点击查看更多休闲娱乐</a>&nbsp;&gt;</p></div>
<div class="clear_float"></div>
<!-- 休闲娱乐结束 -->
<!--旅游开始  -->
<ul class="food_box">
		<li class="food_title"><img src="Test_TMPL/images/list4.png" alt=""><span>旅游</span></li>
		<li class="food_titleright mt-40"><a href="##">查看更多推荐</a><img src="Test_TMPL/images/more.png" alt=""></li>
	</ul>
<div class="clear_float"></div>	
<div class=" rew">
	<div class="por_food f-l">
		<ul>
			<li class="por_box"><a href="#"><img src="Test_TMPL/images/proimg.jpg" alt="美食"></a></li>
			<li class="pro_title"><a href="#">【云中牧歌】渔歌岁月 <br><span>积分10%</span></a></li>
			<li class="pro_img"><img src="Test_TMPL/images/ping1.png" alt=""></li>
		</ul>
	</div>
	<div class="por_food f-l">
		<ul>
			<li class="por_box"><a href="#"><img src="Test_TMPL/images/proimg.jpg" alt="美食"></a></li>
			<li class="pro_title"><a href="#">【云中牧歌】渔歌岁月 <br><span>积分10%</span></a></li>
			<li class="pro_img"><img src="Test_TMPL/images/ping1.png" alt=""></li>
		</ul>
	</div>
	<div class="por_food f-l">
		<ul>
			<li class="por_box"><a href="#"><img src="Test_TMPL/images/proimg.jpg" alt="美食"></a></li>
			<li class="pro_title"><a href="#">【云中牧歌】渔歌岁月 <br><span>积分10%</span></a></li>
			<li class="pro_img"><img src="Test_TMPL/images/ping1.png" alt=""></li>
		</ul>
	</div>
	<div class="por_food f-l">
		<ul>
			<li class="por_box"><a href="#"><img src="Test_TMPL/images/proimg.jpg" alt="美食"></a></li>
			<li class="pro_title"><a href="#">【云中牧歌】渔歌岁月 <br><span>积分10%</span></a></li>
			<li class="pro_img"><img src="Test_TMPL/images/ping1.png" alt=""></li>
		</ul>
	</div>
</div>
<div class="clear_float"></div>
<div class="more"><p><a href="">点击查看更多旅游景点</a>&nbsp;&gt;</p></div>
<div class="clear_float"></div>
<!-- 旅游结束 -->
<!--购物开始  -->
<ul class="food_box">
		<li class="food_title"><img src="Test_TMPL/images/list5.png" alt=""><span>购物</span></li>
		<li class="food_titleright mt-40"><a href="##">查看更多推荐</a><img src="Test_TMPL/images/more.png" alt=""></li>
	</ul>
<div class="clear_float"></div>	
<div class=" rew">
	<div class="por_food f-l">
		<ul>
			<li class="por_box"><a href="#"><img src="Test_TMPL/images/proimg.jpg" alt="美食"></a></li>
			<li class="pro_title"><a href="#">【云中牧歌】渔歌岁月 <br><span>积分10%</span></a></li>
			<li class="pro_img"><img src="Test_TMPL/images/ping1.png" alt=""></li>
		</ul>
	</div>
	<div class="por_food f-l">
		<ul>
			<li class="por_box"><a href="#"><img src="Test_TMPL/images/proimg.jpg" alt="美食"></a></li>
			<li class="pro_title"><a href="#">【云中牧歌】渔歌岁月 <br><span>积分10%</span></a></li>
			<li class="pro_img"><img src="Test_TMPL/images/ping1.png" alt=""></li>
		</ul>
	</div>
	<div class="por_food f-l">
		<ul>
			<li class="por_box"><a href="#"><img src="Test_TMPL/images/proimg.jpg" alt="美食"></a></li>
			<li class="pro_title"><a href="#">【云中牧歌】渔歌岁月 <br><span>积分10%</span></a></li>
			<li class="pro_img"><img src="Test_TMPL/images/ping1.png" alt=""></li>
		</ul>
	</div>
	<div class="por_food f-l">
		<ul>
			<li class="por_box"><a href="#"><img src="Test_TMPL/images/proimg.jpg" alt="美食"></a></li>
			<li class="pro_title"><a href="#">【云中牧歌】渔歌岁月 <br><span>积分10%</span></a></li>
			<li class="pro_img"><img src="Test_TMPL/images/ping1.png" alt=""></li>
		</ul>
	</div>
</div>
<div class="clear_float"></div>
<div class="more"><p><a href="">点击查看更多购物</a>&nbsp;&gt;</p></div>
<div class="clear_float"></div>
<!-- 购物结束 -->
</div>
</div>
<!-- -->
	<div class="pos_box"  id="pos2">
		<ul class="pos_box_one">
			<li><a href="##">近期浏览</a></li>
			<li><a href="##"><img src="Test_TMPL/images/righr1.png" alt=""><span>20</span></a></li>
		</ul>
		<ul class="pos_nav_two">
			<div class="rowpicshow">
		        <ul>
		          <li><img  title="" src="Test_TMPL/images/indexnav_03.png"></li>
		          <li><img  title="" src="Test_TMPL/images/indexnav_03.png"></li>
		          <li><img  title="" src="Test_TMPL/images/indexnav_03.png"></li>
		          <li><img  title="" src="Test_TMPL/images/indexnav_03.png"></li>
		          <li><img  title="" src="Test_TMPL/images/indexnav_03.png"></li>
		        </ul>
	      	</div>
	      	<div class="rowpicshow">
		        <ul>
		          <li><img  title="" src="Test_TMPL/images/indexnav_03.png"></li>
		          <li><img  title="" src="Test_TMPL/images/indexnav_03.png"></li>
		          <li><img  title="" src="Test_TMPL/images/indexnav_03.png"></li>
		          <li><img  title="" src="Test_TMPL/images/indexnav_03.png"></li>
		          <li><img  title="" src="Test_TMPL/images/indexnav_03.png"></li>
		        </ul>
	      	</div>
	      	<div class="rowpicshow">
		        <ul>
		          <li><img  title="" src="Test_TMPL/images/indexnav_03.png"></li>
		          <li><img  title="" src="Test_TMPL/images/indexnav_03.png"></li>
		          <li><img  title="" src="Test_TMPL/images/indexnav_03.png"></li>
		          <li><img  title="" src="Test_TMPL/images/indexnav_03.png"></li>
		          <li><img  title="" src="Test_TMPL/images/indexnav_03.png"></li>
		        </ul>
	      	</div>
	      	<div class="pmg_pi text-c mt-10 mb-10"> 
      	 		<a href="javascript:void(0)" class="prev">&lt;</a>
      			<a href="javascript:void(0)" class="next">&gt;</a>
	      	</div>
			</ul>
			<div class="clear_float"></div>
			<ul class="pos_nav_three">
				<li><a href="##">问卷调查</a></li>
				<li><a href="##"><img src="Test_TMPL/images/righr2.png" alt=""></a></li>
			</ul>
			<ul class="pos_nav_three">
				<li><a href="##">帮助中心</a></li>
				<li><a href="##"><img src="Test_TMPL/images/righr3.png" alt=""></a></li>
			</ul>
			<ul class="pos_nav_three">
				<li><a href="javascript:scroll(0,0)">返回顶部</a></li>
				<li><a href="javascript:scroll(0,0)"><img src="Test_TMPL/images/righr4.png" alt=""></a></li>
			</ul>
	</div>
<!-- 尾部 -->
<div class="clear_float"></div>
<include  file="Public:index_footer"/>
</body>
<script type="text/javascript" src="Test_TMPL/js/layer/2.1/layer.js"></script>
<script type="text/javascript" src="Test_TMPL/js/minll.js"></script>
<script type="text/javascript" src="Test_TMPL/js/jcarousellite_1.0.1.js"></script>
<script type="text/javascript">
//---只能在当前--------
    $(function(){
    	$(".rowpicshow").jCarouselLite({
    		auto: 5000, /*自动播放间隔时间*/
    		speed: 500, /*速度*/
    		btnNext:".next",/*向前滚动*/
    		btnPrev:".prev",/*向后滚动*/
    		visible:1 /*显示数量*/
    	});
    });
    function lanShow(){
		return false;
		document.getElementById('allsort').style.display="block";
	}	
	function lanImg(){
		return false;
		
	}
	document.getElementById('allsort').style.marginTop="-10px";
	
	$(function(){
    $.Huitab("#tab_demo .tabBar li","#tab_demo .tabCon","indcurrent","click","0");
    });
    // --手机客户端扫码下载--------
     function nxShow(num){
		// alert("the show");
		for(var i=1; i<2; i++){
		var obj=document.getElementById("Ing"+i);
		obj.style.display="none";
		}
		var obj1=document.getElementById("Ing"+num);
		obj1.style.display="block";
		}
		function nxIng(){
		document.getElementById("Ing1").style.display='none';
		}
		
    	//----只能放在当前页面------
		    window.onscroll=function(){ 
		    var t=document.documentElement.scrollTop||document.body.scrollTop;  
		    var pos2=document.getElementById("pos2"); 
		    if(t>=880){ 
		        pos2.className = "pos1";
		    }else{
		        pos2.className = "pos2";
		    } 
		}
</script>
</html>