<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<title>产品展示</title>
	<style>
		.lanren{display:none;}
	</style>
	<include  file="Public:Public_jscss"/>
	<script type="text/javascript" language="javascript" src="Test_TMPL/js/minll.js"> </script>
	<script type="text/javascript" src="Test_TMPL/js/por.min.js"></script>
</head>
<body>
<include  file="Public:index_header"/>
	<div class="clear_float"></div>
	<div class="big_box">
		<div class="form_deta f-l">
			<ul id="mainSelect" class="divMain" >
				<li><span><a href="">全部</a></span></li>
				<p>&gt;</p>
			</ul>
		</div>
	<div class="clear_float"></div>
	<div class="classright_box  mt-20" id="for2">
		<div class="classleft_box col-xs-2 col-md-2 col-lg-2">
			<ul class="classone">
				<li>分类<span><a href="##">全部</a></span></li>
			</ul>
		</div>
			<div>	
				<ul class="class_one col-xs-10 col-md-10 col-lg-10">
					<li><a href="##" id="aa" class="divSmall" rel="type">优惠券</a></li>
					<li><a href="##" id="bb" class="divSmall" rel="type">甜点饮品</a></li>
					<li><a href="##" id="cc" class="divSmall" rel="type">火锅火锅</a></li>
					<li><a href="##" id="1a" class="divSmall" rel="type">自助餐</a></li>
					<li><a href="##" id="a1a" class="divSmall" rel="type">小吃快餐</a></li>
					<li><a href="##" id="a11a" class="divSmall" rel="type">日韩料理</a></li>
					<li><a href="##"id="a2a" class="divSmall" rel="type">西餐</a></li>
					<li><a href="##" id="aa3" class="divSmall" rel="type">聚餐宴请</a></li>
					<li><a href="##"id="aa1" class="divSmall" rel="type">烧烤烤肉</a></li>
					<li><a href="##" id="aea" class="divSmall" rel="type">东北菜</a></li>
					<li><a href="##" id="aaa" class="divSmall" rel="type">川湘菜</a></li>
					<li><a href="##" id="aac" class="divSmall" rel="type">江浙菜</a></li>
					<li><a href="##" id="aad" class="divSmall" rel="type">香锅烤鱼</a></li>
					<li><a href="##" id="aav" class="divSmall" rel="type">粤港菜</a></li>
					<li><a href="##" id="aax" class="divSmall" rel="type">中式烧烤</a></li>
					<li><a href="##" id="aab" class="divSmall" rel="type">西北菜</a></li>
					<li><a href="##" id="aaz" class="divSmall" rel="type">咖啡酒吧茶</a></li>
					<li><a href="##" id="aaxv" class="divSmall" rel="type">云贵菜</a></li>
					<li><a href="##" id="aavx" class="divSmall" rel="type">东南亚菜</a></li>
					<li><a href="##" id="aa2" class="divSmall" rel="type">海鲜</a></li>
					<li><a href="##" id="aas" class="divSmall" rel="type">素食 </a></li>
					<li><a href="##" id="cc1" class="divSmall" rel="type">台湾/客家菜</a></li>
					<li><a href="##" id="dd" class="divSmall" rel="type">创意菜</a></li>
					<li><a href="##" id="ff" class="divSmall" rel="type">汤/粥/炖菜</a></li>
					<li><a href="##" id="ee" class="divSmall" rel="type">蒙餐</a></li>
					<li><a href="##" id="rr" class="divSmall" rel="type">新疆菜</a></li>
					<li><a href="##" id="ww" class="divSmall" rel="type">其他美食</a></li>
					<li><a href="##" id="qq" class="divSmall" rel="type">京菜鲁菜</a></li>
				</ul>
			</div>
			<!--  -->
			<div class="clear_float"></div>
			<div class="classleft_box col-xs-2 col-md-2 col-lg-2">
				<ul class="classtwo">
					<li>分类<span><a href="##">全部</a></span></li>
				</ul>
			</div>
		<div class="class_too col-xs-10 col-md-10 col-lg-10">	
			<nav class="sq_class f-l container-fluid lh-30">
				<a href="##">商圈</a><a href="##">地标</a>
			</nav>
			<ul class="class_two">
				<li><a href="##" >全部</a></li>
				<li><a href="##" id="havea" class="divSmalltw" rel="sprice">祖庙</a></li>
				<li><a href="##" id="haveb" class="divSmalltw" rel="sprice">东方广场</a></li>
				<li><a href="##" id="havec" class="divSmalltw" rel="sprice">百花广场</a></li>
				<li><a href="##" id="haveas" class="divSmalltw" rel="sprice">花槎</a></li>
				<li><a href="##" id="havess" class="divSmalltw" rel="sprice">创意产业园</a></li>
				<li><a href="##" id="havedd" class="divSmalltw" rel="sprice">季华五路</a></li>
				<li><a href="##" id="haveqq" class="divSmalltw" rel="sprice">汾江路沿线</a></li>
				<li><a href="##" id="havfe" class="divSmalltw" rel="sprice">石湾</a></li>
				<li><a href="##" id="havet" class="divSmalltw" rel="sprice">岭南大道</a></li>
				<li><a href="##" id="htave" class="divSmalltw" rel="sprice">同济广场</a></li>
				<li><a href="##" id="heave" class="divSmalltw" rel="sprice">岭南新天地</a></li>
				<li><a href="##" id="hvvave" class="divSmalltw" rel="sprice">季华园</a></li>
				<li><a href="##" id="haaave" class="divSmalltw" rel="sprice">魁奇路沿线</a></li>
				<li><a href="##" id="hqqave" class="divSmalltw" rel="sprice">普君新城</a></li>
				<li><a href="##" id="hyave" class="divSmalltw" rel="sprice">季华六路沿线</a></li>
				<li><a href="##" id="hiave" class="divSmalltw" rel="sprice">兆阳广场</a></li>
				<li><a href="##" id="havue" class="divSmalltw" rel="sprice">华远东路</a></li>
				<li><a href="##" id="havne" class="divSmalltw" rel="sprice">九鼎国际</a></li>
				<li><a href="##" id="haveee" class="divSmalltw" rel="sprice">印象城</a></li>
				<li><a href="##" id="havecx" class="divSmalltw" rel="sprice">东建世纪广场</a></li>
				<li><a href="##" id="hav1e" class="divSmalltw" rel="sprice">文华路沿线 </a></li>
				<li><a href="##" id="hwqave" class="divSmalltw" rel="sprice">丽日玫瑰</a></li>
				<li><a href="##" id="hwaave" class="divSmalltw" rel="sprice">文华路</a></li>
				<li><a href="##" id="hawcve" class="divSmalltw" rel="sprice">福绿路</a></li>
				<li><a href="##" id="havwce" class="divSmalltw" rel="sprice">文华里</a></li>
				<li><a href="##" id="wchave" class="divSmalltw" rel="sprice">湖境路</a></li>
				<li><a href="##" id="fwhave" class="divSmalltw" rel="sprice">玫瑰园</a></li>
				<li><a href="##" id="wdsahave" class="divSmalltw" rel="sprice">魁奇路地铁站</a></li>
				<li><a href="##" id="havewqe" class="divSmalltw" rel="sprice">天湖丽都</a></li>
				<li><a href="##" id="hwccave" class="divSmalltw" rel="sprice">季华七路</a></li>
				<li><a href="##" id="qwer" class="divSmalltw" rel="sprice">体育路</a></li>
				<li><a href="##" id="weqr" class="divSmalltw" rel="sprice">绿景三路</a></li>
				<li><a href="##" id="qewrq" class="divSmalltw" rel="sprice">南桂西路</a></li>
				<li><a href="##" id="haverv" class="divSmalltw" rel="sprice">怡翠玫瑰园</a></li>
				<li><a href="##" id="havoer" class="divSmalltw" rel="sprice">市政府</a></li>
				<li><a href="##" id="haveew" class="divSmalltw" rel="sprice">普澜一路</a></li>
				<li><a href="##" id="havexxa" class="divSmalltw" rel="sprice">朝安</a></li>
				<li><a href="##" id="imaco" class="divSmalltw" rel="sprice">新明一路</a></li>
			</ul>
		</div>
		<div class="clear_float"></div>
		<div>	
			<div class="classleft_box col-xs-2 col-md-2 col-lg-2">
				<ul class="classthree">
					<li><a href="##">人均</a><span><a href="##">全部</a></span></li>
				</ul>
			</div>
			<ul class="class_three col-xs-10 col-md-10 col-lg-10">
				<li><a href="##" id="smart" class="divSmallthr" rel="decoration">50以下</a></li>
				<li><a href="##" id="sbmart" class="divSmallthr" rel="decoration">50-100元</a></li>
				<li><a href="##" id="ssmart" class="divSmallthr" rel="decoration">100-200元</a></li>
				<li><a href="##" id="smwart" class="divSmallthr" rel="decoration">200-300元</a></li>
				<li><a href="##" id="sqmart" class="divSmallthr" rel="decoration">300元以上</a></li>
			</ul>
		</div>
		<div class="clear_float"></div>
		<div>	
			<div class="classleft_box col-xs-2 col-md-2 col-lg-2">
				<ul class="classthree">
					<li><a href="##">人数</a><span><a href="##">全部</a></span></li>
				</ul>
			</div>
			<ul class="class_three col-xs-10 col-md-10 col-lg-10">
				<li><a href="##" id="smqqart" class="divSmallfir" rel="docoration">单人餐</a></li>
				<li><a href="##" id="smaaart" class="divSmallfir" rel="docoration">双人餐</a></li>
				<li><a href="##" id="smccart" class="divSmallfir" rel="docoration">3-4人餐</a></li>
				<li><a href="##" id="smxxart" class="divSmallfir" rel="docoration">5-10人餐</a></li>
				<li><a href="##" id="smzzart" class="divSmallfir" rel="docoration">其他</a></li>
			</ul>
		</div>
	</div> 
<div class="clear_float"></div>
<div class="select_box f-l container-fluid">
<ul class="select_leftbox">
	<li class="select_title"><a href="##">默认</a></li>
	<li><a href="##">积分<img src="Test_TMPL/images/xuan2.png" alt=""></a></li>
	<li><a href="##">好评<img src="Test_TMPL/images/xuan1.png" alt=""></a></li>
	<li><a href="##">发布时间<img src="Test_TMPL/images/xuan1.png" alt=""></a></li>
	<li><a href="##">人数<img src="Test_TMPL/images/more.png" alt=""></a></li>
	<li><a href="##">人均消费<img src="Test_TMPL/images/more.png" alt=""></a></li>
	<a href="##"><input type="checkbox">&nbsp;优惠券</a>
	<a href="##"><input type="checkbox">&nbsp;免预约</a>
	<a href="##"><input type="checkbox">&nbsp;可订座</a>
</ul>
</div>
<div class="clear_float"></div>
<div class="con_content f-l ">
	<div class="content_boxbot f-l col-3-1 mt-20">
		<ul class="content_boxone">
			<li><a href="##"><img src="Test_TMPL/images/proimg2.jpg" alt=""></a></li>
			<li><a href="##"><span>尚轩野生菌</span></a></li>
		</ul>
		<ul class="content_box1 f-l  f-l">
			<li>可获得15%积分<span><img src="Test_TMPL/images/ping1.png" alt=""></span></li>
		</ul>
		<ul class="content_box2 lh-50 container-fluid mt-10">
			<li class="cont_left"><a href="#" class="f-l"><img src="Test_TMPL/images/pb1.png" alt="">人均25元</a>
			<nav  class="cont_right f-r mr-10"><a href="#"><img src="Test_TMPL/images/pb2.png" alt="">美食</a><span class="ml-5">东方广场</span></nav>
			</li>
		</ul>
	</div>
	<div class="content_boxbot f-l col-3-1 mt-20">
		<ul class="content_boxone">
			<li><a href="##"><img src="Test_TMPL/images/proimg2.jpg" alt=""></a></li>
			<li><a href="##"><span>尚轩野生菌</span></a></li>
		</ul>
		<ul class="content_box1 f-l  f-l">
			<li>可获得15%积分<span><img src="Test_TMPL/images/ping1.png" alt=""></span></li>
		</ul>
		<ul class="content_box2 lh-50 container-fluid mt-10">
			<li class="cont_left"><a href="#" class="f-l"><img src="Test_TMPL/images/pb1.png" alt="">人均25元</a>
			<nav  class="cont_right f-r mr-10"><a href="#"><img src="Test_TMPL/images/pb2.png" alt="">美食</a><span class="ml-5">东方广场</span></nav>
			</li>
		</ul>
	</div>
	<div class="content_boxbot f-l col-3-1 mt-20">
		<ul class="content_boxone">
			<li><a href="##"><img src="Test_TMPL/images/proimg2.jpg" alt=""></a></li>
			<li><a href="##"><span>尚轩野生菌</span></a></li>
		</ul>
		<ul class="content_box1 f-l  f-l">
			<li>可获得15%积分<span><img src="Test_TMPL/images/ping1.png" alt=""></span></li>
		</ul>
		<ul class="content_box2 lh-50 container-fluid mt-10">
			<li class="cont_left"><a href="#" class="f-l"><img src="Test_TMPL/images/pb1.png" alt="">人均25元</a>
			<nav  class="cont_right f-r mr-10"><a href="#"><img src="Test_TMPL/images/pb2.png" alt="">美食</a><span class="ml-5">东方广场</span></nav>
			</li>
		</ul>
	</div>
	<div class="content_boxbot f-l col-3-1 mt-20">
		<ul class="content_boxone">
			<li><a href="##"><img src="Test_TMPL/images/proimg2.jpg" alt=""></a></li>
			<li><a href="##"><span>尚轩野生菌</span></a></li>
		</ul>
		<ul class="content_box1 f-l  f-l">
			<li>可获得15%积分<span><img src="Test_TMPL/images/ping1.png" alt=""></span></li>
		</ul>
		<ul class="content_box2 lh-50 container-fluid mt-10">
			<li class="cont_left"><a href="#" class="f-l"><img src="Test_TMPL/images/pb1.png" alt="">人均25元</a>
			<nav  class="cont_right f-r mr-10"><a href="#"><img src="Test_TMPL/images/pb2.png" alt="">美食</a><span class="ml-5">东方广场</span></nav>
			</li>
		</ul>
	</div>
	<div class="content_boxbot f-l col-3-1 mt-20">
		<ul class="content_boxone">
			<li><a href="##"><img src="Test_TMPL/images/proimg2.jpg" alt=""></a></li>
			<li><a href="##"><span>尚轩野生菌</span></a></li>
		</ul>
		<ul class="content_box1 f-l  f-l">
			<li>可获得15%积分<span><img src="Test_TMPL/images/ping1.png" alt=""></span></li>
		</ul>
		<ul class="content_box2 lh-50 container-fluid mt-10">
			<li class="cont_left"><a href="#" class="f-l"><img src="Test_TMPL/images/pb1.png" alt="">人均25元</a>
			<nav  class="cont_right f-r mr-10"><a href="#"><img src="Test_TMPL/images/pb2.png" alt="">美食</a><span class="ml-5">东方广场</span></nav>
			</li>
		</ul>
	</div>
	<div class="content_boxbot f-l col-3-1 mt-20">
		<ul class="content_boxone">
			<li><a href="##"><img src="Test_TMPL/images/proimg2.jpg" alt=""></a></li>
			<li><a href="##"><span>尚轩野生菌</span></a></li>
		</ul>
		<ul class="content_box1 f-l  f-l">
			<li>可获得15%积分<span><img src="Test_TMPL/images/ping1.png" alt=""></span></li>
		</ul>
		<ul class="content_box2 lh-50 container-fluid mt-10">
			<li class="cont_left"><a href="#" class="f-l"><img src="Test_TMPL/images/pb1.png" alt="">人均25元</a>
			<nav  class="cont_right f-r mr-10"><a href="#"><img src="Test_TMPL/images/pb2.png" alt="">美食</a><span class="ml-5">东方广场</span></nav>
			</li>
		</ul>
	</div>
	<div class="content_boxbot f-l col-3-1 mt-20">
		<ul class="content_boxone">
			<li><a href="##"><img src="Test_TMPL/images/proimg2.jpg" alt=""></a></li>
			<li><a href="##"><span>尚轩野生菌</span></a></li>
		</ul>
		<ul class="content_box1 f-l  f-l">
			<li>可获得15%积分<span><img src="Test_TMPL/images/ping1.png" alt=""></span></li>
		</ul>
		<ul class="content_box2 lh-50 container-fluid mt-10">
			<li class="cont_left"><a href="#" class="f-l"><img src="Test_TMPL/images/pb1.png" alt="">人均25元</a>
			<nav  class="cont_right f-r mr-10"><a href="#"><img src="Test_TMPL/images/pb2.png" alt="">美食</a><span class="ml-5">东方广场</span></nav>
			</li>
		</ul>
	</div>
	<div class="content_boxbot f-l col-3-1 mt-20">
		<ul class="content_boxone">
			<li><a href="##"><img src="Test_TMPL/images/proimg2.jpg" alt=""></a></li>
			<li><a href="##"><span>尚轩野生菌</span></a></li>
		</ul>
		<ul class="content_box1 f-l  f-l">
			<li>可获得15%积分<span><img src="Test_TMPL/images/ping1.png" alt=""></span></li>
		</ul>
		<ul class="content_box2 lh-50 container-fluid mt-10">
			<li class="cont_left"><a href="#" class="f-l"><img src="Test_TMPL/images/pb1.png" alt="">人均25元</a>
			<nav  class="cont_right f-r mr-10"><a href="#"><img src="Test_TMPL/images/pb2.png" alt="">美食</a><span class="ml-5">东方广场</span></nav>
			</li>
		</ul>
	</div>
	<div class="content_boxbot f-l col-3-1 mt-20">
		<ul class="content_boxone">
			<li><a href="##"><img src="Test_TMPL/images/proimg2.jpg" alt=""></a></li>
			<li><a href="##"><span>尚轩野生菌</span></a></li>
		</ul>
		<ul class="content_box1 f-l  f-l">
			<li>可获得15%积分<span><img src="Test_TMPL/images/ping1.png" alt=""></span></li>
		</ul>
		<ul class="content_box2 lh-50 container-fluid mt-10">
			<li class="cont_left"><a href="#" class="f-l"><img src="Test_TMPL/images/pb1.png" alt="">人均25元</a>
			<nav  class="cont_right f-r mr-10"><a href="#"><img src="Test_TMPL/images/pb2.png" alt="">美食</a><span class="ml-5">东方广场</span></nav>
			</li>
		</ul>
	</div>
	</div> 
	<div class="client_content f-r">
		<div class="client_righttop">
			<img src="Test_TMPL/images/rightfood_03.png" alt="客户端">
			<ul onmouseover="nxShow(1)" onMouseOut="nxIng()">
				<li>下载手机客户端</li>
				<li class="client_title">下载省钱神器</li>
			</ul>
			<div class="bg-box-02" id="Ing1" >
			      <i class="ewi-box"></i>
				<img  src="Test_TMPL/images/login1_r3_c5.jpg" alt="">
		  	</div>
		</div>
		<div class="client_right">
			<ul class="client_right1">
				<li> <img src="Test_TMPL/images/rightfood_07.png" alt=""> <span>猜你喜欢</span></li>
			</ul>
			<ul class="client_right2">
				<li><img src="Test_TMPL/images/class1_03.png" alt=""></li>
				<li>杏记食品</li>
			</ul>
			<ul class="client_right3">
				<li>六折</li>
				<p><img src="Test_TMPL/images/ping3.png" alt=""></p>
			</ul>
		</div>
	</div>
		<div class="clear_float"></div>
		<div class="page">
			 <span class="currents">1</span>
			 <a class="num" href="##">2</a>
			 <a class="num" href="##">3</a> 
			 <a class="next" href="##">下一页</a>
		</div> 
	</div>
</div>
<div class="clear_float"></div>
<!-- footer_content -->
	<include  file="Public:index_footer"/>
</body>
<script type="text/javascript" src="Test_TMPL/js/layer/2.1/layer.js"></script>
<script type="text/javascript" src="Test_TMPL/js/H-ui/js/H-ui.js"></script>
<script type="text/javascript" src="Test_TMPL/js/shop_get.js"></script>
<script type="text/javascript">
		$(document).ready(function () {
		$(".divSmall").click(function () {
			var isAlreadyHave = false;
			var thisID = $(this).attr("id");
			var classType = $(this).attr("rel")
		$(".divSmall2").each(function () {
		if ($(this).attr("rel") == thisID) {
			isAlreadyHave = true;
		}
		if ($(this).attr("ttype") == classType) {
			goBegin($(this).attr("rel"));
			$(this).remove();
			}
			});
		if (!isAlreadyHave) {
			writeDiv($(this).html(), $(this).attr("id"), $(this).attr("rel"));
			}
			});
		$(".image").live('click', function () {
			goBegin($(this).parent().attr("rel"));
			$(this).parent().remove();
			});
			});
		//输出一个div
		function writeDiv(name, id, classONE) {
		var divShow = "<div class='divSmall2' rel='" + id + "' ttype='"+ classONE+"'>" +" 美食 :&nbsp;&nbsp;" + name + "<img src='Test_TMPL/images/deling_03.png' class='image' /></div>";
		$("#mainSelect").html($("#mainSelect").html() + divShow);
		}
		function goBegin(ID) {

		}
		// ===========
		$(document).ready(function () {
		$(".divSmalltw").click(function () {
			var isAlreadyHave = false;
			var thisID = $(this).attr("id");
			var classType = $(this).attr("rel")
		$(".divSmalltw2").each(function () {
		if ($(this).attr("rel") == thisID) {
			isAlreadyHave = true;

		}
		if ($(this).attr("ttype") == classType) {
			goBegin($(this).attr("rel"));
			$(this).remove();
		}
		});
		if (!isAlreadyHave) {
			writeDivtws($(this).html(), $(this).attr("id"), $(this).attr("rel"));
		}
		});
		$(".image").live('click', function () {
			goBegin($(this).parent().attr("rel"));
			$(this).parent().remove();
		});
		});
		//输出一个div
		function writeDivtws(name, id, classONE) {
		var divShow = "<div class='divSmalltw2' rel='" + id + "' ttype='"+ classONE+"'>" +" 区域 :&nbsp;&nbsp;" + name + "<img src='Test_TMPL/images/deling_03.png' class='image' /></div>";
		$("#mainSelect").html($("#mainSelect").html() + divShow);
		}
		function goBegin(ID) {
		}
		// ====
		$(document).ready(function () {
		$(".divSmallthr").click(function () {
			var isAlreadyHave = false;
			var thisID = $(this).attr("id");
			var classType = $(this).attr("rel")
			$(".divSmallthr2").each(function () {
		if ($(this).attr("rel") == thisID) {
		isAlreadyHave = true;

		}
		if ($(this).attr("ttype") == classType) {
			goBegin($(this).attr("rel"));
			$(this).remove();
		}
		});
		if (!isAlreadyHave) {
			writeDivss($(this).html(), $(this).attr("id"), $(this).attr("rel"));
			}
		});
		$(".image").live('click', function () {
			goBegin($(this).parent().attr("rel"));
			$(this).parent().remove();
		});
		});
		//输出一个div
		function writeDivss(name, id, classONE) {
			var divShow = "<div class='divSmallthr2' rel='" + id + "' ttype='"+ classONE+"'>" +" 人均 :&nbsp;&nbsp;" + name + "<img src='Test_TMPL/images/deling_03.png' class='image' /></div>";
			$("#mainSelect").html($("#mainSelect").html() + divShow);
			}
		function goBegin(ID) {
			}
			// ====
			$(document).ready(function () {
			$(".divSmallfir").click(function () {
			var isAlreadyHave = false;
			var thisID = $(this).attr("id");
			var classType = $(this).attr("rel")
			$(".divSmallfir2").each(function () {
			if ($(this).attr("rel") == thisID) {
			isAlreadyHave = true;

			}
			if ($(this).attr("ttype") == classType) {
			goBegin($(this).attr("rel"));
			$(this).remove();
			}
			});
			if (!isAlreadyHave) {
			writeDivfis($(this).html(), $(this).attr("id"), $(this).attr("rel"));
			}
			});
			$(".image").live('click', function () {
			goBegin($(this).parent().attr("rel"));
			$(this).parent().remove();
			});
			});
		//输出一个div
		function writeDivfis(name, id, classONE) {
		var divShow = "<div class='divSmallfir2' rel='" + id + "' ttype='"+ classONE+"'>" +" 人数 :&nbsp;&nbsp;" + name + "<img src='Test_TMPL/images/deling_03.png' class='image' /></div>";
		$("#mainSelect").html($("#mainSelect").html() + divShow);
		}
		function goBegin(ID) {

		}
		 // --手机客户端扫码下载--------
		     function nxShow(num){
				// alert("the show");
				for(var i=1; i<2; i++){
					var obj=document.getElementById("Ing"+i);
					obj.style.display="none";
				}
					var obj1=document.getElementById("Ing"+num);
					obj1.style.display="block";
				}
				function nxIng(){
					document.getElementById("Ing1").style.display='none';
				}
</script>
</html>