<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>审核未通过</title>
	<link type="text/css" rel="stylesheet" href="js/H-ui/css/H-ui.min.css">
	<link type="text/css" rel="stylesheet" href="js/H-ui/css/H-ui.reset.css">
	<link type="text/css" rel="stylesheet" href="css/shop_index.css">
	<script type="text/javascript" src="js/jquery-1.7.min.js"></script>
</head>
<body>
<div class="container-fluid bg-box">
	<div class="header container">
	<div class="col-md-12">
		<div class="lo-go f-l"><img src="images/logo.png" alt=""><span>商家合作</span></div>
		<ul class="head-title f-r ">
			<li> <a href="#">商家首页</a></li>
			<li><a href="#">营销案例</a></li>
			<li><a href="#">商家APP</a></li>
			<li><a href="#">登录</a><img src="images/index_03.png" alt=""><a href="#">注册</a></li>
		</ul>
	</div>
	</div>
	<div class="clear_float"></div>
	<div class="container-fluid ad-bg">
		<div class="container">
		<div class="col-md-12">
			<div class="col-md-12 add-bg1">
				<nav class="add-title col-md-12">尊敬的用户 , 很抱歉 , 您申请的未通过审核，请完善您的资料再次提交，我们工作人员会在五个工作日内回复</nav>
				<div class="ion-rig f-r mt-40">
					<ul class="f-r big-bg1">
						<li><img src="images/tips3.png" alt=""></li>
						<div class="clear_float"></div>
						<li ><a href="##">返回注册页</a></li>
					</ul>
				</div>
				<div class="fk-ment f-l mt-30 col-lu">
					<ul class="fk-ment-1 col-md-6">	
						<ol class="f-l mt-40 col-xs-offset-4 mr-15"><img src="images/zhucew1.png" alt=""></ol>
						<li>常见问题<br><a href="javascript:void(0);" onclick="Ment1()">查询问题</a></li>
					</ul>
					<ul class="fk-ment-2 col-md-6">	
						<ol class="f-l mt-40 col-xs-offset-4 mr-15"><img src="images/zhucew2.png" alt=""></ol>
						<li>服务热线<br><span style="color:#e94d4d;">0757-28338383</span></li>
					</ul>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="clear_float"></div>
	<!-- footer bg -->
	<div class="footer text-c mt-50">
		<div class="container">
			<ul class="col-md-12 text-c mt-30 mb-10 col-md-offset-2 " >
				<li>纳邦首页</li>
				<ol><img src="images/index_03.png" alt=""></ol>
				<li>关于纳邦</li>
				<ol><img src="images/index_03.png" alt=""></ol>
				<li>纳邦新闻</li>
				<ol><img src="images/index_03.png" alt=""></ol>
				<li>合作流程</li>
				<ol><img src="images/index_03.png" alt=""></ol>
				<li>商家后台</li>
				<ol><img src="images/index_03.png" alt=""></ol>
				<li>常见问题</li>
				<ol><img src="images/index_03.png" alt=""></ol>
				<li>客服电话：<span>0757-28338383</span>（每天9:00到17:30）</li>
			</ul>
			<nav class="copy text-c mb-50">Copyright  &copy; 2016 nbesq.com 版权所有 京ICP证030273号 京公网安备1101080201606号</nav>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="js/layer/2.1/layer.js"></script>
<script  type="text/javascript">
	function Ment1() {
        layer.open({
        	title: [
		    '商家满意度调查',
		    'background-color:#767c8a; color:#fff;']
            ,type: false,
            skin:'layui-layer-rim', //加上边框
            area:['500px', '350px'], //宽高
            scrollbar:false,
            content: '',
       	 });
    	}
</script>
</html>