<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<title>注册</title>
	<!-- 审核通过后注册 -->
	<link type="text/css" rel="stylesheet" href="js/H-ui/css/H-ui.min.css">
	<link type="text/css" rel="stylesheet" href="js/H-ui/css/H-ui.reset.css">
	<link type="text/css" rel="stylesheet" href="css/shop_index.css">
</head>
<body>
<div class="container-fluid bg-box">
	<div class="header container">
	<div class="col-md-12">
		<div class="lo-go f-l"><img src="images/logo.png" alt=""><span>商家合作</span></div>
		<ul class="head-title f-r ">
			<li> <a href="#">商家首页</a></li>
			<li><a href="#">营销案例</a></li>
			<li><a href="#">商家APP</a></li>
			<li><a href="#">登录</a><img src="images/index_03.png" alt=""><a href="#">注册</a></li>
		</ul>
	</div>
	</div>
	<div class="clear_float"></div>
	<div class="container-fluid ad-bg">
		<div class="container">
		<div class="col-md-12">
			<div class="col-md-12 add-bg1">
			<nav class="add-title col-md-12">尊敬的用户 , 欢迎加入纳邦e社区 , 请填写以下内容完成注册</nav>
				<div class="ion-rig f-r mt-40">
					<ul class="f-r big-bg1">
						<li>账号：<input type="text" value="" placeholder="&nbsp;请输入账户名或邮箱"><nav class="ml-50 mt-5"><img class="mr-5" src="images/tips2.png" alt="">请填写信息</nav></li>
						<li>密码：<input type="text" value="" placeholder="&nbsp;请输入8-14位密码"><nav class="ml-50 mt-5"><img class="mr-5" src="images/tips2.png" alt="">请填写信息</nav></li>
						<li>确认密码：<input type="text" value="" placeholder="&nbsp;请再次输入您的密码"><nav class="bg-roe1 mt-5"><img class="mr-5" src="images/tips2.png" alt="">请填写信息</nav></li>
						<li>手机号：<input type="text" value="" placeholder="&nbsp;请输入您的手机号"><nav class="bg-roe2 mt-5"><img class="mr-5" src="images/tips2.png" alt="">请填写信息</nav></li>
						<ol class="f-r lh-50 mt-20">验证码：<span><input type="text" class="yanz-bg" value="" placeholder="&nbsp;请输入短信验证码"> <input type="submit" class="yanz-bg2" value="获取验证码"></span><nav class="bg-roe mt-5"><img class="mr-5" src="images/tips2.png" alt="">请填写信息</nav></ol>
						<font class="f-l mt-30 mb-50"><input type="submit" value="立即注册"></font>
					</ul>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="clear_float"></div>
	<!-- footer bg -->
	<div class="footer text-c mt-50">
		<div class="container">
			<ul class="col-md-12 text-c mt-30 mb-10 col-md-offset-2 " >
				<li>纳邦首页</li>
				<ol><img src="images/index_03.png" alt=""></ol>
				<li>关于纳邦</li>
				<ol><img src="images/index_03.png" alt=""></ol>
				<li>纳邦新闻</li>
				<ol><img src="images/index_03.png" alt=""></ol>
				<li>合作流程</li>
				<ol><img src="images/index_03.png" alt=""></ol>
				<li>商家后台</li>
				<ol><img src="images/index_03.png" alt=""></ol>
				<li>常见问题</li>
				<ol><img src="images/index_03.png" alt=""></ol>
				<li>客服电话：<span>0757-28338383</span>（每天9:00到17:30）</li>
			</ul>
			<nav class="copy text-c mb-50">Copyright  &copy; 2016 nbesq.com 版权所有 京ICP证030273号 京公网安备1101080201606号</nav>
		</div>
	</div>
</div>
</body>
</html>