<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<title>营销案例</title>
	<link rel="stylesheet" type="text/css" href="js/H-ui/css/H-ui.min.css"/>
	<link rel="stylesheet" type="text/css" href="js/H-ui/css/H-ui.reset.css"/>
	<link type="text/css" rel="stylesheet" href="css/shop_index.css">
</head>
<body>
	<div class="container-fluid bg-box">
		<div class="header container">
		<div class="col-md-12">
			<div class="lo-go f-l"><img src="images/logo.png" alt=""><span>商家合作</span></div>
			<ul class="head-title f-r ">
				<li> <a href="#">商家首页</a></li>
				<li><a href="#">营销案例</a></li>
				<li><a href="#">商家APP</a></li>
				<li><a href="#">登录</a><img src="images/index_03.png" alt=""><a href="#">注册</a></li>
			</ul>
		</div>
		</div>
		<nav class="bg-pic-2 pos-r ">
			<img class="f-l" src="images/cban2.jpg" alt="">
			<nav class="container">
				<p class="f-l pos-a ml-20">百万商户的选择<br><span>携手纳邦e社区 , 轻松赚钱</span></p>
			</nav>
		</nav>
		<div class="clear_float"></div>
		<div class="conter-1 container ">
				<div class="cont-title text-c col-md-12"><span>他们的成功 , 你们也可以做到</span></div>
			<div class="conter-shll col-md-12 mt-40">
				<ul class="text-c container-fluid">
					<li class="right-box"><img src="images/case_03.png" alt=""></li>
					<li class="right-box"><img src="images/case_04.png" alt=""></li>
					<li><img src="images/case_05.png" alt=""></li>
				</ul>
				<ul class="text-c container-fluid">
					<li class="right-box"><img src="images/case_06.png" alt=""></li>
					<li class="right-box"><img src="images/case_07.png" alt=""></li>
					<li><img src="images/case_08.png" alt=""></li>
				</ul>
				<ul class="text-c container-fluid">
					<li class="right-box"><img src="images/case_09.png" alt=""></li>
					<li class="right-box"><img src="images/case_10.png" alt=""></li>
					<li><img src="images/case_11.png" alt=""></li>
				</ul>
				<ul class="text-c container-fluid">
					<li class="right-box"><img src="images/case_12.png" alt=""></li>
					<li class="right-box"><img src="images/case_13.png" alt=""></li>
					<li><img src="images/case_14.png" alt=""></li>
				</ul>
			</div>
			<div class="f-l col-md-offset-5 mt-50 mb-20">
				<nav class="sub text-c"><a href="#">我要合作</a></nav>
			</div>
				<div class="clear_float"></div>
			<div class="conter-contitle f-l container-fluid mt-30">
				<ul class="conter-contitle-01">
					<ol>商家名称: <span>东风顺</span></ol>
					<ul class="f-r">
						<li><img src="images/pb14.png" alt="img">首次合作：<span>2016-08-10</span></li>
						<li><img src="images/pb15.png" alt="img">进店消费：<span>58587次</span></li>
						<li><img src="images/pb16.png" alt="img">消费评价：<span>19999次</span></li>
					</ul>
				</ul>
				<ul class="f-l conter-contitle-02">
				<nav  class="pic-box f-l"><img src="images/case_03.png" alt="img"></nav>
					<ul class="col-md-9 conter-contitle-02">
						<li>纳邦除了以巨大的会员福利回馈社会的同时，结合当前社会市场人才缺口和自身人力资源公司服务的优势，纳邦职业培训学校联同佛山市各级人力资源和社会保障局等部门以及数千家优秀企业共同展开了一系列专业技能人才的培训，包括：人力资源管理师培训、电子商务培训、营销培训等等，并为每一位完成学业的学员推荐就业岗位，提升学员自身价值和能力，为企业和人才带来新的动力。 </li>
					</ul>
				</ul>
			</div>
			<div class="conter-contitle f-l container-fluid mt-30">
				<ul class="conter-contitle-01">
					<ol>商家名称: <span>东风顺</span></ol>
					<ul class="f-r">
						<li><img src="images/pb14.png" alt="img">首次合作：<span>2016-08-10</span></li>
						<li><img src="images/pb15.png" alt="img">进店消费：<span>58587次</span></li>
						<li><img src="images/pb16.png" alt="img">消费评价：<span>19999次</span></li>
					</ul>
				</ul>
				<ul class="f-l conter-contitle-02">
				<nav  class="pic-box f-l"><img src="images/case_04.png" alt="img"></nav>
					<ul class="col-md-9 conter-contitle-02">
						<li>纳邦除了以巨大的会员福利回馈社会的同时，结合当前社会市场人才缺口和自身人力资源公司服务的优势，纳邦职业培训学校联同佛山市各级人力资源和社会保障局等部门以及数千家优秀企业共同展开了一系列专业技能人才的培训，包括：人力资源管理师培训、电子商务培训、营销培训等等，并为每一位完成学业的学员推荐就业岗位，提升学员自身价值和能力，为企业和人才带来新的动力。 </li>
					</ul>
				</ul>
			</div>
			<div class="conter-contitle f-l container-fluid mt-30">
				<ul class="conter-contitle-01">
					<ol>商家名称: <span>东风顺</span></ol>
					<ul class="f-r">
						<li><img src="images/pb14.png" alt="img">首次合作：<span>2016-08-10</span></li>
						<li><img src="images/pb15.png" alt="img">进店消费：<span>58587次</span></li>
						<li><img src="images/pb16.png" alt="img">消费评价：<span>19999次</span></li>
					</ul>
				</ul>
				<ul class="f-l conter-contitle-02">
				<nav  class="pic-box f-l"><img src="images/case_05.png" alt="img"></nav>
					<ul class="col-md-9 conter-contitle-02">
						<li>纳邦除了以巨大的会员福利回馈社会的同时，结合当前社会市场人才缺口和自身人力资源公司服务的优势，纳邦职业培训学校联同佛山市各级人力资源和社会保障局等部门以及数千家优秀企业共同展开了一系列专业技能人才的培训，包括：人力资源管理师培训、电子商务培训、营销培训等等，并为每一位完成学业的学员推荐就业岗位，提升学员自身价值和能力，为企业和人才带来新的动力。 </li>
					</ul>
				</ul>
			</div>
			<div class="conter-contitle f-l container-fluid mt-30">
				<ul class="conter-contitle-01">
					<ol>商家名称: <span>东风顺</span></ol>
					<ul class="f-r">
						<li><img src="images/pb14.png" alt="img">首次合作：<span>2016-08-10</span></li>
						<li><img src="images/pb15.png" alt="img">进店消费：<span>58587次</span></li>
						<li><img src="images/pb16.png" alt="img">消费评价：<span>19999次</span></li>
					</ul>
				</ul>
				<ul class="f-l conter-contitle-02">
				<nav  class="pic-box f-l"><img src="images/case_06.png" alt="img"></nav>
					<ul class="col-md-9 conter-contitle-02">
						<li>纳邦除了以巨大的会员福利回馈社会的同时，结合当前社会市场人才缺口和自身人力资源公司服务的优势，纳邦职业培训学校联同佛山市各级人力资源和社会保障局等部门以及数千家优秀企业共同展开了一系列专业技能人才的培训，包括：人力资源管理师培训、电子商务培训、营销培训等等，并为每一位完成学业的学员推荐就业岗位，提升学员自身价值和能力，为企业和人才带来新的动力。 </li>
					</ul>
				</ul>
			</div>
			<div class="conter-contitle f-l container-fluid mt-30">
				<ul class="conter-contitle-01">
					<ol>商家名称: <span>东风顺</span></ol>
					<ul class="f-r">
						<li><img src="images/pb14.png" alt="img">首次合作：<span>2016-08-10</span></li>
						<li><img src="images/pb15.png" alt="img">进店消费：<span>58587次</span></li>
						<li><img src="images/pb16.png" alt="img">消费评价：<span>19999次</span></li>
					</ul>
				</ul>
				<ul class="f-l conter-contitle-02">
				<nav  class="pic-box f-l"><img src="images/case_07.png" alt="img"></nav>
					<ul class="col-md-9 conter-contitle-02">
						<li>纳邦除了以巨大的会员福利回馈社会的同时，结合当前社会市场人才缺口和自身人力资源公司服务的优势，纳邦职业培训学校联同佛山市各级人力资源和社会保障局等部门以及数千家优秀企业共同展开了一系列专业技能人才的培训，包括：人力资源管理师培训、电子商务培训、营销培训等等，并为每一位完成学业的学员推荐就业岗位，提升学员自身价值和能力，为企业和人才带来新的动力。 </li>
					</ul>
				</ul>
			</div>
			<div class="conter-contitle f-l container-fluid mt-30">
				<ul class="conter-contitle-01">
					<ol>商家名称: <span>东风顺</span></ol>
					<ul class="f-r">
						<li><img src="images/pb14.png" alt="img">首次合作：<span>2016-08-10</span></li>
						<li><img src="images/pb15.png" alt="img">进店消费：<span>58587次</span></li>
						<li><img src="images/pb16.png" alt="img">消费评价：<span>19999次</span></li>
					</ul>
				</ul>
				<ul class="f-l conter-contitle-02">
				<nav  class="pic-box f-l"><img src="images/case_08.png" alt="img"></nav>
					<ul class="col-md-9 conter-contitle-02">
						<li>纳邦除了以巨大的会员福利回馈社会的同时，结合当前社会市场人才缺口和自身人力资源公司服务的优势，纳邦职业培训学校联同佛山市各级人力资源和社会保障局等部门以及数千家优秀企业共同展开了一系列专业技能人才的培训，包括：人力资源管理师培训、电子商务培训、营销培训等等，并为每一位完成学业的学员推荐就业岗位，提升学员自身价值和能力，为企业和人才带来新的动力。 </li>
					</ul>
				</ul>
			</div>
			<div class="conter-contitle f-l container-fluid mt-30">
				<ul class="conter-contitle-01">
					<ol>商家名称: <span>东风顺</span></ol>
					<ul class="f-r">
						<li><img src="images/pb14.png" alt="img">首次合作：<span>2016-08-10</span></li>
						<li><img src="images/pb15.png" alt="img">进店消费：<span>58587次</span></li>
						<li><img src="images/pb16.png" alt="img">消费评价：<span>19999次</span></li>
					</ul>
				</ul>
				<ul class="f-l conter-contitle-02">
				<nav  class="pic-box f-l"><img src="images/case_09.png" alt="img"></nav>
					<ul class="col-md-9 conter-contitle-02">
						<li>纳邦除了以巨大的会员福利回馈社会的同时，结合当前社会市场人才缺口和自身人力资源公司服务的优势，纳邦职业培训学校联同佛山市各级人力资源和社会保障局等部门以及数千家优秀企业共同展开了一系列专业技能人才的培训，包括：人力资源管理师培训、电子商务培训、营销培训等等，并为每一位完成学业的学员推荐就业岗位，提升学员自身价值和能力，为企业和人才带来新的动力。 </li>
					</ul>
				</ul>
			</div>
			<div class="conter-contitle f-l container-fluid mt-30">
				<ul class="conter-contitle-01">
					<ol>商家名称: <span>东风顺</span></ol>
					<ul class="f-r">
						<li><img src="images/pb14.png" alt="img">首次合作：<span>2016-08-10</span></li>
						<li><img src="images/pb15.png" alt="img">进店消费：<span>58587次</span></li>
						<li><img src="images/pb16.png" alt="img">消费评价：<span>19999次</span></li>
					</ul>
				</ul>
				<ul class="f-l conter-contitle-02">
				<nav  class="pic-box f-l"><img src="images/case_10.png" alt="img"></nav>
					<ul class="col-md-9 conter-contitle-02">
						<li>纳邦除了以巨大的会员福利回馈社会的同时，结合当前社会市场人才缺口和自身人力资源公司服务的优势，纳邦职业培训学校联同佛山市各级人力资源和社会保障局等部门以及数千家优秀企业共同展开了一系列专业技能人才的培训，包括：人力资源管理师培训、电子商务培训、营销培训等等，并为每一位完成学业的学员推荐就业岗位，提升学员自身价值和能力，为企业和人才带来新的动力。 </li>
					</ul>
				</ul>
			</div>
		</div>
		<div class="clear_float"></div>
		<!-- footer bg -->
		<div class="footer text-c mt-50">
			<div class="container">
				<ul class="col-md-12 text-c mt-30 mb-10 col-md-offset-2 " >
					<li>纳邦首页</li>
					<ol><img src="images/index_03.png" alt=""></ol>
					<li>关于纳邦</li>
					<ol><img src="images/index_03.png" alt=""></ol>
					<li>纳邦新闻</li>
					<ol><img src="images/index_03.png" alt=""></ol>
					<li>合作流程</li>
					<ol><img src="images/index_03.png" alt=""></ol>
					<li>商家后台</li>
					<ol><img src="images/index_03.png" alt=""></ol>
					<li>常见问题</li>
					<ol><img src="images/index_03.png" alt=""></ol>
					<li>客服电话：<span>0757-28338383</span>（每天9:00到17:30）</li>
				</ul>
				<nav class="copy text-c mb-50">Copyright  &copy; 2016 nbesq.com 版权所有 京ICP证030273号 京公网安备1101080201606号</nav>
			</div>
		</div>
	</div>
</body>
</html>