@charset "utf-8";
/* 代码整理：懒人之家 */
*{ margin:0; padding:0;}
a { color:#213f71; font-size:9pt; text-decoration:none;}
a:hover {color:#0066cc; }
.blk_19 {
 overflow:hidden;
 zoom:1;
 font-size:9pt;
     border: 4px solid gray;
    border-radius: 7px 7px 7px 7px;
 
 background:#eee;
 width:1270px;
 margin-top:8px;
}
.blk_19 .pcont {
 width:1210px;
 float:left;
 overflow:hidden;
 padding-left:5px;
}
.blk_19 .ScrCont {
 width:32766px;
 zoom:1;
 margin-left:-5px;
}
.blk_19 #List1_1s, .blk_19 #List2_1s {
 float:left;
}
#List1_1s img{
	 width:280px;
	 height:210px;
}
#List2_1s  img{
	 width:280px;
	 height:210px;
}
.blk_19 .LeftBotton, .blk_19 .RightBotton {
 width:15px;
 height:74px;
 float:left;
 background:url(../images/axs.gif) no-repeat;
}
.blk_19 .LeftBotton {
 background-position: 0 0;
 margin:71px 5px 0;
}
.blk_19 .RightBotton {
 background-position: 0 -100px;
 margin:71px 1px 10px 5px;
}

.blk_19 .LeftBotton:hover {
 background-position: -20px 0;
}
.blk_19 .RightBotton:hover {
 background-position: -20px -100px;
}

.blk_19 .pls img {
 displsay:block;
 cursor:pointer;
 border:none;
 margin:6px auto 1px auto;
}
.blk_19 .pls {
 width:300px;
 border:1px solid #f3f3f3;
 float:left;
 float:left;
 text-align:center;
 line-height:24px;
}
.blk_19 a.pls:hover {
 border:1px solid #5dacec;
 color:#5dacec;
 background:#fff;
}

