 <!-- End: Sidebar -->    
  <!-- Start: Content -->
  <section id="content">
    <div id="topbar" class="affix">
      <ol class="breadcrumb">
        <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">编辑文章分类</li>
      </ol>
    </div>
    <div class="container">
	 <div class="row">
        <div class="col-md-10 col-lg-11 center-column">
        <form action="" method="post" class="cmxform">
        	<div class="panel">
            <div class="panel-heading">
              <div class="panel-title">编辑文章分类</div>
              <div class="panel-btns pull-right margin-left">
              <a href="<{:U('artcat')}>" class="btn btn-default btn-gradient dropdown-toggle"><span class="glyphicon glyphicon-chevron-left"></span></a>
            	  </div>
            </div>
            <div class="panel-body">
            	  <div class="col-md-7">
                <div class="form-group">
                  <div class="input-group"> <span class="input-group-addon">文章分类</span>
                    <select name="name" class="form-control" value="">
                          <option value="公司简介">公司简介</option>
                          <option value="联系我们">联系我们</option>
                          <option value="行业新闻">行业新闻</option>
                          <option value="最新公告">最新公告</option>
                          <option value="公司资讯">公司资讯</option>
                    </select> 
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group"> <span class="input-group-addon">文章分类英文名称</span>
                    <input type="text" name="enname" value="<{$info.artcat_enname}>" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                      <div class="input-group"> 
                    <span class="input-group-addon">更新时间</span>
                      <input class="form-control date-picker" id="class_code_cc_time_input" type="text" data-date-format="yyyymmdd" name="time" value="<{$info.artcat_addtime}>">
                </div>
                </div>
                </div>
                 <input type="hidden" name="id" value="<{$info.id}>">
                <div class="col-md-7">
	                <div class="form-group">
	                  <input type="submit" value="提交" class="submit btn btn-blue">
	                </div>
                </div>
            </div>
          </div>
          </form>
        </div>
    </div>
  </section>
  <!-- End: Content --> 
</div>
</body>
<script src="__PUBLIC__/admin/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="__PUBLIC__/admin/js/common.unpre.js"></script>
<script>
    $('#summernote').summernote({
      height: 300,                 // set editor height
      minHeight: null,             // set minimum height of editor
      maxHeight: null,             // set maximum height of editor
      focus: true                  // set focus to editable area after initializing summernote
    });
  </script>

</html>