<include file="./App/Home/View/Public/header.html"/>
<include file="./App/Home/View/Public/top.html"/>
<include file="./App/Home/View/Public/nav.html"/>
<link rel="stylesheet" href="">
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 register-right">
			<div class="row">
				<?php if(isset($message)) {?>
				<div class="col-md-12 right-text"><img src="" width="80px"></div>
				<div class="col-md-12 right-top"><?php echo($message); ?></div>
				<?php }else{?>
				<div class="col-md-12 right-text"><img src="" width="80px"></div>
				<div class="col-md-12 right-top"><?php echo($error); ?></div>
				<?php }?>
				<div class="col-md-12 right-text">页面自动 <a id="href" href="<?php echo($jumpUrl); ?>">跳转</a> 等待时间： <b id="wait"><?php echo($waitSecond); ?></b></div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
<include file="./App/Home/View/Public/footer.html"/>
<script type="text/javascript">
(function(){
var wait = document.getElementById('wait'),href = document.getElementById('href').href;
var interval = setInterval(function(){
	var time = --wait.innerHTML;
	if(time <= 0) {
		location.href = href;
		clearInterval(interval);
	};
}, 1000);
})();
</script>