<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>商家登录</title>
	<link type="text/css" rel="stylesheet" href="js/H-ui/css/H-ui.min.css">
	<link type="text/css" rel="stylesheet" href="js/H-ui/css/H-ui.reset.css">
	<link type="text/css" rel="stylesheet" href="css/shop_index.css">
</head>
<body>
	<div class="container-fluid bg-box">
		<div class="header container">
		<div class="col-md-12">
			<div class="lo-go f-l"><img src="images/logo.png" alt=""><span>商家合作</span></div>
			<ul class="head-title f-r ">
				<li><a href="#">登录</a><img src="images/index_03.png" alt=""><a href="#">注册</a></li>
			</ul>
		</div>
		</div>
		<div class="clear_float"></div>
		<div class="box-login-pic">
			<nav class="log-pic pos-r container">
				<img class="f-l ml-20 log-pic-01" src="images/cban4.jpg.png" alt="">
				<div class="f-l login-inp">
					<ul class="f-l mt-20 lh-50">
						<ol>商家登录</ol>
						<form action="" method="">
						<li><input type="text" class="ty-inp" value="" placeholder="&nbsp;账号"></li>
						<li><input type="text" class="ty-inp"  value="" placeholder="&nbsp;密码"></li>
						<li><input type="text" class="ty-inp-01" value="" placeholder="&nbsp;验证码"><img  src="images/case1_03.png" alt=""><span class="ml-5"><a href="#">看不清楚 ？ 换一张</a></span></li>
						<li><input type="checkbox" value="">&nbsp;&nbsp;七天内保持登录状态 <span class="f-r mr-10"><a href="#">忘记密码？</a></span></li>
						<nav class="sub-inof"><input type="submit" value="登录">
						<p class="text-c">还没有账号？<span><a href="#">我想和作</a></span></p></nav>
						</form>
					</ul>
				
				
				</div>
			</nav>
		</div>
		<div class="clear_float"></div>
		<!-- footer bg -->
		<div class="footer text-c mt-50">
			<div class="container">
				<ul class="col-md-12 text-c mt-30 mb-10 col-md-offset-2 " >
					<li>纳邦首页</li>
					<ol><img src="images/index_03.png" alt=""></ol>
					<li>关于纳邦</li>
					<ol><img src="images/index_03.png" alt=""></ol>
					<li>纳邦新闻</li>
					<ol><img src="images/index_03.png" alt=""></ol>
					<li>合作流程</li>
					<ol><img src="images/index_03.png" alt=""></ol>
					<li>商家后台</li>
					<ol><img src="images/index_03.png" alt=""></ol>
					<li>常见问题</li>
					<ol><img src="images/index_03.png" alt=""></ol>
					<li>客服电话：<span>0757-28338383</span>（每天9:00到17:30）</li>
				</ul>
				<nav class="copy text-c mb-50">Copyright  &copy; 2016 nbesq.com 版权所有 京ICP证030273号 京公网安备1101080201606号</nav>
			</div>
		</div>
	</div>
</body>
</html>