<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>商家首页</title>
	<link type="text/css" rel="stylesheet" href="js/H-ui/css/H-ui.min.css">
	<link type="text/css" rel="stylesheet" href="js/H-ui/css/H-ui.reset.css">
	<link type="text/css" rel="stylesheet" href="css/shop_index.css">
</head>
<body>
	<div class="container-fluid bg-box">
		<div class="header container">
		<div class="col-md-12">
			<div class="lo-go f-l"><img src="images/logo.png" alt=""><span>商家合作</span></div>
			<ul class="head-title f-r ">
				<li> <a href="#">商家首页</a></li>
				<li><a href="#">营销案例</a></li>
				<li><a href="#">商家APP</a></li>
				<li><a href="#">登录</a><img src="images/index_03.png" alt=""><a href="#">注册</a></li>
			</ul>
		</div>
		</div>
		<nav class="bg-pic pos-r ">
			<img class="f-l" src="images/cban1.jpg" alt="">
			<nav class="container">
				<p class="f-l pos-a ml-20">百万商户的选择<br><span>携手纳邦e社区 , 轻松赚钱</span></p>
			</nav>
		</nav>
		<div class="clear_float"></div>
		<div class="conter-1 container ">
				<div class="cont-title text-c col-md-12"><span>用心去做 , 微笑服务是我们的理念</span><br>我们为商家提供连接消费者的阳光大道
				</div>
			<div class="conter-2 col-md-2 f-l text-c lh-30 ">
				<ul>
					<li><img src="images/ic1.png" alt=""></li>
					<li><span>创新模式</span></li>
					<li>丰富的客户资源流量,为商家提供与消费者对接的机会</li>
				</ul>
			</div>
			<div class="conter-2 col-md-2 f-l text-c lh-30  col-md-offset-3">
				<ul>
					<li><img src="images/ic2.png" alt=""></li>
					<li><span>渠道优势</span></li>
					<li>具有广泛与深度,效率与实力相结合的强力优势</li>
				</ul>
			</div>

			<div class="conter-2 col-md-2 f-l text-c lh-30 col-md-offset-3 ">
				<ul>
					<li><img src="images/ic3.png" alt=""></li>
					<li><span>品牌优势</span></li>
					<li>纳邦e社区品牌的绝对影响力,为商家带来无限商机</li>
				</ul>
			</div>
			<i class="clear_float"></i>
			<div class="conter-2 col-md-2 f-l text-c lh-30 ">
				<ul>
					<li><img src="images/ic4.png" alt=""></li>
					<li><span>极致服务</span></li>
					<li>细节服务,配套销售资源,曝光量大,销售量大</li>
				</ul>
			</div>
			<div class="conter-2 col-md-2 f-l text-c lh-30  col-md-offset-3">
				<ul>
					<li><img src="images/ic5.png" alt=""></li>
					<li><span>利益共享</span></li>
					<li>精诚合作,互利共赢,数百万品牌商信任之选</li>
				</ul>
			</div>

			<div class="conter-2 col-md-2 f-l text-c lh-30 col-md-offset-3 ">
				<ul>
					<li><img src="images/ic6.png" alt=""></li>
					<li><span>客户体验</span></li>
					<li>最佳的体验,量身定做的方案为商家销售带来快速持续的增长</li>
				</ul>
			</div>
			<div class="f-l col-md-offset-5 mt-50 mb-50">
				<nav class="sub text-c"><a href="#">我要合作</a></nav>
			</div>
		</div>
		<div class="clear_float"></div>
		<!-- footer bg -->
		<div class="footer text-c mt-50">
			<div class="container">
				<ul class="col-md-12 text-c mt-30 mb-10 col-md-offset-2 " >
					<li>纳邦首页</li>
					<ol><img src="images/index_03.png" alt=""></ol>
					<li>关于纳邦</li>
					<ol><img src="images/index_03.png" alt=""></ol>
					<li>纳邦新闻</li>
					<ol><img src="images/index_03.png" alt=""></ol>
					<li>合作流程</li>
					<ol><img src="images/index_03.png" alt=""></ol>
					<li>商家后台</li>
					<ol><img src="images/index_03.png" alt=""></ol>
					<li>常见问题</li>
					<ol><img src="images/index_03.png" alt=""></ol>
					<li>客服电话：<span>0757-28338383</span>（每天9:00到17:30）</li>
				</ul>
				<nav class="copy text-c mb-50">Copyright  &copy; 2016 nbesq.com 版权所有 京ICP证030273号 京公网安备1101080201606号</nav>
			</div>
		</div>
	</div>
</body>
</html>