<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>找回密码</title>
	<link type="text/css" rel="stylesheet" href="js/H-ui/css/H-ui.min.css">
	<link type="text/css" rel="stylesheet" href="js/H-ui/css/H-ui.reset.css">
	<link type="text/css" rel="stylesheet" href="css/shop_index.css">
</head>
<body>
<div class="container-fluid bg-box">
	<div class="header container">
	<div class="col-md-12">
		<div class="lo-go f-l"><img src="images/logo.png" alt=""><span>商家合作</span></div>
		<ul class="head-title f-r ">
			<li> <a href="#">商家首页</a></li>
			<li><a href="#">营销案例</a></li>
			<li><a href="#">商家APP</a></li>
			<li><a href="#">登录</a><img src="images/index_03.png" alt=""><a href="#">注册</a></li>
		</ul>
	</div>
	</div>
	<div class="clear_float"></div>
	<div class="container-fluid ad-bg">
		<div class="container">
		<div class="col-md-12">
			<div class="col-md-12 add-bg1">
			<nav class="add-title col-md-12">根据提示找回您的密码 <span><a href="#">返回登录页</a></span></nav>
			<ol class="play-ho  f-l lh-50 mt-20">
				<li><span>通过账号找回</span></li>
				<li><a href="#">通过手机号找回</a></li>
			</ol>
				<div class="ion-rig1 f-l mt-20">
					<ul class="f-l play-open">
						<li class="col-md-4"><img src="images/numz1.png" alt="">确认账号</li>
						<li class="col-md-4"><img src="images/numz2.png" alt="">安全验证</li>
						<li class="col-md-4"><img src="images/numz3.png" alt="">重置密码</li>
						<div class="progres"><div class="progress-bar"><span class="sr-only" style="width:35%"></span></div></div>
					</ul>
					<ul class="f-l ionp-pi col-md-offset-3 mt-40">
						<li>账户名：<input type="text" class="ion-po1" value="" placeholder="&nbsp;请输入账户名或邮箱"></li>
						<li>验证码：<input type="text" class="ion-po2" value="" placeholder="&nbsp;请输入验证码"><img class="ml-10" src="images/10_03.png" alt=""></li>
						<nav class="f-l mt-30 col-md-offset-3"><input type="submit" value="下一步"></nav>
					</ul>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="clear_float"></div>
	<!-- footer bg -->
	<div class="footer text-c mt-50">
		<div class="container">
			<ul class="col-md-12 text-c mt-30 mb-10 col-md-offset-2 " >
				<li>纳邦首页</li>
				<ol><img src="images/index_03.png" alt=""></ol>
				<li>关于纳邦</li>
				<ol><img src="images/index_03.png" alt=""></ol>
				<li>纳邦新闻</li>
				<ol><img src="images/index_03.png" alt=""></ol>
				<li>合作流程</li>
				<ol><img src="images/index_03.png" alt=""></ol>
				<li>商家后台</li>
				<ol><img src="images/index_03.png" alt=""></ol>
				<li>常见问题</li>
				<ol><img src="images/index_03.png" alt=""></ol>
				<li>客服电话：<span>0757-28338383</span>（每天9:00到17:30）</li>
			</ul>
			<nav class="copy text-c mb-50">Copyright  &copy; 2016 nbesq.com 版权所有 京ICP证030273号 京公网安备1101080201606号</nav>
		</div>
	</div>
</div>
</body>
</html>