<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>商家登录</title>
	<include file="Public:Business_header"/>
	<div class="clear_float"></div>
	<div class="container">
	<div class="min_box ml-50 col-md-11 mt-50 mb-50">
		<div class="conter_left col-xs-7">
			<p class="centre_title"><span class="centre_border"></span>&nbsp; <b>商家中心</b>
			</p>
			<form id="login_form" action="{:U('Test/Login/login')}">
			<ul class="conter_nav-1 f-l pos-r">
				<li>手&nbsp;&nbsp;&nbsp;&nbsp;机 <input class="pass"  type="text" id="username" name="username" value=""></li>
				<li>密&nbsp;&nbsp;&nbsp;&nbsp;码 <input class="pass" type="password" id="password" name="password" value=""></li>
				<!-- <li>验证码 &nbsp;<input class="pass" id="code" name="code" type="text" style="width:80px"  ><span>1100</span><font>看不清楚？换一张</font>	
				</li> -->
			</ul>
				<nav class="login_left">
					<div class="formControls skin-minimal col-md-11">
						<div class="check-box  f-l pos-r">
							<input type="checkbox" class="ml-10"><label for="checkbox-5" >记住账户</label>
						</div>
					</div>
				</nav>
			<ul class="conter_bot">
				<li class="login_reg col-xs-12">
					<input class="btn ml-10 mr-20" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" onclick="javascript:;">
				 <a href="{:U('Register/index')}">忘记密码&nbsp;|&nbsp;</a><a href="{:U('Register/index')}">注册</a></li>
				<li class="login_qq"><img class="login_qq1" src="Test_TMPL/images/qq_r5_c1.png" alt="">&nbsp;<span>用QQ账号登录</span>
				</li>
				<li><img class="login_qq2" src="Test_TMPL/images/login_r6_c7.png" alt=""><span>用微信账号登录</span></li>
			</ul>
			</form>
		</div>
		<div class="conter_right">
			<p>更方便 更快捷的体验</p>
			<p><img src="Test_TMPL/images/login1_r3_c5.jpg" alt=""></p>
			<p>手机客户端</p>
		</div>
	</div>
	</div>
	</div>
	</div>
	<include file="Public:Business_footer"/>
</body>
<script type="text/javascript" src="Test_TMPL/js/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript">
//var navigation = responsiveNav("Hui-navbar", {customToggle: ".nav-toggle"});
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
});
</script>
<script>
$(function() {
	//表单验证
	var demo=$("#login_form").Validform({
		tiptype:3,
		label:".label",
		showAllError:true,
		ajaxPost:true
	});
	demo.addRule([
	{
		ele:"#username",
		datatype:"*"
	},
	{
		ele:"#password",
		datatype:"*"
	}
	]);	
	//对提交的表单对象转化为json格式
	$.fn.serializeObject = function()
	{
	  var o = {};
	  var a = this.serializeArray();
	  $.each(a, function() {
	    if (o[this.name] !== undefined) {
	      if (!o[this.name].push) {
	        o[this.name] = [o[this.name]];
	      }
	      o[this.name].push(this.value || '');
	    } else {
	      o[this.name] = this.value || '';
	    }
	  });
	  return o;
	};	
	$('#submit').click(function(){
		$("#submit").attr("disabled", true);
		var data = $('#login_form').serializeObject();
		data.password = $.md5(data.password);//对密码进行md5处理
		demo.config({
	        ajaxpost:{
	        	data:data,
	        	success:function(data,obj){	 
	        		if(data.status=='1'){	        			
	        			location.href="{:U('Test/Member/index')}";	        			        			
			    	}		    	
			    	else{
			    		layer.alert(data.msg);
			    		$("#submit").attr("disabled", false);
			    	}
	        	}
	        }
	    });
	});
});
</script>
</html>