/* 内容样式 开始 */
.picture {float: left;}
.history {width: 412px; margin-left: 34px; float: left; border-collapse: collapse;}
.history .year {width: 115px; font-size: 30px;color: #143f8f; }
.history .month li {line-height: 24px;}
.history .dot {color: #1647a1}
.history .mon {color: #000}
.history .desc {color: #a3a3a3}
.history td {border-bottom: 1px dashed #dbdbdb;vertical-align: top;padding: 27px 0;}
.history .first td { padding-top: 0; }
.history .last td { border: none; }