form {
    padding-top: 20px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 3px solid #1647A1;
    width: 100%;
}
tr {
    border-bottom: 1px solid #E5E5E5;
}
td.prop {
    background: none repeat scroll 0 0 #F7F7F7;
    text-align: center;
    width: 102px;
}
td.prop label {
    color: #000000;
    font-weight: bold;
    line-height: 29px;
}
input, textarea {
    border: 1px solid #D6D6D6;
    margin-left: 15px;
    width: 95%;
}
.inpt_name, .inpt_pwd {
    width: 88%;
}
textarea {
    height: 187px;
    margin: 20px 0 20px 15px;
}
tr.button {
    border: medium none;
    text-align: center;
}
.button input {
    background: url("../images/msg_07.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #333333;
    height: 27px;
    margin-top: 11px;
    text-indent: 10px;
    width: 66px;
}
.content-right .title{margin-bottom:20px;}
.message p{line-height:35px;font-size:14px;}
.message .name{font-size:14px;}
.message .detials img{cursor:pointer;}
.message .detials span{float:right;}
.message table{border-top:1px solid #E5E5E5}
.message textarea{resize:none;overflow-y:scroll;}
.message input{width:150px;}
.page {height: 18px; width: 248px; margin: 0 auto; margin-top: 20px; }
.page a {display: block; width: 16px; height: 16px; float: left; text-align: center;line-height: 16px; color: #666;}
.page .current {color:#000;}
.prevs, .prev, .next, .nexts {border: 1px solid #ccc; color: #1647A1; margin-left: 4px;}
