/* 广告样式 开始 */
.ad { margin: 0 auto; width:1024px; }

/* 网页内容样式 开始 */
.content-left, .content-center, .content-right {  float: left; }/* 测试 */
.content { width: 1024px; margin:0 auto; padding-top: 20px; }
.content-left { width: 330px; padding-left: 20px; border: none;margin: 0;border-radius: none;}
.content-center { width: 329px; padding-left: 35px; /* background-color: #ccc; */ }
.content-right { width: 256px; padding-left: 0px }
.list-title li { float: left; height:22px; line-height:22px; width: 66px; border:1px solid #ccc; text-align: center; color: #666; background: url(../images/list-title-bg.png) repeat-x; }
.list-title .active { background:none; border-bottom: none; }
.list-title .more { background: none; border-top: none; border-right:none; width: 193px; text-align: right; border-left:none; height:23px; }

.list-article { margin-top: 6px; }
.list-article li { width: 330px; height: 21px; line-height:21px;  }
.list-article li a { color: #666; display:block;}
.list-article li .time { color: #89a1cf; }

.link-short {  border:1px solid #ccc; margin-top: 15px; height: 59px; }
.link-short li { width: 109px; float: left; height: 59px; background:url(../images/link-stort-bg.png) no-repeat left center; }
.link-short .first { background:none; }
.link-short img { float: left; margin: 9px 0 0 5px; }
.link-short p { text-align: center; margin-top: 12px; float:left; }
.link-short p span { color: #13449f; }

.content-center .top { width: 317px; height: 105px; border: 1px solid #ccc; background: url(../images/bg_01.png) repeat-x; position: relative;}
.top .photo { margin: 21px 0 0 26px; float: left; }
.top .info { float: right; width: 150px; margin: 10px 20px 0 0; }
.top .info li { text-align: right; line-height: 18px; color: #7e7e7e; }
.info b span { color: #000; }
.info span { color: #13449f; }
.top .info .description { text-indent: 2em; line-height: 16px; }
.top .btn-left { position: absolute; top: 43px; left: -10px; }
.top .btn-right { position: absolute; top: 43px; right: -10px; }

.article { margin-top: 27px; }
.article li { width: 160px; height: 55px; background: url(../images/link-short-bg.png) no-repeat right center; float: left;}
.article .photo { margin: 0 8px; float: left;}
.article p { width: 75px; float: left; line-height: 14px; color: #7e7e7e; }
.article p span { color: #000; font-weight: bold; }
.article .last { background: none; }

.content-right .box { width: 227px; }
.box .title { width: 224px; height: 20px; line-height: 20px; background: url(../images/bg_02.png) repeat-x; border: 1px solid #ccc; text-indent: 16px;margin: 0;font-size: 12px }
.title span { color: #999; }
.title img { float: right; margin: 7px 7px 0 0; }
.box-content p { width: 106px; padding: 12px 0 0 17px; float: left;}
.box-content p b { color: #13449f; line-height: 18px;}
.box-content p .more { margin-top:  4px; }
.box-content .photo { float: left; margin-top: 12px; }
.box { overflow: hidden; margin-left: 30px; }