/* 内容样式 开始 */
.product-img, .product-desc { float: left; }
.product-img { margin-right: 30px; }
.product-desc { text-align: left; float: left; width: 248px; }
.product-desc tr { }
.product-desc th,.product-desc td { border-bottom: 1px dashed #dbdbdb; vertical-align: top; padding: 13px 0; }
.product-scroll-img { height: 112px; border: 1px solid #ccc; border-radius: 4px; 
					 }
.product-small-img img { border: 1px solid #ccc; margin-right: 2px; float: left; cursor:pointer;width:78px;height:59px;}
.product-scroll-img li { width: 169px; height: 112px; text-align: center; float: left; }
.product-scroll-img img { margin-top: 5px; }
.gallery { position: relative; width:677px;  overflow:hidden;}
.gallery .btn-left { position: absolute; top:35px; left: 9px;cursor:pointer;z-index:100; }
.gallery .btn-right { position: absolute; top:35px; right: 9px;cursor:pointer; z-index:100;}
.tab { margin-top: 30px; }
.tab-title { width: 681px; height: 27px; background: url(../images/tabTitleBg.png) repeat-x; border-radius: 14px;}
.tab-title span { display: block; width: 92px; height: 20px; float: left; font-size: 12px; color: #fff; text-align: center; line-height: 20px; margin: 3px 0 0 17px; border-radius: 10px; cursor:pointer; } 
.tab-title .active { background-color: #fff; color: #494a4b } 

.description li { height: 122px; width: 681px; border-bottom: 1px dashed #dbdbdb }
.p-title { font-size: 14px; color: #2665a8; font-weight: bold; margin: 39px 0 13px 0; float: left;}
.p-desc { font-size: 12px; color: #707070; float: left;}

/*特效*/

.picScroll-left{ position:relative;  border:1px solid #ccc; padding-top:11px;padding-bottom:11px;  }
.picScroll-left .bd{padding-left:20px;padding-right:20px;}
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li{ margin:0 33px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.picScroll-left .bd ul li .pic{ text-align:center; }
.picScroll-left .bd ul li .pic img{ width:80px; height:80px; display:block;  padding:2px; }
.picScroll-left .bd ul li .pic a:hover img{ border-color:#999;  }
.picScroll-left .bd ul li .title_list{ border:none;background:none;font-size:12px;  }