.item {color: #1647a1; background: url(../images/ico_item.jpg) no-repeat left center; text-indent: 19px; font-size: 14px; line-height: 20px; margin-top: 20px;}
.p1 {line-height: 24px; color: #858585}
.box {width: 111px; height: 110px; border: 8px solid #dadfe7; padding: 9px; float: left; margin: 0 16px 16px 0}
.box h1 {font-size: 14px;}
.box p {width: 65px; color: #666; line-height: 14px; margin-top: 12px;}
.one {background: url(../images/box_ico.jpg) no-repeat 79px 82px;}
.pic_01 {float: left;margin-left: 44px;}
.boxs {width: 322px; float: left;}
.btn-01 {width: 145px; height: 27px; background: url(../images/btn-01.jpg); text-indent: 28px; line-height: 27px; margin-top: 15px;}
.process li { width: 120px; height: 120px; float: left; background: url(../images/circle.jpg); margin-right: 11px;}
.process .step { font-size: 18px; text-align: center; color: #8aa2cf; font-weight: bold; margin-top: 35px;}
.process .text { text-align: center; margin-top: 20px; }
.process .onstep {background: url(../images/oncircel.jpg);}
.onstep .step {color: #e8ecf5}
.onstep .text {color: #e8ecf5}
.process {background: url(../images/line.jpg) repeat-x left center; height: 120px; width: 664px;}
