
@charset "utf-8";
.left {
    padding: 0 0 0 34px;
}
.right {
    padding: 30px 0 0 51px;
    width: 681px;
}
.ill.f_right {
    float: right;
}
.prop {
    padding-right: 16px;
    text-align: right;
    width: 89px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1 {
    border-bottom: 3px solid #1647A1;
}
.login {
    padding: 56px 0;
}
.login input.inpt_text {
    width: 140px;
}
.login form {
    border-bottom: 1px solid #1647A1;
}
table.login {
    margin: 21px auto;
    padding-bottom: 20px;
}
label {
    color: #000000;
}
input.inpt_text {
    border: 1px solid #D6D6D6;
}
table.info {
    margin: 0 auto;
    width: 487px;
}
table.info td.head {
    vertical-align: top;
}
.info .inpt_select {
    width: 96px;
}
.info .inpt_select.sex {
    width: 66px;
}
.info .inpt_select .display {
    padding: 5px 0 5px 11px;
}
.info td {
    height: 31px;
}
.info input {
    border: 1px solid #CCCCCC;
    height: 22px;
    margin: 0;
    width: 80%;
}
.ill.info {
    float: right;
}
.info td.head {
    text-align: center;
    width: 115px;
}
.info td.head img {
    padding-bottom: 7px;
}
.info td.address .inpt_select {
    float: left;
    margin-right: 3px;
}
.info textarea {
    border: 1px solid #CCCCCC;
    height: 127px;
    width: 397px;
}
.info .inpt_submit {
    border: medium none;
    height: 47px;
    padding-top: 9px;
    width: 55px;
}
.register {
    clear: both;
}
.register table {
    margin: 33px auto 0;
    width: 414px;
}
.register input.inpt_text {
    width: 200px;
}
.register textarea {
    border: 1px solid #CCCCCC;
    height: 102px;
    margin: 9px 0 14px;
    width: 341px;
}
.register .inpt_submit, .register .inpt_reset {
    border: medium none;
    height: 47px;
    margin-right: 13px;
    width: 55px;
}
.register .inpt_submit {
    background: url("../images/reg_07.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.register .inpt_reset {
    background: url("../images/reg_09.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.info select {width: 80px;}
