		<div class="footer text-c mt-50">
			<div class="container">
				<ul class="col-md-12 text-c mt-30 mb-10 col-md-offset-2 " >
					<li>纳邦首页</li>
					<ol><img src="Test_TMPL/images/index_03.png" alt=""></ol>
					<li>关于纳邦</li>
					<ol><img src="Test_TMPL/images/index_03.png" alt=""></ol>
					<li>纳邦新闻</li>
					<ol><img src="Test_TMPL/images/index_03.png" alt=""></ol>
					<li>合作流程</li>
					<ol><img src="Test_TMPL/images/index_03.png" alt=""></ol>
					<li>商家后台</li>
					<ol><img src="Test_TMPL/images/index_03.png" alt=""></ol>
					<li>常见问题</li>
					<ol><img src="Test_TMPL/images/index_03.png" alt=""></ol>
					<li>客服电话：<span>0757-28338383</span>（每天9:00到17:30）</li>
				</ul>
				<nav class="copy text-c mb-50">Copyright  &copy; 2016 nbesq.com 版权所有 京ICP证030273号 京公网安备1101080201606号</nav>
			</div>
		</div>