	<link rel="stylesheet" type="text/css" href="Test_TMPL/js/H-ui/css/H-ui.min.css"/>
	<link rel="stylesheet" type="text/css" href="Test_TMPL/js/H-ui/css/H-ui.reset.css"/>
	<link type="text/css" rel="stylesheet" href="Test_TMPL/css/shop_index.css">
	<link type="text/css" rel="stylesheet" href="Test_TMPL/js/icheck/icheck.css">
	<script type="text/javascript" src="Test_TMPL/js/jquery-1.7.min.js"></script>
	<script type="text/javascript" src="Test_TMPL/js/H-ui/js/H-ui.js"></script>
	<script type="text/javascript" src="Test_TMPL/js/shops-us.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=8YLug7T5QfNHtHC8uBlZQyUfsNSUBxC2"></script>
	<script type="text/javascript" src="Test_TMPL/js/layer/layer.js"></script>
	<script type="text/javascript" src="Test_TMPL/js/icheck/jquery.icheck.min.js"></script>
	<script type="text/javascript">
	//var navigation = responsiveNav("Hui-navbar", {customToggle: ".nav-toggle"});
	$(function(){
		$('.skin-minimal input').iCheck({
			checkboxClass: 'icheckbox-blue',
			radioClass: 'iradio-red',
			increaseArea: '20%'
		});
	});
</script>
</head>
<body>
	<div class="container-fluid bg-box">
		<div class="header container">
		<div class="col-md-12">
			<div class="lo-go f-l"><img src="Test_TMPL/images/logo.png" alt=""><span>商家合作</span></div>
			<ul class="head-title f-r ">
				<li> <a href="#">商家首页</a></li>
				<li><a href="#">营销案例</a></li>
				<li><a href="#">商家APP</a></li>
				<li><a href="#">登录</a><img src="Test_TMPL/images/index_03.png" alt=""><a href="#">注册</a></li>
			</ul>
		</div>
		</div>