<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>差评</title>
	<include  file="Public:Business_header"/>
<div class="clear_float"></div>
<div class="min_box-101 container">
	<div class="nav_conter f-l  mt-15 ml-30  mb-50">
		<div class="nav-1">
			<b><span>我的账户</span></b>
			<ul class="nav-0">
				<li ><a href="{:U('Business/index')}">&bull;&nbsp;账户设置</a></li>
				<li  ><a href="{:U('keep')}">&bull;&nbsp;交易记录</a></li>
				<li ><a href="{:U('secure')}">&bull;&nbsp;安全中心</a></li>
			</ul>
			<b><span>客户评价</span></b>
			<ul class="nav-0">
				<li ><a href="{:U('appraise')}">&bull;&nbsp;全部</a></li>
				<li ><a href="{:U('appraise1')}">&bull;&nbsp;好评</a></li>
				<li class="bgnav-box"><a href="{:U('appraise2')}">&bull;&nbsp;差评</a><span class="f-r mr-10">&gt;</span></li>
			</ul>
		</div>
	</div>	
	<div class="nav_right col-xs-8 col-md-8 col-lg-8 mt-30 ml-50">
		<ul class="">
			<li><a href="{:U('appraise')}">全部</a></li>
			<li><a href="{:U('appraise1')}">好评</a></li>
			<p class="right_title"><span>差评</span></p>
		</ul>
	</div>
<div class="f-l col-xs-8 col-md-8 col-lg-8 mt-30 ml-50">
 <div class="conter_box col-xs-12 col-md-12 col-lg-12">
		<ul class="header_pro col-md-2">
			<li><img src="Test_TMPL/images/appi_r5_c1.jpg" alt=""><br><span class="ml-5 mt-5 f-l">最佳损友</span></li>
		</ul>
		<div class="app_conter col-xs-10 col-md-10 col-lg-10">
			<ul class="star">
				<li><img src="Test_TMPL/images/appi_r6_c5.png" alt=""></li>
				<li><img src="Test_TMPL/images/appi_r6_c5.png" alt=""></li>
				<li><img src="Test_TMPL/images/appi_r6_c5.png" alt=""></li>
				<li><img src="Test_TMPL/images/appi_r6_c5.png" alt=""></li>
				<li><img src="Test_TMPL/images/app_03.png" alt=""></li>
				<li> &nbsp;<span>2016-07-01</span></li>
			</ul>
				<p>环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环，</p>
			<ul class="app_img">
				<p>吃货饿货吃货饿货吃货饿货吃货饿货</p>
			</ul>
		</div>
	</div>
	<div class="conter_box col-xs-12 col-md-12 col-lg-12">
		<ul class="header_pro col-md-2">
			<li><img src="Test_TMPL/images/appi_r5_c1.jpg" alt=""><br><span class="ml-5 mt-5 f-l">最佳损友</span></li>
		</ul>
		<div class="app_conter col-xs-10 col-md-10 col-lg-10">
			<ul class="star">
				<li><img src="Test_TMPL/images/appi_r6_c5.png" alt=""></li>
				<li><img src="Test_TMPL/images/appi_r6_c5.png" alt=""></li>
				<li><img src="Test_TMPL/images/appi_r6_c5.png" alt=""></li>
				<li><img src="Test_TMPL/images/appi_r6_c5.png" alt=""></li>
				<li><img src="Test_TMPL/images/app_03.png" alt=""></li>
				<li> &nbsp;<span>2016-07-01</span></li>
			</ul>
				<p>环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环，</p>
			<ul class="app_img">
				<p>吃货饿货吃货饿货吃货饿货吃货饿货</p>
			</ul>
		</div>
	</div>
	<div class="conter_box col-xs-12 col-md-12 col-lg-12">
		<ul class="header_pro col-md-2">
			<li><img src="Test_TMPL/images/appi_r5_c1.jpg" alt=""><br><span class="ml-5 mt-5 f-l">最佳损友</span></li>
		</ul>
		<div class="app_conter col-xs-10 col-md-10 col-lg-10">
			<ul class="star">
				<li><img src="Test_TMPL/images/appi_r6_c5.png" alt=""></li>
				<li><img src="Test_TMPL/images/appi_r6_c5.png" alt=""></li>
				<li><img src="Test_TMPL/images/appi_r6_c5.png" alt=""></li>
				<li><img src="Test_TMPL/images/appi_r6_c5.png" alt=""></li>
				<li><img src="Test_TMPL/images/app_03.png" alt=""></li>
				<li> &nbsp;<span>2016-07-01</span></li>
			</ul>
				<p>环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环，</p>
			<ul class="app_img">
				<p>吃货饿货吃货饿货吃货饿货吃货饿货</p>
			</ul>
		</div>
	</div>
	<div class="conter_box col-xs-12 col-md-12 col-lg-12">
		<ul class="header_pro col-md-2">
			<li><img src="Test_TMPL/images/appi_r5_c1.jpg" alt=""><br><span class="ml-5 mt-5 f-l">最佳损友</span></li>
		</ul>
		<div class="app_conter col-xs-10 col-md-10 col-lg-10">
			<ul class="star">
				<li><img src="Test_TMPL/images/appi_r6_c5.png" alt=""></li>
				<li><img src="Test_TMPL/images/appi_r6_c5.png" alt=""></li>
				<li><img src="Test_TMPL/images/appi_r6_c5.png" alt=""></li>
				<li><img src="Test_TMPL/images/appi_r6_c5.png" alt=""></li>
				<li><img src="Test_TMPL/images/app_03.png" alt=""></li>
				<li> &nbsp;<span>2016-07-01</span></li>
			</ul>
				<p>环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环境很好，停车很方便环，</p>
			<ul class="app_img">
				<p>吃货饿货吃货饿货吃货饿货吃货饿货</p>
			</ul>
		</div>
	</div>
	</div>
	<div class="clear_float"></div>
	<div class="pages">
		<div> <a class="prev" href="">上一页</a> <a class="num" href="">1</a><span class="current">2</span><a class="num" href="">3</a><a class="num" href="">4</a><a class="num" href="">5</a> <a class="next" href="">下一页</a> <a class="end" href="">尾页</a></div>        
		</div>
	</div>
	<include  file="Public:Business_footer"/>
</body>
</html>