<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>交易记录</title>
	<include  file="Public:Business_header"/>
	<script type="text/javascript" src="Test_TMPL/js/jquery_keep.js"></script> 
<div class="clear_float"></div>
<div class="min_box-1 container">
	<div class="nav_conter f-l  mt-15 ml-30  mb-50">
		<div class="nav-1">
			<b><span>我的账户</span></b>
			<ul class="nav-0">
				<li ><a href="{:U('Business/index')}">&bull;&nbsp;账户设置</a></li>
				<li  class="bgnav-box"><a href="{:U('keep')}">&bull;&nbsp;交易记录</a><span class="f-r mr-10">&gt;</span></li>
				<li ><a href="{:U('secure')}">&bull;&nbsp;安全中心</a></li>
			</ul>
			<b><span>客户评价</span></b>
			<ul class="nav-0">
				<li ><a href="{:U('appraise')}">&bull;&nbsp;全部</a></li>
				<li ><a href="{:U('appraise1')}">&bull;&nbsp;好评</a></li>
				<li><a href="{:U('appraise2')}">&bull;&nbsp;差评</a></li>
			</ul>
		</div>
	</div>	
	<div class="conter_box-05 col-md-9 ml-40 mt-40">
		<p class="conter_title-02">您当前进账积分为：<span>3000</span></p>
	<div class="keep_box">
		<form method="get" id="" action="">
		    <fieldset class="search">
		         <input type="text" class="box" name="s" id="s" class="inputText" placeholder="查询记录" x-webkit-speech>
		          <button class="btn" title="SEARCH"> </button>
		    </fieldset>
		</form>
	</div>
	<div class="clear_float"></div>
	<div class="keep_conter mt-15" id="qwer">
		<ul class="top_title container-fluid"> 
			<li><span>时间</span></li>
			<li><span>客户</span></li>
			<li><span>消费积分</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
		<ul class="keep_table container-fluid"> 
			<li><span>2016-07-01 13:13</span></li>
			<li><span>135****9240</span></li>
			<li class="keep_tableone">500<span>&nbsp;&nbsp;&nbsp;(电子券抵50)</span></li>
		</ul>
	</div>
	 <div id="read-more" class="f-l col-xs-offset-5"><img class="f-r mr-10 mt-15" src="Test_TMPL/images/more.png" alt=""></div>
	</div>
	</div>
	<include  file="Public:Business_footer"/>
</body>
</html>