<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>安全中心</title>
	<include  file="Public:Business_header"/>
<div class="clear_float"></div>
<div class="min_box-02 container">
	<div class="nav_conter f-l  mt-15 ml-30  mb-50">
		<div class="nav-1">
			<b><span>我的账户</span></b>
			<ul class="nav-0">
				<li ><a href="{:U('Business/index')}">&bull;&nbsp;账户设置</a></li>
				<li  ><a href="{:U('keep')}">&bull;&nbsp;交易记录</a></li>
				<li class="bgnav-box"><a href="{:U('secure')}">&bull;&nbsp;安全中心</a><span class="f-r mr-10">&gt;</span></li>
			</ul>
			<b><span>客户评价</span></b>
			<ul class="nav-0">
				<li ><a href="{:U('appraise')}">&bull;&nbsp;全部</a></li>
				<li ><a href="{:U('appraise1')}">&bull;&nbsp;好评</a></li>
				<li><a href="{:U('appraise2')}">&bull;&nbsp;差评</a></li>
			</ul>
		</div>
	</div>	
	<div class="nav_right col-xs-8 col-md-8 col-lg-8 mt-30 ml-50">
		<ul class="">
			<li><a href="{:U('Business/index')}">基本信息</a></li>
			<p class="right_title"><span>安全中心</span></p>
		</ul>
	</div>
	<ul class="nav_msg-1 mt-20">
		<li>登录密码 &nbsp;&nbsp; <span style="color:#d80100;">等级中</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#a8a8a8;">提升密码安全强度有利于保护账号安全</span><span><a href="javascript:void(0);" onclick="func1()">修改</a></span></li>
		<li>手&nbsp; &nbsp;机&nbsp;号 &nbsp; &nbsp;<span style="color:#eb1100;">已绑定</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#a8a8a8;">135****49240</span> <span><a href="edit_conter.html">换绑</a></span></li>
		<li>邮 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  箱 &nbsp;&nbsp;&nbsp;<span style="color:#d80100;">未设置</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#a8a8a8;">绑定邮箱，帮助您找回密码</span><span><a href="javascript:void(0);"  onclick="func2()">立即绑定</a></span></li>
		<!-- <li>安全问题 &nbsp;&nbsp;&nbsp;<span style="color:#d80100;">未设置</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#a8a8a8;">保护账号安全，验证您身份的工具之一</span><span><a href="">立即绑定</a></span></li> -->
	</ul>
</div>
</div>
	<include  file="Public:Business_footer"/>
</body>
<script type="text/javascript">
		function func1() {
        layer.open({
        	title: [
		    '修改登录密码',
		    'background-color:#eb1100; color:#fff;']
            ,type: 1,
            skin: 'layui-layer-rim', //加上边框
            area: ['600px', '340px'], //宽高
            content: ' <div class="col-md-12"><form action="" method=""><ul class="inp-box  lh-50 col-md-12"><li class="ml-15">当前登录密码 <input type="text" value=""><img src="Test_TMPL/images/user_r4_c9.png" alt="images"><span>请填写信息</span></li><li class="ml-30">新登录密码 <input type="text" value=""><img src="Test_TMPL/images/user_r4_c9.png" alt="images"><span>请填写信息</span></li><li>确认新登录密码<input type="text" value=""><img src="Test_TMPL/images/user_r4_c9.png" alt="images"><span>请填写信息</span></li></ul><ol class="col-md-12 text-c mt-40 "><input type="submit" class="btn btn-primary" value="确定修改"  ></ol></form></div>'
       	 });
    	}
    	function func2() {
        layer.open({
        	title: [
		    '绑定邮箱',
		    'background-color:#eb1100; color:#fff;']
            ,type: 1,
            skin: 'layui-layer-rim', //加上边框
            area: ['600px', '300px'], //宽高
            content: ' <div class="col-md-12"><form action="" method=""><ul class="inp-box-1  lh-60 col-md-12"><li class=" ml-30">邮箱&nbsp;<input type="text" value=""><img src="Test_TMPL/images/user_r4_c9.png" alt="images"><span>请填写信息</span></li><li>登录密码&nbsp;<input type="text" value=""><img src="Test_TMPL/images/user_r4_c9.png" alt="images"><span>请填写信息</span></li></ul><ol class="col-md-6 text-c mt-40 "><input type="submit" class="btn btn-primary" value="确定修改"  ></ol></form></div>'
       	 });
    	}
</script>
</html>