.login { padding-top: 14px; margin-top: 60px;border-bottom: 1px dashed #dbdbdb;}
.head {width: 333px; height: 60px; background: url(../images/login.jpg); border-bottom: 3px solid #1647a1; }
.input-text {width: 187px; height: 19px;}
.login-input {width: 333px; padding: 16px 0;border-bottom: 1px solid #1647a1;}
.login-input tr {line-height: 28px}
.note {color: #707070; line-height: 18px; text-indent: 6px; background: url(../images/note-ico.jpg) no-repeat left center;}

.login h3{font-size:30px;color:#333;font-weight:normal;}
.login table tr{height:30px;}
.login input{vertical-align:middle;}
.login .t-r{text-align:right;font-size:14px;padding-right:10px;}
.login .w200{width:200px;}
.login table img{cursor:pointer;}
.login .h70{height:70px;}